<div [dir]="direction">
    <div class="p-6">
        <button class="block ms-auto" (click)="close()">
            <i class="pi pi-times"></i>
        </button>
        <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">أيام العمل الخاصة بالوردية</h3>
        <div class="mt-6">
            <ul class="flex items-center gap-4 flex-wrap">
                <li
                    class="min-w-[64px] min-h-[32px] flex flex-row justify-center items-center gap-1 px-3 rounded-full bg-[#f3f4f6] text-[#161616] text-[16px] font-medium">
                    الأحد
                </li>
                <li
                    class="min-w-[64px] min-h-[32px] flex flex-row justify-center items-center gap-1 px-3 rounded-full bg-[#f3f4f6] text-[#161616] text-[16px] font-medium">
                    الأحد
                </li>
                <li
                    class="min-w-[64px] min-h-[32px] flex flex-row justify-center items-center gap-1 px-3 rounded-full bg-[#f3f4f6] text-[#161616] text-[16px] font-medium">
                    الأحد
                </li>
                <li
                    class="min-w-[64px] min-h-[32px] flex flex-row justify-center items-center gap-1 px-3 rounded-full bg-[#f3f4f6] text-[#161616] text-[16px] font-medium">
                    الأحد
                </li>
                <li
                    class="min-w-[64px] min-h-[32px] flex flex-row justify-center items-center gap-1 px-3 rounded-full bg-[#f3f4f6] text-[#161616] text-[16px] font-medium">
                    الأحد
                </li>
            </ul>
            <div class="actions mt-6 flex items-center justify-end gap-4">
                <button class="btn gray-btn" (click)="close()">الغاء</button>
            </div>
        </div>
    </div>
</div>