<section class="flex items-center justify-center text-center min-h-screen">
    <figure>
        <img class="w-full max-w-[458px]" src="/assets/imgs/403.svg" alt="">
        <figcaption class="mt-[32px] sm:mt-[48px] md:mt-[64px]">
            <h3 class="text-[24px] font-semibold text-[#161616] mb-4">الوصول غير مصرح به</h3>
            <p class="text-[16px] sm:text-[18px] text-[#161616]">عذرًا، لا تملك الصلاحيات اللازمة للوصول إلى هذه الصفحة
            </p>
        </figcaption>
    </figure>
</section>