<div dir="rtl">
  <div class="p-6">
    <button class="block ms-auto" (click)="close()">
      <i class="pi pi-times close-popup"></i>
    </button>
    <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">بيانات المهمة و الاسناد</h3>
    <div class="bg-[#074d31] rounded-2xl p-6 mb-6">
      <div class="bg-[#1B835433] border border-[#1b8354] rounded-2xl px-6 py-3">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <div class="flex flex-col gap-1 text-white">
            <span class="text-[14px]">اسم المهمة بالعربية</span>
            <h4 class="font-semibold text-[16px]">مهمة خارجية أمنية</h4>
          </div>
          <div class="flex flex-col gap-1 text-white">
            <span class="text-[14px]">اسم المهمة بالانجليزية</span>
            <h4 class="font-semibold text-[16px]">مهمة خارجية أمنية</h4>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-10">
        <div class="flex flex-col gap-1 text-white">
          <span class="text-[14px]">تاريخ البداية</span>
          <h4 class="font-semibold text-[16px]">12/12/2024</h4>
        </div>
        <div class="flex flex-col gap-1 text-white">
          <span class="text-[14px]">تاريخ النهاية</span>
          <h4 class="font-semibold text-[16px]">12/12/2024</h4>
        </div>
        <div class="flex flex-col gap-1 text-white">
          <span class="text-[14px]">مسند المهمة</span>
          <h4 class="font-semibold text-[16px]">الاسم</h4>
        </div>
      </div>
    </div>
    <div class="bg-[#f3f4f6] rounded-2xl p-6">
      <h4 class="text-[#6c737f] text-[14px] mb-2">وصف المهمة</h4>
      <p class="text-[#161616] text-[16px] font-semibold">
        هنا يكون محتوى وصف المهمة هنا يكون محتوى وصف المهمة هنا يكون محتوى وصف المهمة
      </p>
    </div>
    <div class="mt-6 pt-6 border-t border-[#d2d6db]">
      <h4 class="text-[#6c737f] text-[14px]">الموظفون المعنيون بتنفيذ المهام</h4>
      <div class="flex flex-wrap gap-4 mt-4">
        <div class="bg-[#f3f4f6] rounded-full px-3">
          <span class="text-[#161616] font-medium">محمد احمد طه</span>
        </div>
        <div class="bg-[#f3f4f6] rounded-full px-3">
          <span class="text-[#161616] font-medium">محمد احمد طه</span>
        </div>
        <div class="bg-[#f3f4f6] rounded-full px-3">
          <span class="text-[#161616] font-medium">محمد احمد طه</span>
        </div>
        <div class="bg-[#f3f4f6] rounded-full px-3">
          <span class="text-[#161616] font-medium">محمد احمد طه</span>
        </div>
        <div class="bg-[#f3f4f6] rounded-full px-3">
          <span class="text-[#161616] font-medium">محمد احمد طه</span>
        </div>
        <div class="bg-[#f3f4f6] rounded-full px-3">
          <span class="text-[#161616] font-medium">محمد احمد طه</span>
        </div>
      </div>
    </div>
    <div class="actions mt-6 flex items-center justify-between gap-4">
      <button (click)="close()" class="btn gray-btn">الغاء</button>
    </div>
  </div>
</div>