<div [dir]="direction">
  <div class="p-6">
    <button (click)="close()" class="block ms-auto">
      <i class="pi pi-times"></i>
    </button>
    <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">
      {{ 'REGIONS_PAGE.ADD_NEW_REGION' | translate }}
    </h3>
    <form [formGroup]="form" class="mt-6">
      <div class="grid sm:grid-cols-2 gap-4">
        <div>
          <label class="label" for="regionAr-popup">{{
            'REGIONS_PAGE.REGION_IN_ARABIC' | translate
          }}</label>
          <div class="relative">
            <input
              class="peer"
              fluid="true"
              formControlName="nameAr"
              id="regionAr-popup"
              pInputText
              placeholder="{{ 'REGIONS_PAGE.REGION_IN_ARABIC' | translate }}"
              type="text"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="nameArControl"></app-validation-messages>
        </div>
        <div>
          <label class="label" for="regionEn-popup">{{
            'REGIONS_PAGE.REGION_IN_ENGLISH' | translate
          }}</label>
          <div class="relative">
            <input
              class="peer"
              fluid="true"
              formControlName="nameEn"
              id="regionEn-popup"
              pInputText
              placeholder="{{ 'REGIONS_PAGE.REGION_IN_ENGLISH' | translate }}"
              type="text"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="nameEnControl"></app-validation-messages>
        </div>
      </div>
      <div class="actions mt-6 flex items-center justify-end gap-4">
        <button (click)="close()" class="btn gray-btn">{{ 'COMMON.CANCEL' | translate }}</button>
        <button (click)="save$.next()" class="btn green-btn">
          {{ 'COMMON.SAVE' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
