.page-content {
    display: flex;
    gap: 24px;

    @media(max-width: 800px) {
        flex-direction: column;
    }


    .page-details {
        width: 100%;

        @media(min-width: 800px) {
            width: calc(100% - 250px);
        }

    }
}