<section class="custom-container">
  <div class="px-8 py-6 sm:px-28 sm:py-20 max-w-[722px] rounded-xl bg-white">
    <h1
      class="text-[24px] sm:text-[30px] md:text-[36px] lg:text-[42px] font-bold text-[#161616] mb-[32px] sm:mb-[48px]"
    >
      تعيين كلمة المرور الجديدة
    </h1>
    <form>
      <div class="relative w-full mb-5">
        <label for="" class="text-sm font-normal text-[#161616] block mb-2">كلمة المرور</label>
        <input class="peer" type="password" pInputText placeholder="كلمة المرور" fluid="true" />
        <span
          class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus:left-0 peer-focus:w-full"
        ></span>
      </div>
      <div class="relative w-full">
        <label for="" class="text-sm font-normal text-[#161616] block mb-2"
          >تأكيد كلمة المرور</label
        >
        <input
          class="peer"
          type="password"
          pInputText
          placeholder="تأكيد كلمة المرور"
          fluid="true"
        />
        <span
          class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus:left-0 peer-focus:w-full"
        ></span>
      </div>
      <div class="mt-10 flex items-center justify-between flex-wrap gap-4">
        <button class="btn green-btn">تعيين كلمة المرور</button>
        <a
          class="btn gray-btn inline-flex items-center justify-center min-h-[40px] px-3 rounded text-[14px] font-medium hover:bg-[#f1f1f1] transition"
          href=""
          >الغاء</a
        >
      </div>
    </form>
  </div>
</section>
