::ng-deep {
  p-splitbutton {
    button {
      background-color: #f3f4f6 !important;
      border: none !important;
      color: #161616 !important;
      border-radius: 4px !important;
      min-height: 36px !important;

      &.p-splitbutton-button {
        display: none;
      }

      &:hover {
        background-color: #e5e7eb !important;
      }
    }
  }
  .p-tieredmenu-item-link {
    justify-content: flex-end !important;
    color: #161616 !important;
  }
  .p-menuitem-danger {
    span {
      color: #b42318 !important;
    }
  }
}
