<div class="bg-white">
  <div class="bg-[#f9fafb] p-3 sm:p-6">
    <div class="header bg-white rounded-2xl p-4 sm:p-6 mb-6">
      <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
      <h3 class="text-xl sm:text-2xl md:text-3xl font-bold text-[#161616]">قائمة الموظفين</h3>
    </div>
    <div class="bg-white rounded-2xl p-4 sm:p-8 border border-[#d2d6db]">
      <div class="p-6 sm:p-8 rounded-2xl bg-[#f3f4f6]">
        <div class="flex items-center justify-between">
          <h5 class="text-base sm:text-lg md:text-xl font-bold text-[#161616]">تصفية البحث</h5>
        </div>
        <div class="pt-6">
          <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-8">
            <div class="relative">
              <label for="" class="label">الادارة</label>
              <p-select
                [options]="adminstrations"
                [(ngModel)]="selectedAdminstration"
                optionLabel="type"
                placeholder="الادارة"
                class="w-full peer"
              ></p-select>
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
            <div class="relative">
              <label for="" class="label">اسم الموظف عربي</label>
              <p-select
                [options]="adminstrations"
                [(ngModel)]="selectedAdminstration"
                optionLabel="type"
                placeholder="اسم الموظف"
                class="w-full peer"
              ></p-select>
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
            <div class="relative">
              <label for="" class="label">اسم الموظف انجليزي </label>
              <p-select
                [options]="adminstrations"
                [(ngModel)]="selectedAdminstration"
                optionLabel="type"
                placeholder="اسم الموظف"
                class="w-full peer"
              ></p-select>
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
            <div class="relative">
              <label for="" class="label">تاريخ الالتحاق</label>
              <p-datepicker
                [(ngModel)]="date2"
                [iconDisplay]="'input'"
                [showIcon]="true"
                placeholder="تاريخ الالتحاق"
                class="peer block w-full"
                inputId="icondisplay"
              >
                <ng-template pTemplate="inputicon">
                  <img src="assets/icons/calender-icon.svg" alt="" />
                </ng-template>
              </p-datepicker>
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
            <div class="relative">
              <label for="" class="label">حالة الحساب</label>
              <p-select
                [options]="adminstrations"
                [(ngModel)]="selectedAdminstration"
                optionLabel="type"
                placeholder="اسم الموظف"
                class="w-full peer"
              ></p-select>
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
            <div class="relative">
              <label for="" class="label">الوظيفة</label>
              <p-select
                [options]="adminstrations"
                [(ngModel)]="selectedAdminstration"
                optionLabel="type"
                placeholder="الوظيفة"
                class="w-full peer"
              ></p-select>
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
            <div class="relative">
              <label for="" class="label">نوع الدوام</label>
              <p-select
                [options]="adminstrations"
                [(ngModel)]="selectedAdminstration"
                optionLabel="type"
                placeholder="نوع الدوام"
                class="w-full peer"
              ></p-select>
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
            <div class="relative">
              <label for="" class="label">الإعفاء من البصمة</label>
              <p-select
                [options]="adminstrations"
                [(ngModel)]="selectedAdminstration"
                optionLabel="type"
                placeholder="نوع الدوام"
                class="w-full peer"
              ></p-select>
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
          </div>

          <div class="actions flex items-center gap-4 pt-6">
            <button class="btn black-btn">بحث</button>
            <button class="btn gray-btn border border-[#d2d6db]">إعادة تعيين</button>
          </div>
        </div>
      </div>
      <div class="mt-6">
        <div
          class="flex items-start xl:items-center justify-between justify-between flex-col xl:flex-row gap-4 bg-[#e5e7eb] rounded-lg p-4 sm:p-6 mb-4"
        >
          <h4 class="text-lg sm:text-xl md:text-2xl font-bold text-[#161616]">قائمة الموظفين</h4>
          <div class="actions flex items-center gap-4 ms-auto">
            <button>
              <img src="assets/icons/excel.svg" alt="" />
            </button>
            <button class="cursor-pointer">
              <img src="assets/icons/print.svg" alt="" />
            </button>
            <button class="btn green-btn flex items-center" (click)="addNewEmployeePopup()">
              <img src="assets/icons/plus.svg" alt="" />
              <span>إضافة موظف جديد</span>
            </button>
          </div>
        </div>
        <p-table [value]="attendance">
          <ng-template #header>
            <tr>
              <th>معرف الموظف</th>
              <th>اسم الموظف عربي</th>
              <th>اسم الموظف انجليزي</th>
              <th>الإدارة</th>
              <th>الاعفاء من البصمة</th>
              <th>الوظيفة</th>
              <th>نوع الدوام</th>
              <th>تاريخ الالتحاق</th>
              <th>حالة الحساب</th>
              <th>الإجراء</th>
            </tr>
          </ng-template>
          <ng-template #body let-attendance>
            <tr>
              <td>{{ attendance.serialNumber }}</td>
              <td>{{ attendance.employeeNameAr }}</td>
              <td>{{ attendance.employeeNameEn }}</td>
              <td>{{ attendance.adminstration }}</td>
              <td>
                <div class="flex justify-center gap-2">
                  <img src="assets/icons/right-icon.svg" alt="" />
                  <img src="assets/icons/wrong-icon.svg" alt="" />
                </div>
              </td>
              <td>{{ attendance.jop }}</td>
              <td>{{ attendance.date }}</td>
              <td>
                <div class="flex justify-center gap-2">
                  <img src="assets/icons/right-icon.svg" alt="" />
                  <img src="assets/icons/wrong-icon.svg" alt="" />
                </div>
              </td>
              <td>12/12/2024</td>
              <td>
                <div class="flex gap-4">
                  <button
                    class="btn gray-btn flex align-items gap-4 min-w-[144px]"
                    (click)="openEmployeePermissionModal()"
                  >
                    <img src="/assets/icons/edit.svg" alt="" />
                    <span class="text-sm">تعديل الصلاحية</span>
                  </button>
                  <p-splitbutton dropdownIcon="pi pi-ellipsis-v" [model]="itemsList" />
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <p-paginator
          class="mt-6"
          (onPageChange)="onPageChange($event)"
          [first]="first"
          [rows]="rows"
          [totalRecords]="120"
          [rowsPerPageOptions]="[10, 20, 30]"
        />
        <div></div>
      </div>
    </div>
  </div>
</div>
