<div class="bg-white">
  <div class="bg-[#f9fafb] p-3 sm:p-6">
    <div class="header bg-white rounded-2xl p-4 sm:p-6 mb-6">
      <p-breadcrumb [home]="home" [model]="breadcrumbs" class="max-w-full">
        <ng-template let-item pTemplate="item">
          <span>{{ item.label | translate }}</span>
        </ng-template>
      </p-breadcrumb>
      <h3 class="text-xl sm:text-2xl md:text-3xl font-bold text-[#161616]">
        {{ 'EMPLOYEES_PAGE.EMPLOYEES_LIST' | translate }}
      </h3>
    </div>
    <div class="bg-white rounded-2xl p-4 sm:p-8 border border-[#d2d6db]">
      <div class="p-6 sm:p-8 rounded-2xl bg-[#f3f4f6]">
        <div class="flex items-center justify-between">
          <h5 class="text-base sm:text-lg md:text-xl font-bold text-[#161616]">
            {{ 'COMMON.SEARCH_FILTERS' | translate }}
          </h5>
        </div>
        <div class="pt-6">
          <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8">
            <div class="relative">
              <label class="label" for="employeeNameAr">{{
                'EMPLOYEES_PAGE.EMPLOYEE_NAME_ARABIC' | translate
              }}</label>
              <input
                [(ngModel)]="filterModel.fullNameAr"
                [placeholder]="'EMPLOYEES_PAGE.EMPLOYEE_NAME_ARABIC' | translate"
                class="peer"
                fluid="true"
                id="employeeNameAr"
                pInputText
                type="text"
              />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
            <div class="relative">
              <label class="label" for="employeeNameEn">{{
                'EMPLOYEES_PAGE.EMPLOYEE_NAME_ENGLISH' | translate
              }}</label>
              <input
                [(ngModel)]="filterModel.fullNameEn"
                [placeholder]="'EMPLOYEES_PAGE.EMPLOYEE_NAME_ENGLISH' | translate"
                class="peer"
                fluid="true"
                id="employeeNameEn"
                pInputText
                type="text"
              />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
            <div class="relative">
              <label class="label" for="department">{{
                'EMPLOYEES_PAGE.DEPARTMENT' | translate
              }}</label>
              <p-select
                (ngModelChange)="onDepartmentChange($event)"
                [(ngModel)]="filterModel.fkDepartmentId"
                [optionLabel]="optionLabel"
                [options]="departments"
                [placeholder]="'EMPLOYEES_PAGE.DEPARTMENT' | translate"
                class="w-full peer"
                id="department"
                optionValue="id"
                [showClear]="true"
              ></p-select>
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
            <div class="relative">
              <label class="label" for="jobTitleAr">{{
                'EMPLOYEES_PAGE.JOB_TITLE_ARABIC' | translate
              }}</label>
              <input
                [(ngModel)]="filterModel.jobTitleAr"
                [placeholder]="'EMPLOYEES_PAGE.JOB_TITLE_ARABIC' | translate"
                class="peer"
                fluid="true"
                id="jobTitleAr"
                pInputText
                type="text"
              />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>

            <div class="relative">
              <label class="label" for="jobTitleEn">{{
                'EMPLOYEES_PAGE.JOB_TITLE_ENGLISH' | translate
              }}</label>
              <input
                [(ngModel)]="filterModel.jobTitleEn"
                [placeholder]="'EMPLOYEES_PAGE.JOB_TITLE_ENGLISH' | translate"
                class="peer"
                fluid="true"
                id="jobTitleEn"
                pInputText
                type="text"
              />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>

            <div class="relative">
              <label class="label" for="fingerPrint">{{
                'EMPLOYEES_PAGE.FINGERPRINT_EXEMPTION' | translate
              }}</label>
              <p-select
                [(ngModel)]="filterModel.CanLeaveWithoutFingerPrint"
                [options]="fingerprintExemptionOptions"
                [placeholder]="'EMPLOYEES_PAGE.FINGERPRINT_EXEMPTION' | translate"
                class="w-full peer"
                id="fingerPrint"
                [optionLabel]="optionLabel"
                optionValue="id"
                [showClear]="true"
              ></p-select>
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
            <div class="relative">
              <label class="label" for="joinDate">{{
                'EMPLOYEES_PAGE.JOIN_DATE_FROM' | translate
              }}</label>
              <p-datepicker
                [(ngModel)]="joinDateFrom"
                [iconDisplay]="'input'"
                [placeholder]="'EMPLOYEES_PAGE.JOIN_DATE_FROM' | translate"
                [showIcon]="true"
                class="peer block w-full"
                inputId="joinDate"
                [showClear]="true"
              >
                <ng-template pTemplate="inputicon">
                  <img alt="" src="assets/icons/calender-icon.svg" />
                </ng-template>
              </p-datepicker>
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
            <div class="relative">
              <label class="label" for="joinDate">{{
                'EMPLOYEES_PAGE.JOIN_DATE_TO' | translate
              }}</label>
              <p-datepicker
                [(ngModel)]="filterModel.joinDateTo"
                [minDate]="joinDateFrom"
                [iconDisplay]="'input'"
                [placeholder]="'EMPLOYEES_PAGE.JOIN_DATE_TO' | translate"
                [showIcon]="true"
                class="peer block w-full"
                inputId="joinDate"
                [showClear]="true"
              >
                <ng-template pTemplate="inputicon">
                  <img alt="" src="assets/icons/calender-icon.svg" />
                </ng-template>
              </p-datepicker>
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
            <div class="relative">
              <label class="label" for="accountStatus">{{
                'EMPLOYEES_PAGE.ACCOUNT_STATUS' | translate
              }}</label>
              <p-select
                [(ngModel)]="filterModel.isActive"
                [options]="accountStatusOptions"
                [placeholder]="'EMPLOYEES_PAGE.ACCOUNT_STATUS' | translate"
                class="w-full peer"
                id="accountStatus"
                name="accountStatus"
                [optionLabel]="optionLabel"
                optionValue="id"
                [showClear]="true"
              ></p-select>
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
          </div>

          <div class="actions flex items-center gap-4 pt-6">
            <button (click)="search()" class="btn black-btn">
              {{ 'COMMON.SEARCH' | translate }}
            </button>
            <button (click)="resetSearch()" class="btn gray-btn border border-[#d2d6db]">
              {{ 'COMMON.RESET_SEARCH' | translate }}
            </button>
          </div>
        </div>
      </div>
      <div class="mt-6">
        <div
          class="flex items-start xl:items-center justify-between justify-between flex-col xl:flex-row gap-4 bg-[#e5e7eb] rounded-lg p-4 sm:p-6 mb-4"
        >
          <h4 class="text-lg sm:text-xl md:text-2xl font-bold text-[#161616]">
            {{ 'EMPLOYEES_PAGE.EMPLOYEES_LIST' | translate }}
          </h4>
          <div class="actions flex items-center gap-4 ms-auto">
            <button
              (click)="exportExcel('employees.xlsx')"
              class="table-head-action-btn min-w-[40px]"
            >
              <img alt="" src="assets/icons/excel.svg" />
            </button>

            @if (authService.isHROfficer) {
              <button (click)="openDialog()" class="btn green-btn flex items-center">
                <img alt="" src="assets/icons/plus.svg" />
                <span>{{ 'EMPLOYEES_PAGE.ADD_NEW_EMPLOYEE' | translate }}</span>
              </button>
            }
          </div>
        </div>
        @if (list && list.length > 0) {
          <p-table [value]="list">
            <ng-template pTemplate="header">
              <tr>
                <th>{{ 'EMPLOYEES_PAGE.EMPLOYEE_ID' | translate }}</th>
                <th>{{ 'EMPLOYEES_PAGE.EMPLOYEE_NAME_ARABIC' | translate }}</th>
                <th>{{ 'EMPLOYEES_PAGE.EMPLOYEE_NAME_ENGLISH' | translate }}</th>
                <th>{{ 'EMPLOYEES_PAGE.DEPARTMENT' | translate }}</th>
                <th>{{ 'EMPLOYEES_PAGE.FINGERPRINT_EXEMPTION' | translate }}</th>
                <th>{{ 'EMPLOYEES_PAGE.JOB_TITLE_ARABIC' | translate }}</th>
                <th>{{ 'EMPLOYEES_PAGE.JOB_TITLE_ENGLISH' | translate }}</th>
                <th>{{ 'EMPLOYEES_PAGE.ACCOUNT_STATUS' | translate }}</th>
                <th>{{ 'EMPLOYEES_PAGE.JOIN_DATE' | translate }}</th>
                <th>{{ 'EMPLOYEES_PAGE.ACTIONS' | translate }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
              <tr>
                <td>{{ user.nationalId }}</td>
                <td
                  [title]="user.fullNameAr"
                  class="max-w-[400px] whitespace-nowrap overflow-hidden text-ellipsis"
                >
                  {{ user.fullNameAr }}
                </td>
                <td
                  [title]="user.fullNameEn"
                  class="max-w-[400px] whitespace-nowrap overflow-hidden text-ellipsis"
                >
                  {{ user.fullNameEn }}
                </td>
                <td>{{ user.department.nameAr }}</td>
                <td>
                  <div class="flex justify-center gap-2">
                    @if (user.canLeaveWithoutFingerPrint) {
                      <img src="assets/icons/right-icon.svg" alt="" />
                    } @else {
                      <img src="assets/icons/wrong-icon.svg" alt="" />
                    }
                  </div>
                </td>
                <td
                  [title]="user.jobTitleAr"
                  class="max-w-[400px] whitespace-nowrap overflow-hidden text-ellipsis"
                >
                  {{ user.jobTitleAr }}
                </td>
                <td
                  [title]="user.jobTitleEn"
                  class="max-w-[400px] whitespace-nowrap overflow-hidden text-ellipsis"
                >
                  {{ user.jobTitleEn }}
                </td>
                <td>
                  <div class="flex justify-center gap-2">
                    @if (user.isActive) {
                      <img src="assets/icons/right-icon.svg" alt="" />
                    } @else {
                      <img src="assets/icons/wrong-icon.svg" alt="" />
                    }
                  </div>
                </td>
                <td>{{ user.joinDate | date }}</td>
                <td>
                  <div class="flex gap-4">
                    @if (authService.isAdmin) {
                      <button
                        class="table-action-gray-btn flex align-items gap-4 !min-w-[160px]"
                        (click)="openEmployeePermissionModal(user)"
                      >
                        <img src="assets/icons/edit-action.svg" alt="" />
                        <span class="text-sm">{{
                          'EMPLOYEES_PAGE.EDIT_PERMISSIONS' | translate
                        }}</span>
                      </button>
                    }
                    @if (authService.isHROfficer) {
                      <p-splitbutton
                        (click)="setSelectedModel(user)"
                        dropdownIcon="pi pi-ellipsis-v"
                        [model]="actionList"
                      />
                    }
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        } @else {
          <div class="flex items-center justify-center h-64">
            <p class="text-gray-500">{{ 'EMPLOYEES_PAGE.NO_DATA_TO_SHOW' | translate }}</p>
          </div>
        }
        @if (paginationInfo) {
          <p-paginator
            (onPageChange)="onPageChange($event)"
            [first]="first"
            [rowsPerPageOptions]="[10, 20, 30]"
            [rows]="rows"
            [showCurrentPageReport]="false"
            [totalRecords]="paginationInfo.totalItems"
            class="mt-6"
          />
        }
        <div></div>
      </div>
    </div>
  </div>
</div>
