<div dir="rtl">
  <div class="p-6">
    <button class="block ms-auto">
      <i class="pi pi-times close-popup"></i>
    </button>
    <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">بيانات الزيارة</h3>
    <div class="bg-[#f3f4f6] p-6 rounded-4xl">
      <div
        class="bg-white py-3 px-6 rounded-2xl flex justify-between items-start sm:items-center mb-8 flex-col sm:flex-row gap-4"
      >
        <div class="flex items-center gap-2">
          <span class="text-[14px] text-[#6c737f]">اسم الزائر:</span>
          <h4 class="font-semibold text-[#161616]">محمد أحمد محمود</h4>
        </div>
        <div class="flex items-center gap-2">
          <span class="text-[14px] text-[#6c737f]">حالة الزيارة:</span>
          <div>
            <span
              class="text-[14px] text-[#fff] min-h-[20px] inline-flex justify-center items-center gap-2 px-2 rounded-full bg-[#d92d20] font-medium"
            >
              <span class="w-[10px] h-[10px] bg-[#ffffff99] rounded-full"></span>
              مرفوض
            </span>
            <span
              class="text-[14px] text-[#fff] min-h-[20px] inline-flex justify-center items-center gap-2 px-2 rounded-full bg-[#1570ef] font-medium"
            >
              <span class="w-[10px] h-[10px] bg-[#ffffff99] rounded-full"></span>
              جديد
            </span>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
        <div>
          <span class="text-[14px] text-[#6c737f]">رقم الهوية:</span>
          <h4 class="font-semibold text-[#161616]">123456</h4>
        </div>
        <div>
          <span class="text-[14px] text-[#6c737f]">تاريخ انتهاء الهوية</span>
          <h4 class="font-semibold text-[#161616]">12/12/2024</h4>
        </div>
        <div>
          <span class="text-[14px] text-[#6c737f]">الجنسية</span>
          <h4 class="font-semibold text-[#161616]">سعودي</h4>
        </div>
        <div>
          <span class="text-[14px] text-[#6c737f]">رقم الجوال</span>
          <h4 class="font-semibold text-[#161616]">1234567890</h4>
        </div>
        <div>
          <span class="text-[14px] text-[#6c737f]">العنوان</span>
          <h4 class="font-semibold text-[#161616]">محتوى العنوان هنا</h4>
        </div>
        <div>
          <span class="text-[14px] text-[#6c737f]">البريد الالكتروني</span>
          <h4 class="font-semibold text-[#161616]">mohamedgmail.com</h4>
        </div>
        <div>
          <span class="text-[14px] text-[#6c737f]">الجهة التابع لها الزائر</span>
          <h4 class="font-semibold text-[#161616]">اسم الجهة</h4>
        </div>
        <div>
          <span class="text-[14px] text-[#6c737f]">الادارة المستهدفة</span>
          <h4 class="font-semibold text-[#161616]">ادارة الموارد البشرية</h4>
        </div>
        <div>
          <span class="text-[14px] text-[#6c737f]">تاريخ الزيارة</span>
          <h4 class="font-semibold text-[#161616]">12/12/2024</h4>
        </div>
        <div>
          <span class="text-[14px] text-[#6c737f]">وقت الزيارة (من-الى)</span>
          <h4 class="font-semibold text-[#161616]">12:00 - 18:00</h4>
        </div>
        <div class="xl:col-span-4 lg:col-span-3 md:col-span-2 col-span-1">
          <span class="text-[14px] text-[#6c737f]">سبب الزيارة</span>
          <h4 class="font-semibold text-[#161616]">
            محتوى السبب يكتب هنا محتوى السبب يكتب هنا محتوى السبب يكتب هنا
          </h4>
        </div>
      </div>
    </div>
    <div class="actions flex items-center justify-between mt-6">
      <div class="flex gap-2">
        <button class="btn gray-btn">الغاء</button>
        <button class="btn border border-[#fecdca] !text-[#b42318] hover:!bg-[#fee4e2]">
          <img src="assets/icons/disable.svg" alt="" />
          حظر الزائر
        </button>
      </div>
      <div class="flex gap-2">
        <button class="btn bg-[#fef3f2] !text-[#b42318] hover:!bg-[#fee4e2]">رفض</button>
        <button class="btn green-btn">قبول</button>
      </div>
    </div>
  </div>
</div>
