<div dir="rtl">
  <div class="p-6">
    <button class="block ms-auto">
      <i class="pi pi-times close-popup"></i>
    </button>
    <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">إضافة حظر جديد</h3>
    <div class="relative">
      <div class="relative">
        <label class="label" for="nationality">رقم الهوية</label>
        <input
          placeholder="رقم الهوية"
          class="peer"
          fluid="true"
          id="nationalityAr"
          pInputText
          type="text"
        />
        <span
          class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
        ></span>
      </div>
      <span
        class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
      ></span>
    </div>
    <div class="actions mt-6 flex items-center justify-between gap-4">
      <button class="btn gray-btn">الغاء</button>
      <button class="btn green-btn">اضافة</button>
    </div>
  </div>
</div>
