<div [dir]="direction">
  <div class="p-6">
    <button class="block ms-auto" (click)="close()">
      <i class="pi pi-times"></i>
    </button>
    <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">
      {{ 'HOLIDAYS_PAGE.ADD_NEW_HOLIDAY' | translate }}
    </h3>

    <form [formGroup]="form" class="">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <label class="label" for="holidayAr-popup">{{
            'HOLIDAYS_PAGE.HOLIDAY_NAME_ARABIC' | translate
          }}</label>
          <div class="relative">
            <input
              class="peer"
              fluid="true"
              formControlName="nameAr"
              id="holidayAr-popup"
              pInputText
              placeholder="{{ 'HOLIDAYS_PAGE.HOLIDAY_NAME_ARABIC' | translate }}"
              type="text"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="nameArControl"></app-validation-messages>
        </div>
        <div>
          <label class="label" for="holidayEn-popup">{{
            'HOLIDAYS_PAGE.HOLIDAY_NAME_ENGLISH' | translate
          }}</label>
          <div class="relative">
            <input
              class="peer"
              fluid="true"
              formControlName="nameEn"
              id="holidayEn-popup"
              pInputText
              placeholder="{{ 'HOLIDAYS_PAGE.HOLIDAY_NAME_ENGLISH' | translate }}"
              type="text"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="nameEnControl"></app-validation-messages>
        </div>
        <div class="">
          <label for="startDate" class="label">{{ 'HOLIDAYS_PAGE.START_DATE' | translate }}</label>
          <div class="relative">
            <p-datepicker
              name="startDate"
              formControlName="startDate"
              [iconDisplay]="'input'"
              [showIcon]="true"
              placeholder="{{ 'HOLIDAYS_PAGE.START_DATE' | translate }}"
              class="peer block w-full"
              inputId="joinDate"
              id="joinDate"
            >
              <ng-template pTemplate="inputicon">
                <img src="/assets/icons/calender-icon.svg" alt="" />
              </ng-template>
            </p-datepicker>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="startDateControl"></app-validation-messages>
        </div>
        <div class="">
          <label for="endDate" class="label">{{ 'HOLIDAYS_PAGE.END_DATE' | translate }}</label>
          <div class="relative">
            <p-datepicker
              name="endDate"
              formControlName="endDate"
              [iconDisplay]="'input'"
              [showIcon]="true"
              placeholder="{{ 'HOLIDAYS_PAGE.END_DATE' | translate }}"
              class="peer block w-full"
              inputId="joinDate"
              id="joinDate"
            >
              <ng-template pTemplate="inputicon">
                <img src="/assets/icons/calender-icon.svg" alt="" />
              </ng-template>
            </p-datepicker>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="endDateControl"></app-validation-messages>
        </div>
        <div class="md:col-span-2">
          <label for="" class="label">{{ 'HOLIDAYS_PAGE.NOTES' | translate }}</label>
          <div class="relative w-full">
            <textarea
              formControlName="notes"
              class="h-24 overflow-auto w-full rounded border border-[#9da4ae] px-4 py-2 px-4 py-3 focus:outline-none resize-none peer"
              rows="5"
              cols="30"
              pTextarea
              placeholder="{{ 'HOLIDAYS_PAGE.NOTES' | translate }}"
            ></textarea>

            <span
              class="absolute bottom-2 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus:left-0 peer-focus:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="notesControl"></app-validation-messages>
        </div>
      </div>
      <div class="actions mt-6 flex items-center justify-end gap-4">
        <button (click)="close()" class="btn gray-btn">{{ 'COMMON.CANCEL' | translate }}</button>
        <button (click)="save$.next()" class="btn green-btn">
          {{ 'COMMON.SAVE' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
