<div class="bg-white">
  <div class="bg-[#f9fafb] p-3 sm:p-6">
    <div class="header bg-white rounded-2xl p-4 sm:p-6 mb-6">
      <p-breadcrumb [home]="home" [model]="breadcrumbs" class="max-w-full" />
      <h3 class="text-xl sm:text-2xl md:text-3xl font-bold text-[#161616]">
        {{ 'PERMISSION_PAGE.PERMISSIONS' | translate }}
      </h3>
    </div>
    <p-tabs value="0">
      <p-tablist class="my-6">
        <p-tab (click)="clickMyPermissionTab()" value="0"
          >{{ 'PERMISSION_PAGE.MY_REQUESTS' | translate }}
        </p-tab>

        @if (showIncomingPermissions()) {
          <p-tab (click)="clickIncomingPermissionTab()" value="1"
            >{{ 'PERMISSION_PAGE.INCOMING_REQUESTS' | translate }}
          </p-tab>
        }
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <div class="bg-white rounded-2xl p-4 sm:p-8 border border-[#d2d6db]">
            <div class="p-6 sm:p-8 rounded-2xl bg-[#f3f4f6]">
              <div class="flex items-center justify-between">
                <h5 class="text-base sm:text-lg md:text-xl font-bold text-[#161616]">
                  {{ 'COMMON.SEARCH_FILTERS' | translate }}
                </h5>
              </div>
              <div class="pt-6">
                <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-8">
                  <div class="relative">
                    <label class="label" for="permission-type-select">{{
                      'PERMISSION_PAGE.PERMISSION_TYPE' | translate
                    }}</label>
                    <p-select
                      [(ngModel)]="filterModel.fkPermissionTypeId"
                      [optionLabel]="getPropertyName()"
                      [options]="permissionTypes"
                      class="w-full peer"
                      id="permission-type-select"
                      name="permission-type-select"
                      optionValue="id"
                      placeholder="{{ 'PERMISSION_PAGE.PERMISSION_TYPE' | translate }}"
                    ></p-select>
                    <span
                      class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
                    ></span>
                  </div>
                  <div class="relative">
                    <label class="label" for="permission-date-picker">{{
                      'COMMON.FROM' | translate
                    }}</label>
                    <p-datepicker
                      [(ngModel)]="filterModel.dateFrom"
                      [iconDisplay]="'input'"
                      [showIcon]="true"
                      class="peer block w-full"
                      id="permission-date-picker"
                      inputId="permission-date-picker"
                      placeholder="{{ 'COMMON.FROM' | translate }}"
                    >
                      <ng-template pTemplate="inputicon">
                        <img alt="" src="assets/icons/calender-icon.svg" />
                      </ng-template>
                    </p-datepicker>
                    <span
                      class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
                    ></span>
                  </div>
                  <div class="relative">
                    <label class="label" for="permission-date-picker">{{
                      'COMMON.TO' | translate
                    }}</label>
                    <p-datepicker
                      [(ngModel)]="filterModel.dateTo"
                      [iconDisplay]="'input'"
                      [showIcon]="true"
                      class="peer block w-full"
                      id="permission-date-picker"
                      inputId="permission-date-picker"
                      placeholder="{{ 'COMMON.TO' | translate }}"
                    >
                      <ng-template pTemplate="inputicon">
                        <img alt="" src="assets/icons/calender-icon.svg" />
                      </ng-template>
                    </p-datepicker>
                    <span
                      class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
                    ></span>
                  </div>
                  <div class="relative">
                    <label class="label" for="request-status-select">{{
                      'PERMISSION_PAGE.PERMISSION_STATUS' | translate
                    }}</label>
                    <p-select
                      [(ngModel)]="filterModel.fkStatusId"
                      [optionLabel]="getPropertyName()"
                      [options]="prmissionStatuses"
                      class="w-full peer"
                      id="request-status-select"
                      optionLabel="type"
                      optionValue="id"
                      placeholder="{{ 'PERMISSION_PAGE.PERMISSION_STATUS' | translate }}"
                    ></p-select>
                    <span
                      class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
                    ></span>
                  </div>
                </div>
                <div class="actions flex items-center gap-4 pt-6">
                  <button (click)="search()" class="btn black-btn">
                    {{ 'COMMON.SEARCH' | translate }}
                  </button>
                  <button (click)="resetSearch()" class="btn gray-btn border border-[#d2d6db]">
                    {{ 'COMMON.RESET_SEARCH' | translate }}
                  </button>
                </div>
              </div>
            </div>
            @if (showAddingPermissionButton()) {
              <div class="mt-6">
                <div
                  class="flex items-start xl:items-center justify-between justify-between flex-col xl:flex-row gap-4 bg-[#e5e7eb] rounded-lg p-4 sm:p-6 mb-4"
                >
                  <h4 class="text-lg sm:text-xl md:text-2xl font-bold text-[#161616]">
                    {{ 'PERMISSION_PAGE.PERMISSION_LIST' | translate }}
                  </h4>
                  <div class="actions flex items-center gap-4 ms-auto">
                    <button (click)="exportExcel('permissions.xlsx')" class="table-head-action-btn">
                      <img alt="" src="assets/icons/excel.svg" />
                    </button>
                    <button (click)="addOrEditModel()" class="btn green-btn flex items-center">
                      <img alt="" src="assets/icons/plus.svg" />
                      <span>{{ 'PERMISSION_PAGE.ADD_NEW_PERMISSION' | translate }}</span>
                    </button>
                  </div>
                </div>
              </div>
            }

            @if (list && list.length > 0) {
              <p-table [value]="list">
                <ng-template pTemplate="header">
                  <tr>
                    <th>{{ 'PERMISSION_PAGE.PERMISSION_TYPE' | translate }}</th>
                    <th>{{ 'PERMISSION_PAGE.PERMISSION_DATE' | translate }}</th>
                    <th>{{ 'PERMISSION_PAGE.PERMISSION_REASON' | translate }}</th>
                    <th>{{ 'PERMISSION_PAGE.PERMISSION_STATUS' | translate }}</th>
                    <th>{{ 'COMMON.ACTION' | translate }}</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-permission>
                  <tr>
                    <td>{{ permission.getPermissionTypeName() }}</td>
                    <td>{{ permission.permissionDate | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ permission.getPermissionReasonName() }}</td>
                    <td>
                      <div
                        [ngClass]="[
                          'px-2 py-1 rounded-full w-fit text-sm flex items-center gap-2',
                          permission.status.id === permissionStatusEnum.Accepted
                            ? 'bg-[#ecfdf3] text-[#085d3a]'
                            : permission.status.id === permissionStatusEnum.New
                              ? 'bg-[#eff8ff] text-[#1849a9]'
                              : 'bg-[#fef3f2] text-[#912018]',
                        ]"
                      >
                        <span
                          [ngClass]="[
                            'block w-[10px] h-[10px] rounded-full',
                            permission.status.id === permissionStatusEnum.Accepted
                              ? 'bg-[#085d3a]'
                              : permission.status.id === permissionStatusEnum.New ||
                                  permission.status.id === permissionStatusEnum.FirstAccepted
                                ? 'bg-[#1849a9]'
                                : 'bg-[#912018]',
                          ]"
                        ></span>
                        <span>{{ permission.getStatusName() }}</span>
                      </div>
                    </td>
                    <td>
                      <div class="actions flex gap-2">
                        @if (permission.status.id !== permissionStatusEnum.New) {
                          <button
                            (click)="openDataDialog(permission)"
                            class="table-action-gray-btn"
                          >
                            <img alt="" src="assets/icons/view-action.svg" />
                          </button>
                        }
                        @if (permission.status.id === permissionStatusEnum.New) {
                          <button
                            (click)="addOrEditModel(permission)"
                            class="table-action-gray-btn text-[161616] font-medium"
                          >
                            <img alt="" src="assets/icons/edit-action.svg" />
                          </button>
                          <button (click)="deleteModel(permission.id)" class="table-action-red-btn">
                            <img alt="" src="assets/icons/delete-action.svg" />
                          </button>
                        }
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            } @else {
              <div class="flex items-center justify-center h-64">
                <p class="text-gray-500">
                  {{ 'PERMISSION_REASONS_PAGE.NO_DATA_TO_SHOW' | translate }}
                </p>
              </div>
            }
            @if (paginationInfo) {
              <p-paginator
                (onPageChange)="onPageChange($event)"
                [first]="first"
                [rowsPerPageOptions]="[10, 20, 30]"
                [rows]="rows"
                [showCurrentPageReport]="false"
                [totalRecords]="paginationInfo.totalItems"
                class="mt-6"
              />
            }
          </div>
        </p-tabpanel>

        @if (showIncomingPermissions()) {
          <p-tabpanel value="1">
            <div class="bg-white rounded-2xl p-4 sm:p-8 border border-[#d2d6db]">
              <div class="p-6 sm:p-8 rounded-2xl bg-[#f3f4f6]">
                <div class="flex items-center justify-between">
                  <h5 class="text-base sm:text-lg md:text-xl font-bold text-[#161616]">
                    {{ 'COMMON.SEARCH_FILTERS' | translate }}
                  </h5>
                </div>
                <div class="pt-6">
                  <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-8">
                    <div class="relative">
                      <label class="label" for="permission-type-select">{{
                        'PERMISSION_PAGE.PERMISSION_TYPE' | translate
                      }}</label>
                      <p-select
                        [(ngModel)]="filterModel.fkPermissionTypeId"
                        [optionLabel]="getPropertyName()"
                        [options]="permissionTypes"
                        class="w-full peer"
                        id="permission-type-select"
                        name="permission-type-select"
                        optionValue="id"
                        placeholder="{{ 'PERMISSION_PAGE.PERMISSION_TYPE' | translate }}"
                      ></p-select>
                      <span
                        class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
                      ></span>
                    </div>
                    <div class="relative">
                      <label class="label" for="employee-name-select">اسم الموظف</label>
                      <p-select
                        [(ngModel)]="filterModel.creationUserId"
                        [optionLabel]="getPropertyName()"
                        [options]="users"
                        class="w-full peer"
                        id="employee-name-select"
                        optionLabel="type"
                        optionValue="id"
                        placeholder="اسم الموظف"
                      ></p-select>
                      <span
                        class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
                      ></span>
                    </div>
                    <div class="relative">
                      <label class="label" for="department-select">الادارة</label>
                      <p-select
                        [(ngModel)]="filterModel.fkDepartmentId"
                        [optionLabel]="getPropertyName()"
                        [options]="departments"
                        class="w-full peer"
                        id="department-select"
                        optionLabel="type"
                        optionValue="id"
                        placeholder="الادارة"
                      ></p-select>
                      <span
                        class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
                      ></span>
                    </div>
                    <div class="relative">
                      <label class="label" for="permission-date-picker">{{
                        'COMMON.FROM' | translate
                      }}</label>
                      <p-datepicker
                        [(ngModel)]="filterModel.dateFrom"
                        [iconDisplay]="'input'"
                        [showIcon]="true"
                        class="peer block w-full"
                        id="permission-date-picker"
                        inputId="permission-date-picker"
                        placeholder="{{ 'COMMON.FROM' | translate }}"
                      >
                        <ng-template pTemplate="inputicon">
                          <img alt="" src="assets/icons/calender-icon.svg" />
                        </ng-template>
                      </p-datepicker>
                      <span
                        class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
                      ></span>
                    </div>
                    <div class="relative">
                      <label class="label" for="permission-date-picker">{{
                        'COMMON.TO' | translate
                      }}</label>
                      <p-datepicker
                        [(ngModel)]="filterModel.dateTo"
                        [iconDisplay]="'input'"
                        [showIcon]="true"
                        class="peer block w-full"
                        id="permission-date-picker"
                        inputId="permission-date-picker"
                        placeholder="{{ 'COMMON.TO' | translate }}"
                      >
                        <ng-template pTemplate="inputicon">
                          <img alt="" src="assets/icons/calender-icon.svg" />
                        </ng-template>
                      </p-datepicker>
                      <span
                        class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
                      ></span>
                    </div>
                    <div class="relative">
                      <label class="label" for="request-status-select">{{
                        'PERMISSION_PAGE.PERMISSION_STATUS' | translate
                      }}</label>
                      <p-select
                        [(ngModel)]="filterModel.fkStatusId"
                        [optionLabel]="getPropertyName()"
                        [options]="prmissionStatuses"
                        class="w-full peer"
                        id="request-status-select"
                        optionLabel="type"
                        optionValue="id"
                        placeholder="{{ 'PERMISSION_PAGE.PERMISSION_STATUS' | translate }}"
                      ></p-select>
                      <span
                        class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
                      ></span>
                    </div>
                  </div>
                  <div class="actions flex items-center gap-4 pt-6">
                    <button (click)="departmentPermissionSearch()" class="btn black-btn">
                      {{ 'COMMON.SEARCH' | translate }}
                    </button>
                    <button
                      (click)="departmentPermissionResetSearch()"
                      class="btn gray-btn border border-[#d2d6db]"
                    >
                      {{ 'COMMON.RESET_SEARCH' | translate }}
                    </button>
                  </div>
                </div>
              </div>
              <div class="mt-6">
                <div
                  class="flex items-start xl:items-center justify-between justify-between flex-col xl:flex-row gap-4 bg-[#e5e7eb] rounded-lg p-4 sm:p-6 mb-4"
                >
                  <h4 class="text-lg sm:text-xl md:text-2xl font-bold text-[#161616]">
                    {{ 'PERMISSION_PAGE.PERMISSION_LIST' | translate }}
                  </h4>
                  <div class="actions flex items-center gap-4 ms-auto">
                    <button (click)="exportExcel('permissions.xlsx')" class="table-head-action-btn">
                      <img alt="" src="assets/icons/excel.svg" />
                    </button>
                  </div>
                </div>
              </div>
              @if (list && list.length > 0) {
                <p-table [value]="list">
                  <ng-template #header>
                    <tr>
                      <th>{{ 'PERMISSION_PAGE.PERMISSION_TYPE' | translate }}</th>
                      <th>{{ 'EMPLOYEES_PAGE.EMPLOYEE_NAME' | translate }}</th>
                      <th>{{ 'DEPARTMENTS_HEADER_PAGE.DEPARTMENT_NAME' | translate }}</th>
                      <th>{{ 'PERMISSION_PAGE.PERMISSION_DATE' | translate }}</th>
                      <th>{{ 'PERMISSION_PAGE.PERMISSION_REASON' | translate }}</th>
                      <th>{{ 'PERMISSION_PAGE.PERMISSION_STATUS' | translate }}</th>
                      <th>{{ 'COMMON.ACTION' | translate }}</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-permissionsRequest>
                    <tr>
                      <td>{{ permissionsRequest.getPermissionTypeName() }}</td>
                      <td>{{ permissionsRequest.getCreationUserName() }}</td>
                      <td>{{ permissionsRequest.getPermissionDepartmentName() }}</td>
                      <td>{{ permissionsRequest.permissionDate | date: 'dd/MM/yyyy' }}</td>
                      <td>{{ permissionsRequest.getPermissionReasonName() }}</td>
                      <td>
                        <div
                          [ngClass]="[
                            'px-2 py-1 rounded-full w-fit text-sm flex items-center gap-2',
                            permissionsRequest.status.id === permissionStatusEnum.Accepted
                              ? 'bg-[#ecfdf3] text-[#085d3a]'
                              : permissionsRequest.status.id === permissionStatusEnum.New ||
                                  permissionsRequest.status.id ===
                                    permissionStatusEnum.FirstAccepted
                                ? 'bg-[#eff8ff] text-[#1849a9]'
                                : 'bg-[#fef3f2] text-[#912018]',
                          ]"
                        >
                          <span
                            [ngClass]="[
                              'block w-[10px] h-[10px] rounded-full',
                              permissionsRequest.status.id === permissionStatusEnum.Accepted
                                ? 'bg-[#085d3a]'
                                : permissionsRequest.status.id === permissionStatusEnum.New ||
                                    permissionsRequest.status.id ===
                                      permissionStatusEnum.FirstAccepted
                                  ? 'bg-[#1849a9]'
                                  : 'bg-[#912018]',
                            ]"
                          ></span>
                          <span>{{ permissionsRequest.getStatusName() }}</span>
                        </div>
                      </td>
                      <td>
                        <div class="actions flex gap-2">
                          @if (
                            permissionsRequest.status.id !== permissionStatusEnum.New ||
                            !permissionsRequest.canTakeAction
                          ) {
                            <button
                              (click)="openDataDialog(permissionsRequest)"
                              class="table-action-gray-btn"
                            >
                              <img alt="" src="assets/icons/view-action.svg" />
                            </button>
                          }
                          @if (
                            (permissionsRequest.status.id === permissionStatusEnum.New ||
                              permissionsRequest.status.id ===
                                permissionStatusEnum.FirstAccepted) &&
                            permissionsRequest.canTakeAction
                          ) {
                            <button
                              (click)="openDataDialog(permissionsRequest)"
                              class="table-action-gray-btn !min-w-[75px] text-[161616] font-medium"
                            >
                              <img alt="" src="/assets/icons/edit-action.svg" />
                              <span>{{ 'PERMISSION_PAGE.ACTION' | translate }}</span>
                            </button>
                          }
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              } @else {
                <div class="flex items-center justify-center h-64">
                  <p class="text-gray-500">
                    {{ 'PERMISSION_REASONS_PAGE.NO_DATA_TO_SHOW' | translate }}
                  </p>
                </div>
              }
              @if (paginationInfo) {
                <p-paginator
                  (onPageChange)="onIncomingPermissionPageChange($event)"
                  [first]="first"
                  [rowsPerPageOptions]="[10, 20, 30]"
                  [rows]="rows"
                  [showCurrentPageReport]="false"
                  [totalRecords]="paginationInfo.totalItems"
                  class="mt-6"
                />
              }
            </div>
          </p-tabpanel>
        }
      </p-tabpanels>
    </p-tabs>
  </div>
</div>
