<section class="custom-container">
  <div class="px-8 py-6 sm:px-28 sm:py-20 max-w-[722px] rounded-xl bg-white">
    <header>
      <img alt="" src="assets/imgs/Favicon-Interior.png"/>
      <h1 class="text-[#161616] text-2xl sm:text-4xl font-bold mt-4 mb-8">
        {{ 'LOGIN_PAGE.LOGIN_LBL' | translate }}
      </h1>
    </header>
    @if (loginForm) {
      <article>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="relative mb-6">
            <label for="userName" class="label">{{ 'LOGIN_PAGE.USERNAME_LBL' | translate }}</label>
            <input
              formControlName="username"
              id="userName"
              class="peer"
              type="text"
              pInputText
              [placeholder]="'LOGIN_PAGE.USERNAME_LBL' | translate"
              fluid="true"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus:left-0 peer-focus:w-full"
            ></span>
          </div>
          <div class="relative mb-10">
            <label for="password" class="label">{{ 'LOGIN_PAGE.PASSWORD_LBL' | translate }}</label>
            <input
              formControlName="password"
              class="peer"
              id="password"
              type="password"
              pInputText
              [placeholder]="'LOGIN_PAGE.PASSWORD_LBL' | translate"
              fluid="true"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus:left-0 peer-focus:w-full"
            ></span>
          </div>
          <button type="submit" class="btn green-btn min-w-[148px]">
            {{ 'LOGIN_PAGE.LOGIN_BTN' | translate }}
          </button>
        </form>
      </article>
    }
  </div>
</section>
