aside {
  background: white;
  padding: 16px;
  border-radius: 16px;
  border: solid 1px #d2d6db;
}

::ng-deep {
  .p-tree {
    padding: 0 !important;
    width: 100%;
  }

  .p-tree-node-content.p-tree-node-selected {
    background-color: #e5e7eb !important;

    &::before {
      background-color: #074d31;
    }

    .p-tree-node-label {
      color: #1b8354 !important;
    }
  }

  .p-tree-node-label {
    font-size: 14px;
    font-weight: 600;
    color: #161616;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer; // enable selection
  }

  .p-tree-node-content {
    padding: 8px 16px !important;
    padding-inline-start: 8px !important;
    border-radius: 4px;
    background-color: #fff;
    position: relative;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 50%;
      inset-inline-start: 0;
      width: 6px;
      height: 80%;
      background-color: #fff;
      border-radius: 10px;
      transition: 0.2s;
      transform: translateY(-50%);
      content: '';
    }

    &:hover {
      background-color: transparent;

      &::before {
        background-color: #bebebe;
      }
    }
  }

  .p-tree-toggler {
    cursor: pointer; // arrow should always be clickable
  }

  .p-tree-node-leaf>.p-tree-node-content .p-tree-node-toggle-button {
    width: 0px !important;
  }

  .p-tree-node[aria-expanded='true'] {
    .p-icon {
      &:dir(rtl) {
        transform: rotate(180deg);
      }
    }
  }
}