<!-- visit-request-container.component.html -->
<div class="bg-white">
  <div class="bg-[#f9fafb] p-3 sm:p-6">
    <div class="header bg-white rounded-2xl p-4 sm:p-6 mb-6">
      <p-breadcrumb [home]="home" [model]="items" class="max-w-full">
        <ng-template let-item pTemplate="item">
          <span>{{ item.label | translate }}</span>
        </ng-template>
      </p-breadcrumb>
      <h3 class="text-xl sm:text-2xl md:text-3xl font-bold text-[#161616]">
        {{ 'MENU.VISIT_REQUEST' | translate }}
      </h3>
    </div>

    <p-tabs value="0">
      <p-tablist class="my-6">
        <p-tab (click)="clickMyVisitsTab()" value="0">
          {{ 'VISIT_REQUEST_PAGE.MY_VISITS' | translate }}
        </p-tab>
        @if (showAllVisitsTab()) {
          <p-tab (click)="clickAllVisitsTab()" value="1">
            {{ 'VISIT_REQUEST_PAGE.ALL_VISITS' | translate }}
          </p-tab>
        }
      </p-tablist>

      <p-tabpanels>
        <!-- My Visits Tab Panel -->
        <p-tabpanel value="0">
          <app-my-created-visit-request-list
            [isActive]="isMyVisitsTabActive()"
            [departments]="departments"
            [nationalities]="nationalities"
            [visitStatusOptions]="visitStatusOptions"
          />
        </p-tabpanel>

        <!-- All Visits Tab Panel -->
        <p-tabpanel value="1">
          <app-all-visit-request-list
            [isActive]="isAllVisitsTabActive()"
            [departments]="departments"
            [nationalities]="nationalities"
            [visitStatusOptions]="visitStatusOptions"
          />
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</div>
