<div dir="rtl">
  <div class="p-6">
    <button class="block ms-auto" (click)="close()">
      <i class="pi pi-times close-popup"></i>
    </button>
    <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">
      {{ 'PERMISSION_PAGE.PERMISSION_DATA' | translate }}
    </h3>

    <div class="p-6 rounded-2xl bg-[#f3f4f6]">
      <div class="flex flex-col sm:flex-row justify-between bg-white rounded-2xl py-4 px-6 gap-4">
        <div class="flex gap-2 items-center">
          <span class="text-[#6c737f] text-sm">{{
            'PERMISSION_PAGE.PERMISSION_STATUS' | translate
          }}</span>
          <div
            [ngClass]="[
              'px-2 py-1 rounded-full w-fit text-sm flex items-center gap-2',
              model.fkStatusId === permissionStatusEnum.Accepted
                ? 'bg-[#ecfdf3] text-[#085d3a]'
                : model.fkStatusId === permissionStatusEnum.New ||
                    model.fkStatusId === permissionStatusEnum.FirstAccepted
                  ? 'bg-[#eff8ff] text-[#1849a9]'
                  : 'bg-[#fef3f2] text-[#912018]',
            ]"
          >
            <span
              [ngClass]="[
                'block w-[10px] h-[10px] rounded-full',
                model.fkStatusId === permissionStatusEnum.Accepted
                  ? 'bg-[#085d3a]'
                  : model.fkStatusId === permissionStatusEnum.New ||
                      model.fkStatusId === permissionStatusEnum.FirstAccepted
                    ? 'bg-[#1849a9]'
                    : 'bg-[#912018]',
              ]"
            >
            </span>
            <span>{{ model.getStatusName() }}</span>
          </div>
        </div>
        <div class="flex gap-2 items-center">
          @if (
            model.fkStatusId == statusEnum.Accepted || model.fkStatusId == statusEnum.FirstAccepted
          ) {
            <span class="text-[#6c737f] text-sm">{{
              'PERMISSION_PAGE.APPROVAL_DATE' | translate
            }}</span>
            <span class="text-[#161616] font-semibold">
              <span>{{ model.actionDate ? (model.actionDate | date: 'dd/MM/yyyy') : '' }}</span>
            </span>
          }
          @if (model.fkStatusId == statusEnum.Rejected) {
            <span class="text-[#6c737f] text-sm">{{
              'PERMISSION_PAGE.REJECTION_DATE' | translate
            }}</span>
            <span class="text-[#161616] font-semibold">
              <span>{{ model.actionDate ? (model.actionDate | date: 'dd/MM/yyyy') : '' }}</span>
            </span>
          }
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-12">
        <div class="flex flex-col gap-2">
          <span class="text-sm text-[#6c737f]">{{
            'PERMISSION_PAGE.PERMISSION_TYPE' | translate
          }}</span>
          <span class="font-semibold text-[#161616]">
            <span>{{ model.getPermissionTypeName() }}</span>
          </span>
        </div>
        <div class="flex flex-col gap-2">
          <span class="text-sm text-[#6c737f]">
            {{ 'DEPARTMENTS_HEADER_PAGE.MANAGER_NAME' | translate }}
          </span>
          <span class="font-semibold text-[#161616]">
            <span>{{ model.getCreationUserName() }}</span>
          </span>
        </div>
        <div class="flex flex-col gap-2">
          <span class="text-sm text-[#6c737f]"
            >{{ 'PERMISSION_PAGE.PERMISSION_DATE' | translate }}
          </span>
          <span class="font-semibold text-[#161616]">{{
            model.permissionDate | date: 'dd/MM/yyyy'
          }}</span>
        </div>
        <div class="flex flex-col gap-2">
          <span class="text-sm text-[#6c737f]"
            >{{ 'PERMISSION_PAGE.PERMISSION_REASON' | translate }}
          </span>
          <span class="font-semibold text-[#161616]">
            <span>{{ model.getPermissionReasonName() }}</span>
          </span>
        </div>
        <div class="flex flex-col gap-2">
          <span class="text-sm text-[#6c737f]"
            >{{ 'PERMISSION_PAGE.PERMISSION_DESCRIPTION' | translate }}
          </span>
          <span class="font-semibold text-[#161616]">
            <span>{{ model.description }}</span>
          </span>
        </div>
      </div>
    </div>
    <div class="actions mt-6 flex items-center justify-between gap-4">
      <button class="btn gray-btn" (click)="close()">{{ 'COMMON.CANCEL' | translate }}</button>
      @if (model.canTakeAction) {
        <div class="flex gap-2">
          <button class="btn red-btn" (click)="rejectPermissionStatus()">
            {{ 'PERMISSION_PAGE.DECLINE' | translate }}
          </button>
          <button class="btn green-btn" (click)="acceptPermissionStatus()">
            {{ 'PERMISSION_PAGE.APPROVE' | translate }}
          </button>
        </div>
      }
    </div>
  </div>
</div>
