<div class="page-container">
    <main class="content py-4">
        <section class="custom-container">
            <div class="px-8 py-6 sm:px-24 sm:py-16 max-w-[600px] rounded-xl bg-white">
                <h1 class="text-[#161616] text-2xl sm:text-4xl font-bold  mb-8">
                    اختر النظام
                </h1>
                <p class="mt-4 text-gray-600 mb-8">اختر النظام الذي ترغب في استخدامه ويمكنك التبديلبين النظامين اى وقت
                </p>
                <div class="flex  gap-6">
                    <div class="border border-[#d2d6db] p-4 rounded-2xl flex flex-col gap-6 flex-1">
                        <div class="bg-[#f3fcf6] p-3 rounded-full w-fit">
                            <img src="/assets/icons/green-calender.png" alt="">
                        </div>
                        <h3 class="font-lg font-bold"> نظام الحضور والانصراف</h3>
                        <button class="btn green-btn ltr:rotate-180 w-fit " (click)="goToAttendance()">
                            <img src="/assets/icons/white-arrow.png" alt="">
                        </button>
                    </div>
                    <div class="border border-[#d2d6db] p-4 rounded-2xl flex flex-col gap-6 flex-1">
                        <div class="bg-[#f3fcf6] p-3 rounded-full w-fit">
                            <img src="/assets/icons/green-user.png" alt="">
                        </div>
                        <h3 class="font-lg font-bold"> نظام الزيارات</h3>
                        <button class="btn green-btn ltr:rotate-180 w-fit mt-auto " (click)="goToVisits()">
                            <img src="/assets/icons/white-arrow.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>