@reference "tailwindcss";

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .content {
        flex: 1;
        background-image: url('/assets/imgs/auth-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card-container {
        @apply transition-all duration-300 ease-in-out shadow-[0_2px_4px_-2px_rgba(16,24,40,0.06),0_4px_8px_-2px_rgba(16,24,40,0.1)] border border-transparent cursor-pointer hover:border-[#d2d6db] hover:shadow-none p-4 rounded-2xl flex flex-col gap-6 flex-1;
    }
}