::ng-deep {
    .p-datatable-tbody>tr>td {
        background-color: #f9fafb !important;
    }

    .p-datatable-tbody>tr>td {
        border-color: #d2d6db !important;
        border-width: 0px 1px 1px 0px !important;
    }
}