<div [dir]="direction">
  <div class="p-6">
    <button class="block ms-auto" (click)="close()">
      <i class="pi pi-times"></i>
    </button>
    <div class="mt-6">
      <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">
        إضافة جنسية جديدة
      </h3>
      <div class="grid sm:grid-cols-8">
        <div class="relative sm:col-span-6">
          <label for="nationality-popup" class="label">الجنسية</label>
          <input
            id="nationality-popup"
            placeholder="الجنسية"
            type="text"
            pInputText
            class="peer"
            fluid="true"
          />
          <span
            class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
          ></span>
        </div>
      </div>
      <div class="actions mt-6 flex items-center justify-end gap-4">
        <button class="btn gray-btn" (click)="close()">الغاء</button>
        <button class="btn green-btn">إضافة</button>
      </div>
    </div>
  </div>
</div>
