<div [dir]="direction">
  <div class="p-6">
    <button class="block ms-auto" (click)="close()">
      <i class="pi pi-times close-popup"></i>
    </button>
    @if (isCreateMode) {
      <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">
        {{ 'WORK_SHIFTS_POPUP.ADD_NEW_SHIFT' | translate }}
      </h3>
    } @else {
      <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">
        {{ 'WORK_SHIFTS_POPUP.EDIT_SHIFT' | translate }}
      </h3>
    }
    <form class="mt-6" [formGroup]="form">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 gap-6">
        <div class="lg:col-span-2">
          <label for="shiftNameAr" class="label">{{
            'WORK_SHIFTS_POPUP.SHIFT_NAME_ARABIC' | translate
          }}</label>
          <div class="relative">
            <input
              [placeholder]="'WORK_SHIFTS_POPUP.SHIFT_NAME_ARABIC' | translate"
              class="peer"
              fluid="true"
              id="shiftNameAr"
              formControlName="nameAr"
              pInputText
              type="text"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="nameArControl"></app-validation-messages>
        </div>
        <div class="lg:col-span-2">
          <label for="shiftNameEn" class="label">{{
            'WORK_SHIFTS_POPUP.SHIFT_NAME_ENGLISH' | translate
          }}</label>
          <div class="relative">
            <input
              [placeholder]="'WORK_SHIFTS_POPUP.SHIFT_NAME_ENGLISH' | translate"
              class="peer"
              fluid="true"
              id="shiftNameEn"
              pInputText
              type="text"
              formControlName="nameEn"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="nameEnControl"></app-validation-messages>
        </div>
        <div class="lg:col-span-2">
          <label for="time-pick-from" class="label">{{
            'WORK_SHIFTS_POPUP.TIME_FROM' | translate
          }}</label>
          <div class="relative">
            <p-datepicker
              name="time-pick-from"
              [iconDisplay]="'input'"
              [showIcon]="true"
              [placeholder]="'WORK_SHIFTS_POPUP.TIME_FROM' | translate"
              class="peer block w-full"
              inputId="icondisplay"
              [timeOnly]="true"
              id="time-pick-from"
              formControlName="timeFrom"
            >
              <ng-template pTemplate="inputicon">
                <img src="/assets/icons/time-icon.svg" alt="" />
              </ng-template>
            </p-datepicker>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="timeFromControl"></app-validation-messages>
        </div>
        <div class="lg:col-span-2">
          <label for="time-pick-to" class="label">{{
            'WORK_SHIFTS_POPUP.TIME_TO' | translate
          }}</label>
          <div class="relative">
            <p-datepicker
              name="time-pick-to"
              [iconDisplay]="'input'"
              [showIcon]="true"
              [placeholder]="'WORK_SHIFTS_POPUP.TIME_TO' | translate"
              class="peer block w-full"
              inputId="icondisplay"
              [timeOnly]="true"
              id="time-pick-to"
              formControlName="timeTo"
            >
              <ng-template pTemplate="inputicon">
                <img src="/assets/icons/time-icon.svg" alt="" />
              </ng-template>
            </p-datepicker>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="timeToControl"></app-validation-messages>
        </div>
        <div class="lg:col-span-2">
          <label for="max-attendance-time" class="label">{{
            'WORK_SHIFTS_POPUP.MAX_ATTENDANCE_TIME' | translate
          }}</label>
          <div class="relative">
            <input
              type="number"
              name="selectedAdminstration5"
              [placeholder]="'WORK_SHIFTS_POPUP.MAX_ATTENDANCE_TIME' | translate"
              class="peer block w-full"
              fluid="true"
              id="max-attendance-time"
              pInputText
              formControlName="attendanceBuffer"
            />
            <!-- <ng-template pTemplate="inputicon">
                                <img src="/assets/icons/time-icon.svg" alt="" />
                            </ng-template> -->

            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="attendanceBufferControl"></app-validation-messages>
        </div>
        <div class="lg:col-span-2">
          <label for="max-leave-time" class="label">{{
            'WORK_SHIFTS_POPUP.MAX_LEAVE_TIME' | translate
          }}</label>
          <div class="relative">
            <input
              type="number"
              name="selectedAdminstration5"
              [placeholder]="'WORK_SHIFTS_POPUP.MAX_LEAVE_TIME' | translate"
              class="peer block w-full"
              fluid="true"
              id="max-leave-time"
              pInputText
              formControlName="leaveBuffer"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="leaveBufferControl"></app-validation-messages>
        </div>
        <div class="lg:col-span-6 border-t pt-6 border-[#d2d6db]">
          <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
            <input
              type="checkbox"
              formControlName="isDefaultShift"
              class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
            />
            <svg
              class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polyline points="20 6 9 17 4 12" />
            </svg>
            <span class="text-base font-medium text-[#1f2a37]">{{
              'WORK_SHIFTS_POPUP.DEFAULT_SHIFT' | translate
            }}</span>
          </label>
        </div>
      </div>
      <div class="actions mt-6 flex items-center justify-end gap-4">
        <button class="btn gray-btn" (click)="close()">{{ 'COMMON.CANCEL' | translate }}</button>
        <button class="btn green-btn" (click)="save$.next()">
          {{ 'COMMON.SAVE' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
