<div [dir]="direction">
  <div class="p-6">
    <button (click)="close()" class="block ms-auto">
      <i class="pi pi-times close-popup"></i>
    </button>
    @if (isCreateMode) {
      <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">
        {{ 'WORK_SHIFTS_POPUP.ADD_NEW_SHIFT' | translate }}
      </h3>
    } @else {
      <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">
        {{ 'WORK_SHIFTS_POPUP.EDIT_SHIFT' | translate }}
      </h3>
    }
    <form [formGroup]="form" class="mt-6">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 gap-6">
        <div class="lg:col-span-2">
          <label class="label" for="shiftNameAr">{{
            'WORK_SHIFTS_POPUP.SHIFT_NAME_ARABIC' | translate
          }}</label>
          <div class="relative">
            <input
              [placeholder]="'WORK_SHIFTS_POPUP.SHIFT_NAME_ARABIC' | translate"
              class="peer"
              fluid="true"
              formControlName="nameAr"
              id="shiftNameAr"
              pInputText
              type="text"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="nameArControl"></app-validation-messages>
        </div>
        <div class="lg:col-span-2">
          <label class="label" for="shiftNameEn">{{
            'WORK_SHIFTS_POPUP.SHIFT_NAME_ENGLISH' | translate
          }}</label>
          <div class="relative">
            <input
              [placeholder]="'WORK_SHIFTS_POPUP.SHIFT_NAME_ENGLISH' | translate"
              class="peer"
              fluid="true"
              formControlName="nameEn"
              id="shiftNameEn"
              pInputText
              type="text"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="nameEnControl"></app-validation-messages>
        </div>
        <div class="lg:col-span-2">
          <label class="label" for="time-pick-from">{{
            'WORK_SHIFTS_POPUP.TIME_FROM' | translate
          }}</label>
          <div class="relative">
            <p-datepicker
             [hourFormat]="'12'" [iconDisplay]="'input'"
              [placeholder]="'WORK_SHIFTS_POPUP.TIME_FROM' | translate"
              [showIcon]="true"
              [timeOnly]="true"
              class="peer block w-full"
              formControlName="timeFrom"
              id="time-pick-from"
              inputId="icondisplay"
              name="time-pick-from"

            >
              <ng-template pTemplate="inputicon">
                <img alt="" src="assets/icons/time-icon.svg" />
              </ng-template>
            </p-datepicker>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="timeFromControl"></app-validation-messages>
        </div>
        <div class="lg:col-span-2">
          <label class="label" for="time-pick-to">{{
            'WORK_SHIFTS_POPUP.TIME_TO' | translate
          }}</label>
          <div class="relative">
            <p-datepicker
             [hourFormat]="'12'" [iconDisplay]="'input'"
              [placeholder]="'WORK_SHIFTS_POPUP.TIME_TO' | translate"
              [showIcon]="true"
              [timeOnly]="true"
              class="peer block w-full"
              formControlName="timeTo"
              id="time-pick-to"
              inputId="icondisplay"
              name="time-pick-to"

            >
              <ng-template pTemplate="inputicon">
                <img alt="" src="assets/icons/time-icon.svg" />
              </ng-template>
            </p-datepicker>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="timeToControl"></app-validation-messages>
          <app-validation-messages [control]="form"></app-validation-messages>
        </div>
        <div class="lg:col-span-2">
          <label class="label" for="max-attendance-time">{{
            'WORK_SHIFTS.MAX_ATTENDANCE_TIME' | translate
          }}</label>
          <p-inputnumber
            [inputStyle]="{ width: '3rem' }"
            [showButtons]="true"
            buttonLayout="horizontal"
            formControlName="attendanceBuffer"
            id="max-attendance-time"
            spinnerMode="horizontal"
          >
            <ng-template #incrementbuttonicon>
              <span class="pi pi-plus"></span>
            </ng-template>
            <ng-template #decrementbuttonicon>
              <span class="pi pi-minus"></span>
            </ng-template>
          </p-inputnumber>
          <app-validation-messages [control]="attendanceBufferControl"></app-validation-messages>
        </div>
        <div class="lg:col-span-2">
          <label class="label" for="max-leave-time">{{
            'WORK_SHIFTS.MAX_LEAVE_TIME' | translate
          }}</label>
          <p-inputnumber
            [inputStyle]="{ width: '3rem' }"
            [showButtons]="true"
            buttonLayout="horizontal"
            formControlName="leaveBuffer"
            id="max-leave-time"
            spinnerMode="horizontal"
          >
            <ng-template #incrementbuttonicon>
              <span class="pi pi-plus"></span>
            </ng-template>
            <ng-template #decrementbuttonicon>
              <span class="pi pi-minus"></span>
            </ng-template>
          </p-inputnumber>
          <app-validation-messages [control]="leaveBufferControl"></app-validation-messages>
        </div>
      </div>
      <!-- hidden for release 1 -->
      <!--      <div-->
      <!--

        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 gap-6 border-t border-t-[#d2d6db] mt-6 pt-6 mb-6"

      -->
      <!--      >-->
      <!--        <div class="lg:col-span-6">-->
      <!--          <h3 class="text-[#1f2a37 font-[600] text-lg sm:text-xl">مدة التعيين ك وردية افتراضية</h3>-->
      <!--        </div>-->
      <!--        <div class="lg:col-span-2">-->
      <!--          <span class="text-[14px] font-normal text-[#6c737f]">تاريخ تفعيل و بدء الوردية</span>-->
      <!--          <p class="text-[16px] font-semibold text-[#161616]">12/12/2023</p>-->
      <!--        </div>-->
      <!--        <div class="lg:col-span-2">-->
      <!--          <span class="text-[14px] font-normal text-[#6c737f]">تاريخ انتهاء الوردية</span>-->
      <!--          <p class="text-[16px] font-semibold text-[#161616]">12/12/2023</p>-->
      <!--        </div>-->
      <!--        <div class="lg:col-span-2">-->
      <!--          <span class="text-[14px] font-normal text-[#6c737f]"
            -->
      <!-->الوردية الافتراضية التالية (بعد انتهاء تلك الوردية)</span
          -->
      <!--          >-->
      <!--          <p class="text-[16px] font-semibold text-[#161616]">وردية مسائية</p>-->
      <!--        </div>-->
      <!--      </div>-->
      <div class="actions mt-6 flex items-center justify-between gap-4">
        <button (click)="close()" class="btn gray-btn">{{ 'COMMON.CANCEL' | translate }}</button>
        <div class="flex items-center justify-end gap-4">
          <!-- hidden for release 1 -->
          <!--          <button (click)="close()" (click)="openDurationDialog()" class="btn black-btn">-->
          <!--
            تعيين ك وردية افتراضية
          -->
          <!--          </button>-->
          <button (click)="save$.next()" class="btn green-btn">
            {{ 'COMMON.SAVE' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
