<div class="bg-white">
  <div class="bg-[#f9fafb] p-3 sm:p-6">
    <!-- Header Section -->
    <div class="header bg-white rounded-2xl p-4 sm:p-6 mb-6">
      <p-breadcrumb [home]="home" [model]="breadcrumbs" class="max-w-full">
        <ng-template let-item pTemplate="item">
          <a [routerLink]="item.url" class="cursor-pointer">
            <span>{{ item.label | translate }}</span>
          </a>
        </ng-template>
      </p-breadcrumb>
      <h3 class="text-xl sm:text-2xl md:text-3xl font-bold text-[#161616]">
        {{ 'WORK_MISSIONS.WORK_MISSIONS' | translate }}
      </h3>
    </div>
    <!-- Tabs Structure Only -->
    <p-tabs value="1">
      <p-tablist class="my-6">
        <p-tab value="0">{{ 'WORK_MISSIONS.MY_WORK_MISSIONS' | translate }}</p-tab>
        <p-tab value="1">{{ 'WORK_MISSIONS.ASSIGN_WORK_MISSIONS' | translate }}</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <app-my-work-mission-list></app-my-work-mission-list>
        </p-tabpanel>
        <p-tabpanel value="1">
          <app-assign-work-mission-list
            [missionsSignal]="missions"
            [departmentsSignal]="departments"
          >
          </app-assign-work-mission-list>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</div>
