<div class="bg-white">
  <div class="bg-[#f9fafb] p-3 sm:p-6">
    <div class="header bg-white rounded-2xl p-4 sm:p-6 mb-6">
      <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
      <h3 class="text-xl sm:text-2xl md:text-3xl font-bold text-[#161616]">معايير حظر الزائرين</h3>
    </div>
    <p-tabs value="0">
      <p-tablist class="my-6">
        <p-tab value="0">الجنسية </p-tab>
        <p-tab value="1">رقم الهوية </p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <app-black-list-nationalities />
        </p-tabpanel>
        <p-tabpanel value="1">
          <app-blacklisted-national-id-list />
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</div>
