<div dir="rtl">
  <div class="p-6">
    <button (click)="close()" class="block ms-auto">
      <i class="pi pi-times close-popup"></i>
    </button>
    <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">
      {{ 'PERMISSION_PAGE.NEW_PERMISSION' | translate }}
    </h3>

    <form [formGroup]="form" class="">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div>
          <label class="label" for="permissionType">{{
            'PERMISSION_PAGE.PERMISSION_TYPE' | translate
          }}</label>
          <div class="relative">
            <p-select
              [optionLabel]="getPropertyName()"
              [options]="permissionTypes"
              class="w-full peer"
              formControlName="fkPermissionTypeId"
              id="permissionType"
              name="permissionType"
              optionLabel="type"
              optionValue="id"
              placeholder="{{ 'PERMISSION_PAGE.PERMISSION_TYPE' | translate }}"
            ></p-select>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="fkPermissionTypeIdControl"></app-validation-messages>
        </div>
        <div>
          <label class="label" for="permissionDate">{{
            'PERMISSION_PAGE.PERMISSION_DATE' | translate
          }}</label>
          <div class="relative">
            <p-datepicker
              [iconDisplay]="'input'"
              [showIcon]="true"
              [minDate]="minDate"
              placeholder="{{ 'PERMISSION_PAGE.PERMISSION_DATE' | translate }}"
              class="peer block w-full"
              formControlName="permissionDate"
              id="permissionDate"
              inputId="permissionDate"
              name="permissionDate"
              placeholder="{{ 'PERMISSION_PAGE.PERMISSION_DATE' | translate }}"
            >
              <ng-template pTemplate="inputicon">
                <img alt="" src="assets/icons/calender-icon.svg" />
              </ng-template>
            </p-datepicker>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="permissionDateControl"></app-validation-messages>
        </div>
        <div>
          <label class="label" for="prmissionReason"
            >{{ 'PERMISSION_PAGE.PERMISSION_REASON' | translate }}
          </label>
          <div class="relative">
            <p-select
              [optionLabel]="getPropertyName()"
              [options]="prmissionReasons"
              class="w-full peer"
              formControlName="fkReasonId"
              id="prmissionReason"
              name="prmissionReason"
              optionLabel="type"
              optionValue="id"
              placeholder="{{ 'PERMISSION_PAGE.PERMISSION_REASON' | translate }}"
            ></p-select>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="fkReasonIdControl"></app-validation-messages>
        </div>
        <div class="md:col-span-2 lg:col-span-3">
          <label class="text-sm font-normal" for="">{{
            'PERMISSION_PAGE.PERMISSION_DESCRIPTION' | translate
          }}</label>
          <div class="relative w-full">
            <textarea
              class="h-24 block overflow-auto mt-4 w-full rounded border border-[#9da4ae] px-4 py-2 px-4 py-3 focus:outline-none resize-none peer"
              formControlName="description"
              pTextarea
              placeholder="{{ 'PERMISSION_PAGE.PERMISSION_DESCRIPTION' | translate }}"
            ></textarea>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus:left-0 peer-focus:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="descriptionControl"></app-validation-messages>
        </div>
      </div>
      <div class="actions mt-6 flex items-center justify-end gap-4">
        <button (click)="close()" class="btn gray-btn">{{ 'COMMON.CANCEL' | translate }}</button>
        <button (click)="save$.next()" class="btn green-btn">
          {{ 'COMMON.SAVE' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
