<div class="bg-white">
  <div class="bg-[#f9fafb] p-3 sm:p-6">
    <div class="header bg-white rounded-2xl p-4 sm:p-6 mb-6">
      <p-breadcrumb [home]="home" [model]="breadcrumbs" class="max-w-full">
        <ng-template let-item pTemplate="item">
          <a [routerLink]="item.url" class="cursor-pointer">
            <span>{{ item.label | translate }}</span>
          </a>
        </ng-template>
      </p-breadcrumb>
      <h3 class="text-xl sm:text-2xl md:text-3xl font-bold text-[#161616]">
        {{ 'MY_SHIFTS.MY_SHIFTS' | translate }}
      </h3>
    </div>

    <!-- Current Shift Section -->
    <div
      class="p-8 md:p-10 rounded-[16px] bg-[#074d31] shadow-[0_4px_6px_-2px_rgba(16,24,40,0.03),_0_12px_16px_-4px_rgba(16,24,40,0.08)] mb-6">
      <div class="flex items-center gap-4 justify-between flex-wrap border-b border-white pb-6">
        <h5
          class="min-w-[152px] min-h-[32px] flex flex-row justify-center items-center px-3 rounded-full border border-[#e5e7eb] bg-[#f9fafb] text-[#1f2a37] text-[16px] font-medium">
          {{ getCurrentShiftName() }}
        </h5>
        <button (click)="openDialog(currentShift!)"
          class="min-w-[146px] min-h-[32px] flex justify-center items-center gap-[10px] px-3 rounded-[4px] bg-[rgba(255,255,255,0.2)] text-white text-[14px] font-medium">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M10 13.125a3.125 3.125 0 1 1 0-6.25 3.125 3.125 0 0 1 0 6.25zM8.125 10a1.875 1.875 0 1 0 3.75 0 1.875 1.875 0 0 0-3.75 0z"
              fill="#fff" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M10 3.542c-2.142 0-3.979.942-5.4 2.052-1.423 1.11-2.474 2.422-3.062 3.247l-.045.062c-.21.293-.452.628-.452 1.097 0 .468.241.803.452 1.097l.045.062c.588.824 1.64 2.136 3.062 3.247 1.421 1.11 3.258 2.052 5.4 2.052 2.142 0 3.978-.943 5.4-2.052 1.422-1.111 2.474-2.423 3.062-3.247l.044-.062c.211-.294.452-.629.452-1.097 0-.469-.24-.804-.452-1.097l-.044-.062c-.588-.825-1.64-2.136-3.062-3.247-1.422-1.11-3.258-2.053-5.4-2.053zM2.555 9.567c.55-.772 1.522-1.979 2.814-2.988C6.663 5.57 8.234 4.792 10 4.792c1.766 0 3.338.777 4.631 1.787 1.293 1.01 2.264 2.216 2.814 2.988.136.19.201.284.24.358.024.047.024.06.024.073v.004c0 .012 0 .025-.024.073a3.562 3.562 0 0 1-.24.358c-.55.771-1.521 1.978-2.814 2.987-1.293 1.01-2.865 1.788-4.63 1.788-1.766 0-3.337-.778-4.63-1.788-1.293-1.009-2.264-2.216-2.815-2.987-.136-.191-.2-.284-.24-.358-.024-.048-.024-.06-.023-.073v-.004c0-.013 0-.026.024-.073.039-.074.103-.167.24-.358z"
              fill="#fff" />
          </svg>
          {{ 'MY_SHIFTS.SHIFT_DAYS' | translate }}
        </button>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6 mt-10">
        <div>
          <p class="text-sm text-white mb-2">{{ 'MY_SHIFTS.TIME_FROM_TO' | translate }}</p>
          <h5 class="text-base font-semibold text-white">
            {{ currentShift?.timeFrom }} - {{ currentShift?.timeTo }}
          </h5>
        </div>
        <div>
          <p class="text-sm text-white mb-2">{{ 'MY_SHIFTS.ATTENDANCE_BUFFER' | translate }}</p>
          <h5 class="text-base font-semibold text-white">
            {{ currentShift?.attendanceBuffer || '0' }}
          </h5>
        </div>
        <div>
          <p class="text-sm text-white mb-2">{{ 'MY_SHIFTS.LEAVE_BUFFER' | translate }}</p>
          <h5 class="text-base font-semibold text-white">
            {{ currentShift?.leaveBuffer || '0' }}
          </h5>
        </div>
      </div>
    </div>

    <!-- Shifts List Section -->
    <div class="bg-white rounded-2xl p-4 sm:p-8 border border-[#d2d6db]">
      <!-- Filter Section -->
      <div class="p-6 sm:p-8 rounded-2xl bg-[#f3f4f6]">
        <div class="flex items-center justify-between">
          <h5 class="text-base sm:text-lg md:text-xl font-bold text-[#161616]">
            {{ 'COMMON.SEARCH_FILTERS' | translate }}
          </h5>
        </div>
        <div class="pt-6">
          <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-8">
            <div class="relative">
              <label class="label" for="shiftName">{{ 'MY_SHIFTS.NAME_ARABIC' | translate }}</label>
              <input [(ngModel)]="filterOptions.nameAr" class="peer" fluid="true" id="shiftName" pInputText
                [placeholder]="'MY_SHIFTS.NAME_ARABIC' | translate" type="text" />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"></span>
            </div>
            <div class="relative">
              <label class="label" for="shiftName">{{
                'MY_SHIFTS.NAME_ENGLISH' | translate
                }}</label>
              <input [(ngModel)]="filterOptions.nameEn" class="peer" fluid="true" id="shiftName" pInputText
                [placeholder]="'MY_SHIFTS.NAME_ENGLISH' | translate" type="text" />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"></span>
            </div>
            <div class="relative">
              <label class="label" for="dateFrom">{{ 'MY_SHIFTS.START_DATE' | translate }}</label>
              <p-datepicker [(ngModel)]="filterOptions.startDate" [iconDisplay]="'input'" [showIcon]="true"
                [maxDate]="endDate" class="peer block w-full" inputId="dateFrom"
                [placeholder]="'MY_SHIFTS.START_DATE' | translate">
                <ng-template pTemplate="inputicon">
                  <img alt="" src="assets/icons/calender-icon.svg" />
                </ng-template>
              </p-datepicker>
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"></span>
            </div>
            <div class="relative">
              <label class="label" for="dateTo">{{ 'MY_SHIFTS.END_DATE' | translate }}</label>
              <p-datepicker [(ngModel)]="filterOptions.endDate" [iconDisplay]="'input'" [minDate]="startDate"
                [showIcon]="true" class="peer block w-full" inputId="dateTo"
                [placeholder]="'MY_SHIFTS.END_DATE' | translate">
                <ng-template pTemplate="inputicon">
                  <img alt="" src="assets/icons/calender-icon.svg" />
                </ng-template>
              </p-datepicker>
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"></span>
            </div>
          </div>

          <div class="actions flex items-center gap-4 pt-6">
            <button (click)="onSearch()" class="btn black-btn disabled:opacity-50">
              <span>{{ 'COMMON.SEARCH' | translate }}</span>
            </button>
            <button (click)="onResetFilters()" class="btn gray-btn border border-[#d2d6db] disabled:opacity-50">
              {{ 'COMMON.RESET_SEARCH' | translate }}
            </button>
          </div>
        </div>
      </div>

      <!-- Table Section -->
      <div class="mt-6">
        <div
          class="flex items-start xl:items-center justify-between flex-col xl:flex-row gap-4 bg-[#e5e7eb] rounded-lg p-4 sm:p-6 mb-4">
          <h4 class="text-lg sm:text-xl md:text-2xl font-bold text-[#161616]">
            {{ 'MY_SHIFTS.ASSIGNED_SHIFTS_LIST' | translate }}
          </h4>
          <div class="actions flex items-center gap-4 ms-auto">
            <button (click)="onExportExcel()" class="table-head-action-btn min-w-[40px]">
              <img alt="تصدير إلى Excel" src="assets/icons/excel.svg" />
            </button>
          </div>
        </div>

        <!-- Table -->
        @if (employeeShifts && employeeShifts.length > 0) {
        <p-table [value]="employeeShifts">
          <ng-template #header>
            <tr>
              <th>{{ 'MY_SHIFTS.NAME_ARABIC' | translate }}</th>
              <th>{{ 'MY_SHIFTS.NAME_ENGLISH' | translate }}</th>
              <th>{{ 'MY_SHIFTS.STARTING_DATE' | translate }}</th>
              <th>{{ 'MY_SHIFTS.ENDING_DATE' | translate }}</th>
              <th>{{ 'MY_SHIFTS.TIME_FROM_TO' | translate }}</th>
              <th>{{ 'MY_SHIFTS.ATTENDANCE_BUFFER' | translate }}</th>
              <th>{{ 'MY_SHIFTS.LEAVE_BUFFER' | translate }}</th>
              <th>{{ 'COMMON.ACTION' | translate }}</th>
            </tr>
          </ng-template>
          <ng-template #body let-shift>
            <tr>
              <td>{{ shift.nameAr }}</td>
              <td>{{ shift.nameEn }}</td>
              <td>{{ shift.startDate }}</td>
              <td>{{ shift.endDate }}</td>
              <td>{{ shift.timeFrom }} - {{ shift.timeTo }}</td>
              <td>{{ shift.attendanceBuffer || '0' }}</td>
              <td>{{ shift.leaveBuffer || '0' }}</td>
              <td>
                <button class="table-action-gray-btn gap-1 !min-w-[146px]" (click)="openDialog(shift)">
                  <img src="/assets/icons/view.svg" alt="عرض" />
                  {{ 'MY_SHIFTS.SHIFT_DAYS' | translate }}
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
        } @else {
        <div class="flex items-center justify-center h-64">
          <p class="text-gray-500">{{ 'COMMON.NO_DATA_TO_SHOW' | translate }}</p>
        </div>
        }
        <!-- Pagination -->
        @if (paginationInfo) {
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rowsPerPageOptions]="[10, 20, 30]"
          [rows]="rows" [totalRecords]="getTotalRecords()" class="mt-6" />
        }
      </div>
    </div>
  </div>
</div>