<div class="bg-white" [ngClass]="{ 'bg-transparent': embedded }">
  <div class="bg-[#f9fafb] p-3 sm:p-6" [ngClass]="{ '!bg-transparent !p-0': embedded }">
    @if (!embedded) {
      <div class="header bg-white rounded-2xl p-4 sm:p-6 mb-6">
        <p-breadcrumb [home]="home" [model]="breadcrumbs" class="max-w-full">
          <ng-template let-item pTemplate="item">
            <a [routerLink]="item.url" class="cursor-pointer">
              <span>{{ item.label | translate }}</span>
            </a>
          </ng-template>
        </p-breadcrumb>
        <h3 class="text-xl sm:text-2xl md:text-3xl font-bold text-[#161616]">
          {{ 'MY_SHIFTS.MY_SHIFTS' | translate }}
        </h3>
      </div>
    }

    <!-- Shifts List Section -->
    <div class="bg-white rounded-2xl p-4 sm:p-8 border border-[#d2d6db]">
      <!-- Filter Section -->
      <div class="p-6 sm:p-8 rounded-2xl bg-[#f3f4f6]">
        <div class="flex items-center justify-between">
          <h5 class="text-base sm:text-lg md:text-xl font-bold text-[#161616]">
            {{ 'COMMON.SEARCH_FILTERS' | translate }}
          </h5>
        </div>
        <div class="pt-6">
          <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-8">
            <div class="relative">
              <label class="label" for="shiftName">{{ 'MY_SHIFTS.NAME_ARABIC' | translate }}</label>
              <input
                [(ngModel)]="filterOptions.nameAr"
                class="peer"
                fluid="true"
                id="shiftName"
                pInputText
                [placeholder]="'MY_SHIFTS.NAME_ARABIC' | translate"
                type="text"
              />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
            <div class="relative">
              <label class="label" for="shiftName">{{
                'MY_SHIFTS.NAME_ENGLISH' | translate
              }}</label>
              <input
                [(ngModel)]="filterOptions.nameEn"
                class="peer"
                fluid="true"
                id="shiftName"
                pInputText
                [placeholder]="'MY_SHIFTS.NAME_ENGLISH' | translate"
                type="text"
              />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
            <div class="relative">
              <label class="label">
                {{ 'USER_WORK_SHIFT_PAGE.SHIFT_TYPE' | translate }}
              </label>
              <p-select
                [options]="shiftTypeOptions"
                [(ngModel)]="filterOptions.workShiftType"
                class="w-full peer"
                [optionLabel]="optionLabel"
                optionValue="value"
                [placeholder]="'USER_WORK_SHIFT_PAGE.SHIFT_TYPE' | translate"
                [showClear]="true"
              ></p-select>
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
            <div class="relative">
              <label class="label" for="dateFrom">{{ 'MY_SHIFTS.START_DATE' | translate }}</label>
              <p-datepicker
                [(ngModel)]="filterOptions.startDate"
                [iconDisplay]="'input'"
                [showIcon]="true"
                [maxDate]="endDate"
                class="peer block w-full"
                inputId="dateFrom"
                [placeholder]="'MY_SHIFTS.START_DATE' | translate"
              >
                <ng-template pTemplate="inputicon">
                  <img alt="" src="assets/icons/calender-icon.svg" />
                </ng-template>
              </p-datepicker>
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
            <div class="relative">
              <label class="label" for="dateTo">{{ 'MY_SHIFTS.END_DATE' | translate }}</label>
              <p-datepicker
                [(ngModel)]="filterOptions.endDate"
                [iconDisplay]="'input'"
                [minDate]="startDate"
                [showIcon]="true"
                class="peer block w-full"
                inputId="dateTo"
                [placeholder]="'MY_SHIFTS.END_DATE' | translate"
              >
                <ng-template pTemplate="inputicon">
                  <img alt="" src="assets/icons/calender-icon.svg" />
                </ng-template>
              </p-datepicker>
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
          </div>

          <div class="actions flex items-center gap-4 pt-6">
            <button (click)="onSearch()" class="btn black-btn disabled:opacity-50">
              <span>{{ 'COMMON.SEARCH' | translate }}</span>
            </button>
            <button
              (click)="onResetFilters()"
              class="btn gray-btn border border-[#d2d6db] disabled:opacity-50"
            >
              {{ 'COMMON.RESET_SEARCH' | translate }}
            </button>
          </div>
        </div>
      </div>

      <!-- Table Section -->
      <div class="mt-6">
        <div
          class="flex items-start xl:items-center justify-between flex-col xl:flex-row gap-4 bg-[#e5e7eb] rounded-lg p-4 sm:p-6 mb-4"
        >
          <h4 class="text-lg sm:text-xl md:text-2xl font-bold text-[#161616]">
            {{ 'MY_SHIFTS.ASSIGNED_SHIFTS_LIST' | translate }}
          </h4>
          <div class="actions flex items-center gap-4 ms-auto">
            <button (click)="onExportExcel()" class="table-head-action-btn min-w-[40px]">
              <img alt="تصدير إلى Excel" src="assets/icons/excel.svg" />
            </button>
            <button
              (click)="exportPdf(getTranslatedFileName('MY_SHIFTS.MY_SHIFTS'))"
              class="table-head-action-btn min-w-[40px]"
            >
              <img alt="تصدير إلى PDF" src="assets/icons/pdf.svg" />
            </button>
          </div>
        </div>

        <!-- Table -->
        @if (employeeShifts && employeeShifts.length > 0) {
          <p-table [value]="employeeShifts">
            <ng-template #header>
              <tr>
                <th>{{ 'MY_SHIFTS.SHIFT_NAME' | translate }}</th>
                <th>{{ 'USER_WORK_SHIFT_PAGE.SHIFT_TYPE' | translate }}</th>
                <th>{{ 'MY_SHIFTS.START_DATE' | translate }}</th>
                <th>{{ 'MY_SHIFTS.END_DATE' | translate }}</th>
                <!-- <th>{{ 'COMMON.ACTION' | translate }}</th> -->
              </tr>
            </ng-template>
            <ng-template #body let-shift>
              <tr>
                <td>
                  @let shiftNames = getShiftNames(shift);
                  @if (shiftNames.length === 1) {
                    {{ shiftNames[0] }}
                  } @else {
                    <div class="flex items-center gap-2 flex-wrap">
                      @for (name of shiftNames; track $index) {
                        <div
                          [pTooltip]="name"
                          tooltipPosition="top"
                          class="border border-[#E5E7EB] text-[#1F2A37] px-2 py-1 rounded bg-[#F9FAFB] text-sm max-w-[17ch] whitespace-nowrap overflow-hidden text-ellipsis"
                        >
                          {{ name }}
                        </div>
                      }
                    </div>
                  }
                </td>
                <td>{{ getShiftTypeName(shift) }}</td>
                <td>
                  {{ shift.startDate | date: 'dd/MM/yyyy' }}
                </td>
                <td>
                  {{ shift.endDate | date: 'dd/MM/yyyy' }}
                </td>
                <!-- <td>
                  <button
                    class="table-action-gray-btn gap-1 !min-w-[146px] !px-6"
                    (click)="openDialog(shift)"
                  >
                    <img src="/assets/icons/view.svg" alt="عرض" />
                    {{ 'MY_SHIFTS.SHIFT_DAYS' | translate }}
                  </button>
                </td> -->
              </tr>
            </ng-template>
          </p-table>
        } @else {
          <div class="flex items-center justify-center h-64">
            <p class="text-gray-500">{{ 'COMMON.NO_DATA_TO_SHOW' | translate }}</p>
          </div>
        }
        <!-- Pagination -->
        @if (paginationInfo) {
          <p-paginator
            (onPageChange)="onPageChange($event)"
            [first]="first"
            [rowsPerPageOptions]="[10, 20, 30]"
            [rows]="rows"
            [totalRecords]="getTotalRecords()"
            class="mt-6"
          />
        }
      </div>
    </div>
  </div>
</div>
