<div class="bg-white">
  <div class="bg-[#f9fafb] p-3 sm:p-6">
    <div class="header bg-white rounded-2xl p-4 sm:p-6 mb-6">
      <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
      <h3 class="text-xl sm:text-2xl md:text-3xl font-bold text-[#161616]">قائمة الجنسيات</h3>
    </div>
    <div class="bg-white rounded-2xl p-4 sm:p-8 border border-[#d2d6db]">
      <div class="p-6 sm:p-8 rounded-2xl bg-[#f3f4f6]">
        <div class="flex items-center justify-between">
          <h5 class="text-base sm:text-lg md:text-xl font-bold text-[#161616]">تصفية البحث</h5>
        </div>
        <div class="pt-6">
          <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8">
            <div class="relative">
              <label for="nationalityAr" class="label">الجنسية بالعربية</label>
              <input id="nationalityAr" type="text" pInputText class="peer" fluid="true" />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"></span>
            </div>
            <div class="relative">
              <label for="nationalityEn" class="label">الجنسية بالانجليزية</label>
              <input id="nationalityEn" type="text" pInputText class="peer" fluid="true" />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"></span>
            </div>
          </div>

          <div class="actions flex items-center gap-4 pt-6">
            <button class="btn black-btn">بحث</button>
            <button class="btn gray-btn border border-[#d2d6db]">إعادة تعيين</button>
          </div>
        </div>
      </div>
      <div class="mt-6">
        <div
          class="flex items-start xl:items-center justify-between justify-between flex-col xl:flex-row gap-4 bg-[#e5e7eb] rounded-lg p-4 sm:p-6 mb-4">
          <h4 class="text-lg sm:text-xl md:text-2xl font-bold text-[#161616]">قائمة الجنسيات</h4>
          <div class="actions flex items-center gap-4 ms-auto">
            <button>
              <img src="/assets/icons/excel.svg" alt="" />
            </button>
            <button>
              <img src="/assets/icons/print.svg" alt="" />
            </button>
            <button class="btn green-btn flex items-center" (click)="openDialog()">
              <img src="/assets/icons/plus.svg" alt="" />
              <span>إضافة جنسية جديدة</span>
            </button>
          </div>
        </div>
        <p-table [value]="nationalities">
          <ng-template #header>
            <tr>
              <th>الجنسية بالعربية</th>
              <th>الجنسية بالانجليزية</th>
              <th class="w-[100px]">الإجراء</th>
            </tr>
          </ng-template>
          <ng-template #body let-nationalities>
            <tr>
              <td>{{ nationalities.nationalityAr }}</td>
              <td>{{ nationalities.nationalityEn }}</td>

              <td>
                <div class="actions flex gap-2">
                  <button class="bg-[#f3f4f6] rounded p-2 flex items-center justify-center w-[32px]">
                    <img src="/assets/icons/edit-action.svg" alt="" />
                  </button>
                  <button class="bg-[#f3f4f6] rounded p-2 flex items-center justify-center w-[32px]">
                    <img src="/assets/icons/edit-action.svg" alt="" />
                  </button>
                  <button class="bg-[#fef3f2] rounded p-2 flex items-center justify-center w-[32px]">
                    <img src="/assets/icons/delete-action.svg" alt="" />
                  </button>
                  <button class="bg-[#fef3f2] rounded p-2 flex items-center justify-center w-[32px]">
                    <img src="/assets/icons/delete-action.svg" alt="" />
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <p-paginator class="mt-6" (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
          [totalRecords]="120" [rowsPerPageOptions]="[10, 20, 30]" />
      </div>
    </div>
  </div>
</div>