<div class="bg-white">
  <div class="bg-[#f9fafb] p-3 sm:p-6">
    <div class="header bg-white rounded-2xl p-4 sm:p-6 mb-6">
      <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
      <h3 class="text-xl sm:text-2xl md:text-3xl font-bold text-[#161616]">
        {{ 'NATIONALITIES_PAGE.NATIONALITIES_LIST' | translate }}
      </h3>
    </div>
    <div class="bg-white rounded-2xl p-4 sm:p-8 border border-[#d2d6db]">
      <div class="p-6 sm:p-8 rounded-2xl bg-[#f3f4f6]">
        <div class="flex items-center justify-between">
          <h5 class="text-base sm:text-lg md:text-xl font-bold text-[#161616]">
            {{ 'NATIONALITIES_PAGE.SEARCH_FILTERS' | translate }}
          </h5>
        </div>
        <div class="pt-6">
          <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8">
            <div class="relative">
              <label for="nationalityAr" class="label">{{
                'NATIONALITIES_PAGE.NATIONALITY_IN_ARABIC' | translate
              }}</label>
              <input
                id="nationalityAr"
                type="text"
                pInputText
                class="peer"
                fluid="true"
                [placeholder]="'NATIONALITIES_PAGE.NATIONALITY_IN_ARABIC' | translate"
                [(ngModel)]="filterModel.nameAr"
              />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
            <div class="relative">
              <label for="nationalityEn" class="label">{{
                'NATIONALITIES_PAGE.NATIONALITY_IN_ENGLISH' | translate
              }}</label>
              <input
                id="nationalityEn"
                [placeholder]="'NATIONALITIES_PAGE.NATIONALITY_IN_ENGLISH' | translate"
                type="text"
                pInputText
                class="peer"
                fluid="true"
                [(ngModel)]="filterModel.nameEn"
              />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
          </div>

          <div class="actions flex items-center gap-4 pt-6">
            <button class="btn black-btn" (click)="search()">
              {{ 'NATIONALITIES_PAGE.SEARCH' | translate }}
            </button>
            <button class="btn gray-btn border border-[#d2d6db]" (click)="resetSearch()">
              {{ 'NATIONALITIES_PAGE.RESET_SEARCH' | translate }}
            </button>
          </div>
        </div>
      </div>
      <div class="mt-6">
        <div
          class="flex items-start xl:items-center justify-between justify-between flex-col xl:flex-row gap-4 bg-[#e5e7eb] rounded-lg p-4 sm:p-6 mb-4"
        >
          <h4 class="text-lg sm:text-xl md:text-2xl font-bold text-[#161616]">
            {{ 'NATIONALITIES_PAGE.NATIONALITIES_LIST' | translate }}
          </h4>
          <div class="actions flex items-center gap-4 ms-auto">
            <button>
              <img src="/assets/icons/excel.svg" alt="" />
            </button>
            <button>
              <img src="/assets/icons/print.svg" alt="" />
            </button>
            <button class="btn green-btn flex items-center" (click)="openDialog()">
              <img src="/assets/icons/plus.svg" alt="" />
              <span>{{ 'NATIONALITIES_PAGE.ADD_NEW_NATIONALITY' | translate }}</span>
            </button>
          </div>
        </div>
        @if (nationalities.length > 0) {
          <p-table [value]="nationalities">
            <ng-template pTemplate="header">
              <tr>
                <th>{{ 'NATIONALITIES_PAGE.NATIONALITY_IN_ARABIC' | translate }}</th>
                <th>{{ 'NATIONALITIES_PAGE.NATIONALITY_IN_ENGLISH' | translate }}</th>
                <th class="w-[100px]">{{ 'NATIONALITIES_PAGE.ACTIONS' | translate }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-nationality>
              <tr>
                <td>{{ nationality.nameAr }}</td>
                <td>{{ nationality.nameEn }}</td>
                <td>
                  <div class="actions flex gap-2">
                    <button class="bg-[#f3f4f6] rounded p-2 w-[32px]">
                      <img src="/assets/icons/edit-action.svg" alt="تعديل" />
                    </button>
                    <button class="bg-[#fef3f2] rounded p-2 w-[32px]">
                      <img src="/assets/icons/delete-action.svg" alt="حذف" />
                    </button>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        } @else {
          <div class="flex items-center justify-center h-64">
            <p class="text-gray-500">{{ 'NATIONALITIES_PAGE.NO_DATA_TO_SHOW' | translate }}</p>
          </div>
        }
        <p-paginator
          class="mt-6"
          (onPageChange)="onPageChange($event)"
          [first]="first"
          [rows]="rows"
          [totalRecords]="totalRecords"
          [rowsPerPageOptions]="[10, 20, 30]"
          [showCurrentPageReport]="false"
        />
      </div>
    </div>
  </div>
</div>
