<div [dir]="direction">
  <div class="p-6">
    <button (click)="close()" class="block ms-auto">
      <i class="pi pi-times"></i>
    </button>
    <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">اضافة مسائلة توثيق تواجد جديدة</h3>
    <form [formGroup]="yourFormGroup" class="mt-6">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 gap-6">
        <div class="lg:col-span-2">
          <label class="label">فترة السماح لتسجيل الحضور</label>
          <div class="relative">
            <input
              class="peer w-full"
              formControlName="allowedDuration"
              pInputText
              placeholder="فترة السماح لتسجيل الحضور"
              type="text"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <span
            *ngIf="
              yourFormGroup.get('allowedDuration')?.invalid &&
              yourFormGroup.get('allowedDuration')?.touched
            "
            class="validation-message"
            >هذا الحقل مطلوب</span
          >
        </div>

        <div class="lg:col-span-6">
          <label class="label">نص الرسالة</label>
          <div class="relative">
            <input
              class="peer w-full"
              formControlName="allowedDuration"
              pInputText
              placeholder="نص الرسالة"
              type="text"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <span
            *ngIf="
              yourFormGroup.get('allowedDuration')?.invalid &&
              yourFormGroup.get('allowedDuration')?.touched
            "
            class="validation-message"
            >هذا الحقل مطلوب</span
          >
        </div>
      </div>
      <div class="actions mt-6 flex items-center justify-end gap-4">
        <button (click)="close()" class="btn gray-btn">الغاء</button>
        <button class="btn green-btn">إضافة</button>
      </div>
    </form>
  </div>
</div>
