<div [dir]="direction">
  <div class="p-6">
    <button class="block ms-auto" (click)="close()">
      <i class="pi pi-times"></i>
    </button>
    <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">اضافة مسائلة توثيق تواجد جديدة</h3>
    <form class="mt-6">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 gap-6">
        <div class="lg:col-span-2">
          <label for="time-pick" class="label">التاريخ (من)</label>
          <div class="relative">
            <p-datepicker
              [(ngModel)]="date2"
              [iconDisplay]="'input'"
              [showIcon]="true"
              placeholder="التاريخ (من)"
              class="peer block w-full"
              inputId="icondisplay"
            >
              <ng-template pTemplate="inputicon">
                <img src="/assets/icons/calender-icon.svg" alt="" />
              </ng-template>
            </p-datepicker>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <span class="validation-message">هذا الحقل مطلوب</span>
        </div>
        <div class="lg:col-span-2">
          <label for="time-pick" class="label">فترة السماح لتسجيل الحضور</label>
          <!-- <div class="relative">
                        <p-datepicker [iconDisplay]="'input'" placeholder="hgf" [showIcon]="true" [timeOnly]="true"
                            class="peer block w-full" formControlName="timeTo" id="time-pick-to" inputId="icondisplay"
                            name="time-pick-to">
                            <ng-template pTemplate="inputicon">
                                <img alt="" src="assets/icons/time-icon.svg" />
                            </ng-template>
                        </p-datepicker>
                        <span
                            class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"></span>
                    </div> -->
          <span class="validation-message">هذا الحقل مطلوب</span>
        </div>
        <div class="lg:col-span-2">
          <label for="time-pick" class="label">فترة السماح لتسجيل الحضور</label>
          <div class="relative">
            <input
              placeholder="فترة السماح لتسجيل الحضور"
              class="peer"
              fluid="true"
              id="nationalityAr"
              pInputText
              type="text"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <span class="validation-message">هذا الحقل مطلوب</span>
        </div>
        <div class="lg:col-span-2">
          <label for="time-pick" class="label">اسم الموظف</label>
          <div class="relative">
            <p-select
              name="selectedAdminstration1"
              [options]="adminstrations"
              [(ngModel)]="selectedAdminstration"
              optionLabel="type"
              placeholder="اسم الموظف"
              class="w-full peer"
              id="empoyeeName-popup"
            ></p-select>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <span class="validation-message">هذا الحقل مطلوب</span>
        </div>
        <div class="lg:col-span-2">
          <label for="time-pick" class="label">اسم الموظف</label>
          <div class="relative">
            <p-select
              name="selectedAdminstration1"
              [options]="adminstrations"
              [(ngModel)]="selectedAdminstration"
              optionLabel="type"
              placeholder="اسم الموظف"
              class="w-full peer"
              id="empoyeeName-popup"
            ></p-select>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <span class="validation-message">هذا الحقل مطلوب</span>
        </div>
      </div>
      <div class="actions mt-6 flex items-center justify-end gap-4">
        <button class="btn gray-btn" (click)="close()">الغاء</button>
        <button class="btn green-btn">إضافة</button>
      </div>
    </form>
  </div>
</div>
