<div dir="rtl">
    <div class="p-6">
        <button (click)="close()" class="block ms-auto">
            <i class="pi pi-times close-popup"></i>
        </button>
        <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">إضافة موقع جديد</h3>
        <form class="">
            <div class="grid grid-cols-1">
                <div class="xl:col-span-1">
                    <label class="label" for="shiftName">اسم الموقع بالعربية</label>
                    <div class="relative">
                        <input class="peer" fluid="true" id="nationalityAr" pInputText placeholder="اسم الموقع بالعربية"
                            type="text" />
                        <span
                            class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"></span>
                    </div>
                    <span class="validation-message">هذا الحقل مطلوب</span>
                </div>
                <div class="xl:col-span-1">
                    <label class="label" for="shiftName">اسم الموقع بالانجليزية</label>
                    <div class="relative">
                        <input class="peer" fluid="true" id="nationalityAr" pInputText
                            placeholder="اسم الموقع بالانجليزية" type="text" />
                        <span
                            class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"></span>
                    </div>
                    <span class="validation-message">هذا الحقل مطلوب</span>
                </div>
            </div>
            <div class="actions mt-6 flex items-center justify-between gap-4">
                <button (click)="close()" class="btn gray-btn">الغاء</button>
                <button class="btn green-btn flex items-center">
                    <span>اضافة</span>
                </button>
            </div>
        </form>
    </div>
</div>