<div class="bg-white">
  <div class="bg-[#f9fafb] p-3 sm:p-6">
    <div class="header bg-white rounded-2xl p-4 sm:p-6 mb-6">
      <p-breadcrumb [home]="home" [model]="breadcrumbs" class="max-w-full">
        <ng-template let-item pTemplate="item">
          <span>{{ item.label | translate }}</span>
        </ng-template>
      </p-breadcrumb>
      <h3 class="text-xl sm:text-2xl md:text-3xl font-bold text-[#161616]">
        {{ 'ATTENDANCE_LOG_PAGE.ATTENDANCE_LOGS_TITLE' | translate }}
      </h3>
    </div>
    <p-tabs value="0">
      <p-tablist class="my-6">
        <p-tab (click)="clickMyAttendanceLogTab()" value="0"
          >{{ 'ATTENDANCE_LOG_PAGE.MY_ATTENDANCE_LOGS' | translate }}
        </p-tab>

        @if (showOthersAttendanceLogs()) {
          <p-tab (click)="clickOthersAttendanceLogTab()" value="1"
            >{{ 'ATTENDANCE_LOG_PAGE.OTHERS_ATTENDANCE_LOGS' | translate }}
          </p-tab>
        }
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <app-my-attendance-log-list></app-my-attendance-log-list>
        </p-tabpanel>
        <p-tabpanel value="1">
          <app-others-attendance-log-list></app-others-attendance-log-list>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</div>
