@if (isSentLink) {
  <section class="custom-container">
    <div class="px-8 py-6 sm:px-28 sm:py-20 max-w-[722px] rounded-xl bg-white">
      <h1
        class="text-[24px] sm:text-[30px] md:text-[36px] lg:text-[42px] font-bold text-[#161616] mb-[32px] sm:mb-[48px]"
      >
        {{ 'RESET_PASSWORD.FORGOT_PASSWORD' | translate }}
      </h1>
      @if (sendLinkErrorMessage && isSentLinkErrorMessageVisible) {
        <div
          class="relative flex items-center gap-4 px-6 py-4 rounded-lg bg-white mb-6 shadow-[0_32px_64px_-12px_rgba(16,24,40,0.14)] border-s-[6px] border-s-[#d92d20]"
        >
          <svg
            width="40"
            height="40"
            viewBox="0 0 40 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 20C0 8.954 8.954 0 20 0s20 8.954 20 20-8.954 20-20 20S0 31.046 0 20z"
              fill="#FEF3F2"
            />
            <path
              d="M19.16 23.333c0-.46.374-.833.834-.833H20a.833.833 0 0 1 0 1.667h-.007a.833.833 0 0 1-.834-.834zM19.375 20.833a.625.625 0 0 0 1.25 0V17.5a.625.625 0 1 0-1.25 0v3.333z"
              fill="#D92D20"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M18.635 11.68a4.328 4.328 0 0 1 2.73 0c.884.292 1.577.988 2.274 1.965.695.974 1.462 2.332 2.451 4.082l.039.069c.99 1.75 1.757 3.108 2.235 4.21.48 1.106.72 2.061.529 2.979a4.507 4.507 0 0 1-1.357 2.4c-.689.633-1.627.9-2.808 1.029-1.174.128-2.71.128-4.687.128h-.081c-1.977 0-3.513 0-4.688-.128-1.18-.129-2.119-.396-2.807-1.03a4.507 4.507 0 0 1-1.357-2.399c-.191-.918.048-1.873.529-2.98.478-1.1 1.245-2.459 2.235-4.21l.039-.068c.989-1.75 1.756-3.108 2.45-4.082.697-.977 1.39-1.673 2.274-1.966zm2.336 1.185a3.08 3.08 0 0 0-1.942 0c-.497.165-.996.589-1.65 1.506-.651.913-1.387 2.213-2.4 4.005-1.012 1.793-1.747 3.093-2.196 4.127-.45 1.036-.562 1.695-.451 2.227.14.672.483 1.278.979 1.735.39.358.996.587 2.096.706 1.1.12 2.567.12 4.593.12s3.494 0 4.593-.12c1.1-.12 1.707-.348 2.097-.706.496-.457.84-1.063.98-1.735.11-.532-.003-1.191-.453-2.227-.448-1.034-1.183-2.334-2.195-4.127-1.013-1.792-1.749-3.092-2.4-4.005-.654-.917-1.154-1.34-1.65-1.506z"
              fill="#D92D20"
            />
          </svg>
          <div>
            <h4 class="text-[16px] font-semibold text-[#1f2a37]">
              {{ 'RESET_PASSWORD.SEND_LINK_ERROR_MESSAGE_TITLE' | translate }}
            </h4>
            <p class="text-sm text-[#384250]">
              {{ sendLinkErrorMessage }}
            </p>
          </div>
          <button (click)="closeSendLinkErrorMessage()" class="absolute top-2 end-2 bg-white">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M4.558 4.558a.625.625 0 0 1 .884 0L10 9.116l4.558-4.558a.625.625 0 1 1 .884.884L10.884 10l4.558 4.558a.625.625 0 1 1-.884.884L10 10.884l-4.558 4.558a.625.625 0 1 1-.884-.884L9.116 10 4.558 5.442a.625.625 0 0 1 0-.884z"
                fill="#161616"
              />
            </svg>
          </button>
        </div>
      }

      <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
        <!-- National ID Field -->
        <div class="relative w-full mb-5">
          <label class="text-sm font-normal text-[#161616] block mb-2">
            {{ 'RESET_PASSWORD.NATIONAL_ID_LABEL' | translate }}
          </label>
          <input
            class="peer"
            type="text"
            pInputText
            [placeholder]="'RESET_PASSWORD.NATIONAL_ID_LABEL' | translate"
            fluid="true"
            formControlName="nationalId"
          />
          <span
            class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus:left-0 peer-focus:w-full"
          ></span>

          <!-- Validation Messages for National ID -->
          <app-validation-messages [control]="forgetPasswordForm.get('nationalId')!">
          </app-validation-messages>
        </div>

        <!-- Email Field -->
        <div class="relative w-full mb-5">
          <label class="text-sm font-normal text-[#161616] block mb-2">
            {{ 'RESET_PASSWORD.EMAIL_LABEL' | translate }}
          </label>
          <input
            class="peer"
            type="email"
            pInputText
            [placeholder]="'RESET_PASSWORD.EMAIL_LABEL' | translate"
            fluid="true"
            formControlName="email"
          />
          <span
            class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus:left-0 peer-focus:w-full"
          ></span>

          <!-- Validation Messages for Email -->
          <app-validation-messages [control]="forgetPasswordForm.get('email')!">
          </app-validation-messages>
        </div>

        <!-- Form Actions -->
        <div class="mt-10 flex items-center justify-between flex-wrap gap-4">
          <button type="submit" class="btn green-btn w-full">
            {{ 'RESET_PASSWORD.SEND_RESET_LINK' | translate }}
          </button>

          <button
            type="button"
            class="btn w-full border border-[#d2d6db] !text-[#000] hover:!bg-[#f3f4f6]"
            (click)="onCancel()"
          >
            {{ 'COMMON.CANCEL' | translate }}
          </button>
        </div>
      </form>
    </div>
  </section>
} @else {
  <section class="custom-container">
    <div class="px-8 py-6 sm:px-28 sm:py-20 max-w-[722px] rounded-xl bg-white">
      <h1
        class="text-[24px] sm:text-[30px] md:text-[36px] lg:text-[42px] font-bold text-[#161616] mb-[24px] sm:mb-[32px]"
      >
        @if (isResentLink) {
          {{ 'RESET_PASSWORD.RESEND_LINK_SENT' | translate }}
        } @else {
          {{ 'RESET_PASSWORD.LINK_SENT' | translate }}
        }
      </h1>
      @if (resendLinkErrorMessage && isResentLinkErrorMessageVisible) {
        <div
          class="relative flex items-center gap-4 px-6 py-4 rounded-lg bg-white mb-6 shadow-[0_32px_64px_-12px_rgba(16,24,40,0.14)] border-s-[6px] border-s-[#d92d20]"
        >
          <svg
            width="40"
            height="40"
            viewBox="0 0 40 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 20C0 8.954 8.954 0 20 0s20 8.954 20 20-8.954 20-20 20S0 31.046 0 20z"
              fill="#FEF3F2"
            />
            <path
              d="M19.16 23.333c0-.46.374-.833.834-.833H20a.833.833 0 0 1 0 1.667h-.007a.833.833 0 0 1-.834-.834zM19.375 20.833a.625.625 0 0 0 1.25 0V17.5a.625.625 0 1 0-1.25 0v3.333z"
              fill="#D92D20"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M18.635 11.68a4.328 4.328 0 0 1 2.73 0c.884.292 1.577.988 2.274 1.965.695.974 1.462 2.332 2.451 4.082l.039.069c.99 1.75 1.757 3.108 2.235 4.21.48 1.106.72 2.061.529 2.979a4.507 4.507 0 0 1-1.357 2.4c-.689.633-1.627.9-2.808 1.029-1.174.128-2.71.128-4.687.128h-.081c-1.977 0-3.513 0-4.688-.128-1.18-.129-2.119-.396-2.807-1.03a4.507 4.507 0 0 1-1.357-2.399c-.191-.918.048-1.873.529-2.98.478-1.1 1.245-2.459 2.235-4.21l.039-.068c.989-1.75 1.756-3.108 2.45-4.082.697-.977 1.39-1.673 2.274-1.966zm2.336 1.185a3.08 3.08 0 0 0-1.942 0c-.497.165-.996.589-1.65 1.506-.651.913-1.387 2.213-2.4 4.005-1.012 1.793-1.747 3.093-2.196 4.127-.45 1.036-.562 1.695-.451 2.227.14.672.483 1.278.979 1.735.39.358.996.587 2.096.706 1.1.12 2.567.12 4.593.12s3.494 0 4.593-.12c1.1-.12 1.707-.348 2.097-.706.496-.457.84-1.063.98-1.735.11-.532-.003-1.191-.453-2.227-.448-1.034-1.183-2.334-2.195-4.127-1.013-1.792-1.749-3.092-2.4-4.005-.654-.917-1.154-1.34-1.65-1.506z"
              fill="#D92D20"
            />
          </svg>
          <div>
            <h4 class="text-[16px] font-semibold text-[#1f2a37]">
              {{ 'RESET_PASSWORD.RESEND_LINK_ERROR_MESSAGE_TITLE' | translate }}
            </h4>
            <p class="text-sm text-[#384250]">
              {{ resendLinkErrorMessage }}
            </p>
          </div>
          <button (click)="closeResendLinkErrorMessage()" class="absolute top-2 end-2 bg-white">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M4.558 4.558a.625.625 0 0 1 .884 0L10 9.116l4.558-4.558a.625.625 0 1 1 .884.884L10.884 10l4.558 4.558a.625.625 0 1 1-.884.884L10 10.884l-4.558 4.558a.625.625 0 1 1-.884-.884L9.116 10 4.558 5.442a.625.625 0 0 1 0-.884z"
                fill="#161616"
              />
            </svg>
          </button>
        </div>
      }
      <article>
        <div class="mb-5">
          <p class="text-[16px] md:text-[18px] font-medium text-[#384250]">
            @if (isResentLink) {
              {{ 'RESET_PASSWORD.RESENT_LINK_DONE' | translate }}
            } @else {
              {{ 'RESET_PASSWORD.SENT_LINK_DONE' | translate }}
            }
          </p>

          <!-- Show the email address that was used -->
          <!-- @if (lastSubmittedData?.email) {
            <p class="text-[14px] text-[#6b7280] mt-2">
              {{ 'RESET_PASSWORD.EMAIL_SENT_TO' | translate }}:
              <strong>{{ lastSubmittedData?.email }}</strong>
            </p>
          } -->
        </div>
        @if (remainingSeconds > 0) {
          <div class="flex items-center justify-center my-6">
            <div class="countdown relative inline-flex items-center justify-center w-20 h-20">
              <svg
                [attr.width]="(countdownRadius + countdownStrokeWidth) * 2"
                [attr.height]="(countdownRadius + countdownStrokeWidth) * 2"
                [attr.viewBox]="
                  '0 0 ' +
                  (countdownRadius + countdownStrokeWidth) * 2 +
                  ' ' +
                  (countdownRadius + countdownStrokeWidth) * 2
                "
                class="-rotate-90"
              >
                <!-- Track -->
                <circle
                  [attr.cx]="countdownRadius + countdownStrokeWidth"
                  [attr.cy]="countdownRadius + countdownStrokeWidth"
                  [attr.r]="countdownRadius"
                  [attr.stroke-width]="countdownStrokeWidth"
                  class="text-[#e5e7eb]"
                  stroke="currentColor"
                  fill="transparent"
                ></circle>
                <!-- Progress -->
                <circle
                  [attr.cx]="countdownRadius + countdownStrokeWidth"
                  [attr.cy]="countdownRadius + countdownStrokeWidth"
                  [attr.r]="countdownRadius"
                  [attr.stroke-width]="countdownStrokeWidth"
                  class="text-[#1b8354]"
                  stroke="currentColor"
                  fill="transparent"
                  [attr.stroke-dasharray]="circumference"
                  [attr.stroke-dashoffset]="dashOffset"
                  stroke-linecap="round"
                ></circle>
              </svg>
              <div
                class="timer-text text-[#384250] font-bold text-sm flex items-center justify-center absolute inset-0"
              >
                {{ formattedTime }}
              </div>
            </div>
          </div>
        }
        <div class="mt-10 flex items-center justify-between flex-wrap gap-4">
          <button
            type="button"
            class="btn green-btn w-full disabled:!bg-[#e5e7eb] disabled:!text-[#9da4ae] disabled:cursor-not-allowed"
            [disabled]="remainingSeconds > 0"
            [attr.aria-disabled]="remainingSeconds > 0"
            (click)="onResendLink()"
          >
            {{ 'RESET_PASSWORD.RESEND_LINK' | translate }}
          </button>

          <div class="flex gap-4 w-full">
            <!-- <button
              type="button"
              class="btn gray-btn inline-flex items-center justify-center min-h-[40px] px-3 rounded text-[14px] font-medium hover:bg-[#f1f1f1] transition flex-1 border border-[#d2d6db]"
              (click)="onBackToForm()"
            >
              {{ 'RESET_PASSWORD.BACK_TO_FORM' | translate }}
            </button> -->

            <button
              type="button"
              class="btn w-full border border-[#d2d6db] !text-[#000] hover:!bg-[#f3f4f6]"
              (click)="onBackToLogin()"
            >
              {{ 'RESET_PASSWORD.BACK_TO_LOGIN' | translate }}
            </button>
          </div>
        </div>
      </article>
    </div>
  </section>
}
