<section class="custom-container">
  <div class="px-8 py-6 sm:px-28 sm:py-20 max-w-[722px] rounded-xl bg-white">
    <h1
      class="text-[24px] sm:text-[30px] md:text-[36px] lg:text-[42px] font-bold text-[#161616] mb-[24px] sm:mb-[32px]"
    >
      تم ارسال الرابط!
    </h1>
    <article>
      <div class="mb-5">
        <p class="text-[16px] md:text-[18px] font-medium text-[#384250]">
          من فضلك تحقق من البريد الالكتروني الخاص بك، تم إرسال رابط إعادة تعيين كلمة المرور إلى
          بريدك الإلكتروني
        </p>
      </div>
      <div class="mt-10 flex items-center justify-between flex-wrap gap-4">
        <button class="btn green-btn w-full">إعادة ارسال الرابط</button>
        <a
          class="btn gray-btn inline-flex items-center justify-center min-h-[40px] px-3 rounded text-[14px] font-medium hover:bg-[#f1f1f1] transition w-full border border-[#d2d6db]"
          href=""
          >الرجوع لتسجيل الدخول</a
        >
      </div>
    </article>
  </div>
</section>
