<div dir="rtl">
  <div class="p-6">
    <button class="block ms-auto" (click)="close()">
      <i class="pi pi-times close-popup"></i>
    </button>
    <h3 class="text-[#1f2a37] font-[600] mb-4 text-lg sm:text-xl">
      {{ 'INQUIRIES_PAGE.DOCUMENTATION_INQUIRY' | translate }}
    </h3>

    <!-- Header Info -->
    <div class="bg-[#074d31] rounded-2xl p-6 mb-6">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
        <div class="flex flex-col gap-1 text-white">
          <span class="text-[14px]">{{ 'INQUIRIES_PAGE.INQUIRY_DATE' | translate }}</span>
          <h4 class="font-semibold text-[16px]">{{ model.assignedDate | date: 'dd/MM/yyyy' }}</h4>
        </div>
        <div class="flex flex-col gap-1 text-white">
          <span class="text-[14px]">{{ 'INQUIRIES_PAGE.INQUIRY_TIME' | translate }}</span>
          <h4 class="font-semibold text-[16px]">{{ model.assignedDate | date: 'hh:mm:ss a' }}</h4>
        </div>
        <div class="flex flex-col gap-1 text-white">
          <span class="text-[14px]">{{ 'INQUIRIES_PAGE.BUFFER' | translate }}</span>
          <h4
            class="inline-flex items-center gap-3 text-[#000] text-base w-fit font-medium px-4 rounded-full bg-[#fff]"
          >
            {{ model.buffer }}
          </h4>
        </div>
        <div class="flex flex-col gap-1 text-white">
          <span class="text-[14px]">{{ 'INQUIRIES_PAGE.INQUIRY_RESULT' | translate }}</span>
          <h4 class="inline-flex items-center gap-3 w-fit text-base font-medium px-4 rounded-full">
            @if (model.statusId === inquiryStatusEnum.ACTIVE) {
              <span
                class="text-[14px] text-[#067647] min-w-[101px] min-h-[24px] inline-flex justify-center items-center gap-2 px-2 rounded-full bg-[#ecfdf3] font-medium"
              >
                <span class="w-[10px] h-[10px] bg-[#067647] rounded-full"></span>
                {{ 'INQUIRIES_PAGE.UNDER_PROCESSING' | translate }}
              </span>
            }
            @if (model.statusId === inquiryStatusEnum.INACTIVE) {
              <span
                class="text-[14px] text-[#912018] min-w-[101px] min-h-[24px] inline-flex justify-center items-center gap-2 px-2 rounded-full bg-[#fef3f2] font-medium"
              >
                <span class="w-[10px] h-[10px] bg-[#912018] rounded-full"></span>
                {{ 'INQUIRIES_PAGE.TIME_EXPIRED' | translate }}
              </span>
            }
            @if (model.statusId === inquiryStatusEnum.NOT_ASSIGNED) {
              <span
                class="text-[14px] text-[#4d5761] min-w-[101px] min-h-[24px] inline-flex justify-center items-center gap-2 px-2 rounded-full bg-[#f3f4f6] font-medium"
              >
                <span class="w-[10px] h-[10px] bg-[#4d5761] rounded-full"></span>
                {{ 'INQUIRIES_PAGE.NOT_ASSIGNED' | translate }}
              </span>
            }
          </h4>
        </div>
      </div>
    </div>

    <!-- Task Description -->
    <div class="bg-[#f3f4f6] rounded-2xl p-6">
      <h4 class="text-[#6c737f] text-[14px] mb-2">
        {{ 'INQUIRIES_PAGE.INQUIRY_TEXT' | translate }}
      </h4>
      <p class="text-[#161616] text-[16px] font-semibold">
        {{ model.getName() }}
      </p>
    </div>

    <h4 class="text-[#1f2a37] text-[18px] font-semibold mt-8">
      {{ 'INQUIRIES_PAGE.ASSIGNED_USERS' | translate }}
    </h4>

    <!-- Group by inquiryStatusId -->
    @for (statusGroup of statusGroups; track $index) {
      <ng-container>
        <div class="mt-4 pt-6 border-t border-[#d2d6db]">
          <div>
            @if (statusGroup.id === userInquiryStatusEnum.CONFIRMED) {
              <span
                class="text-[14px] text-[#fff] min-w-[101px] min-h-[24px] inline-flex justify-center items-center gap-2 p-1 rounded-full font-medium bg-[#067647]"
              >
                <span class="w-[10px] h-[10px] bg-[#ffffff99] rounded-full"></span>
                {{ 'INQUIRIES_PAGE.CONFIRMED' | translate }}
              </span>
            }
            @if (statusGroup.id === userInquiryStatusEnum.UNDER_CONFIRMATION) {
              <span
                class="text-[14px] text-[#fff] min-w-[101px] min-h-[24px] inline-flex justify-center items-center gap-2 p-1 rounded-full font-medium bg-[#4d5761]"
              >
                <span class="w-[10px] h-[10px] bg-[#ffffff99] rounded-full"></span>
                {{ 'INQUIRIES_PAGE.UNDER_CONFIRMATION' | translate }}
              </span>
            }
            @if (statusGroup.id === userInquiryStatusEnum.NOT_CONFIRMED) {
              <span
                class="text-[14px] text-[#fff] min-w-[101px] min-h-[24px] inline-flex justify-center items-center gap-2 p-1 rounded-full font-medium bg-[#d92d20]"
              >
                <span class="w-[10px] h-[10px] bg-[#ffffff99] rounded-full"></span>
                {{ 'INQUIRIES_PAGE.NOT_CONFIRMED' | translate }}
              </span>
            }
          </div>

          <div class="flex flex-wrap gap-4 mt-4">
            @for (user of statusGroup.users; track $index) {
              <div class="bg-[#f3f4f6] rounded-full px-3">
                <span class="text-[#161616] font-medium">
                  {{ isArabicLang ? user.fullNameAr : user.fullNameEn }}
                </span>
              </div>
            }
          </div>
        </div>
      </ng-container>
    }

    <div class="actions mt-6 flex items-center justify-end gap-4">
      <button class="btn gray-btn" (click)="close()">{{ 'COMMON.CANCEL' | translate }}</button>
    </div>
  </div>
</div>
