<div dir="rtl">
  <div class="p-6">
    <button class="block ms-auto" (click)="close()">
      <i class="pi pi-times close-popup"></i>
    </button>
    <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">مسائلة توثيق التواجد</h3>
    <div class="bg-[#074d31] rounded-2xl p-6 mb-6">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
        <div class="flex flex-col gap-1 text-white">
          <span class="text-[14px]">تاريخ المسائلة</span>
          <h4 class="font-semibold text-[16px]">12/12/2024</h4>
        </div>
        <div class="flex flex-col gap-1 text-white">
          <span class="text-[14px]">وقت المسائلة</span>
          <h4 class="font-semibold text-[16px]">10:00 ص</h4>
        </div>
        <div class="flex flex-col gap-1 text-white">
          <span class="text-[14px]">فترة السماح لتسجيل الحضور</span>
          <h4
            class="inline-flex items-center gap-3 text-[#000] text-base w-fit font-medium px-4 rounded-full bg-[#fff]"
          >
            10 دق
          </h4>
        </div>
        <div class="flex flex-col gap-1 text-white">
          <span class="text-[14px]">نتيجة المسائلة</span>
          <h4
            class="inline-flex items-center gap-3 text-[#912018] w-fit text-base font-medium px-4 rounded-full bg-[#fef3f2]"
          >
            <span class="block w-[10px] h-[10px] rounded-full bg-[#912018]"></span>
            تم انتهاء وقت التوثيق
          </h4>
        </div>
      </div>
    </div>
    <div class="bg-[#f3f4f6] rounded-2xl p-6">
      <h4 class="text-[#6c737f] text-[14px] mb-2">نص المسائلة</h4>
      <p class="text-[#161616] text-[16px] font-semibold">
        هنا يكون محتوى وصف المهمة هنا يكون محتوى وصف المهمة هنا يكون محتوى وصف المهمة
      </p>
    </div>
    <h4 class="text-[#1f2a37] text-[18px] font-semibold mt-8">الموظفون المعنيون بتنفيذ المهام</h4>
    <div class="mt-4 pt-6 border-t border-[#d2d6db]">
      <div>
        <span
          class="text-[14px] text-[#fff] min-w-[101px] min-h-[24px] inline-flex justify-center items-center gap-2 p-1 rounded-full bg-[#067647] font-medium"
        >
          <span class="w-[10px] h-[10px] bg-[#ffffff99] rounded-full"></span>
          تم التوثيق
        </span>
      </div>
      <div class="flex flex-wrap gap-4 mt-4">
        <div class="bg-[#f3f4f6] rounded-full px-3">
          <span class="text-[#161616] font-medium">محمد احمد طه</span>
        </div>
        <div class="bg-[#f3f4f6] rounded-full px-3">
          <span class="text-[#161616] font-medium">محمد احمد طه</span>
        </div>
        <div class="bg-[#f3f4f6] rounded-full px-3">
          <span class="text-[#161616] font-medium">محمد احمد طه</span>
        </div>
        <div class="bg-[#f3f4f6] rounded-full px-3">
          <span class="text-[#161616] font-medium">محمد احمد طه</span>
        </div>
        <div class="bg-[#f3f4f6] rounded-full px-3">
          <span class="text-[#161616] font-medium">محمد احمد طه</span>
        </div>
        <div class="bg-[#f3f4f6] rounded-full px-3">
          <span class="text-[#161616] font-medium">محمد احمد طه</span>
        </div>
      </div>
    </div>
    <div class="mt-6 pt-6 border-t border-[#d2d6db]">
      <div>
        <span
          class="text-[14px] text-[#fff] min-w-[101px] min-h-[24px] inline-flex justify-center items-center gap-2 p-1 rounded-full bg-[#4d5761] font-medium"
        >
          <span class="w-[10px] h-[10px] bg-[#ffffff99] rounded-full"></span>
          تم التوثيق
        </span>
      </div>
      <div class="flex flex-wrap gap-4 mt-4">
        <div class="bg-[#f3f4f6] rounded-full px-3">
          <span class="text-[#161616] font-medium">محمد احمد طه</span>
        </div>
        <div class="bg-[#f3f4f6] rounded-full px-3">
          <span class="text-[#161616] font-medium">محمد احمد طه</span>
        </div>
        <div class="bg-[#f3f4f6] rounded-full px-3">
          <span class="text-[#161616] font-medium">محمد احمد طه</span>
        </div>
        <div class="bg-[#f3f4f6] rounded-full px-3">
          <span class="text-[#161616] font-medium">محمد احمد طه</span>
        </div>
        <div class="bg-[#f3f4f6] rounded-full px-3">
          <span class="text-[#161616] font-medium">محمد احمد طه</span>
        </div>
        <div class="bg-[#f3f4f6] rounded-full px-3">
          <span class="text-[#161616] font-medium">محمد احمد طه</span>
        </div>
      </div>
    </div>
   <div class="mt-6 pt-6 border-t border-[#d2d6db]">
      <div>
        <span
          class="text-[14px] text-[#fff] min-w-[101px] min-h-[24px] inline-flex justify-center items-center gap-2 p-1 rounded-full bg-[#d92d20] font-medium"
        >
          <span class="w-[10px] h-[10px] bg-[#ffffff99] rounded-full"></span>
          تم التوثيق
        </span>
      </div>
      <div class="flex flex-wrap gap-4 mt-4">
        <div class="bg-[#f3f4f6] rounded-full px-3">
          <span class="text-[#161616] font-medium">محمد احمد طه</span>
        </div>
        <div class="bg-[#f3f4f6] rounded-full px-3">
          <span class="text-[#161616] font-medium">محمد احمد طه</span>
        </div>
        <div class="bg-[#f3f4f6] rounded-full px-3">
          <span class="text-[#161616] font-medium">محمد احمد طه</span>
        </div>
        <div class="bg-[#f3f4f6] rounded-full px-3">
          <span class="text-[#161616] font-medium">محمد احمد طه</span>
        </div>
        <div class="bg-[#f3f4f6] rounded-full px-3">
          <span class="text-[#161616] font-medium">محمد احمد طه</span>
        </div>
        <div class="bg-[#f3f4f6] rounded-full px-3">
          <span class="text-[#161616] font-medium">محمد احمد طه</span>
        </div>
      </div>
    </div>
    <div class="actions mt-6 flex items-center justify-end gap-4">
      <button class="btn gray-btn" (click)="close()">الغاء</button>
    </div>
  </div>
</div>
