<div class="bg-white">
  <div class="bg-[#f9fafb] p-3 sm:p-6">
    <div class="header bg-white rounded-2xl p-4 sm:p-6 mb-6">
      <p-breadcrumb [home]="home" [model]="items" class="max-w-full">
        <ng-template let-item pTemplate="item">
          <span>{{ item.label | translate }}</span>
        </ng-template>
      </p-breadcrumb>
      <h3 class="text-xl sm:text-2xl md:text-3xl font-bold text-[#161616]">
        {{ 'WORK_SHIFTS.WORK_SHIFTS' | translate }}
      </h3>
    </div>
    <div class="bg-white rounded-2xl p-4 sm:p-8 border border-[#d2d6db]">
      <div class="p-6 sm:p-8 rounded-2xl bg-[#f3f4f6]">
        <div class="flex items-center justify-between">
          <h5 class="text-base sm:text-lg md:text-xl font-bold text-[#161616]">
            {{ 'COMMON.SEARCH_FILTERS' | translate }}
          </h5>
        </div>
        <div class="pt-6">
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
            <div class="relative">
              <label class="label" for="shiftNameAr">{{
                  'WORK_SHIFTS.SHIFT_NAME_AR' | translate
                }}</label>
              <input
                [(ngModel)]="filterModel.nameAr"
                [placeholder]="'WORK_SHIFTS.SHIFT_NAME_AR' | translate"
                class="peer"
                fluid="true"
                id="shiftNameAr"
                pInputText
                type="text"
              />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
            <div class="relative">
              <label class="label" for="shiftNameEn">{{
                  'WORK_SHIFTS.SHIFT_NAME_EN' | translate
                }}</label>
              <input
                [(ngModel)]="filterModel.nameEn"
                [placeholder]="'WORK_SHIFTS.SHIFT_NAME_EN' | translate"
                class="peer"
                fluid="true"
                id="shiftNameEn"
                pInputText
                type="text"
              />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
          </div>

          <div class="actions flex items-center gap-4 pt-6">
            <button
              (click)="search()"
              class="btn black-btn"
            >
              {{ 'COMMON.SEARCH' | translate }}
            </button>
            <button
              (click)="resetSearch()"
              class="btn gray-btn border border-[#d2d6db]"
            >
              {{ 'COMMON.RESET_SEARCH' | translate }}
            </button>
          </div>
        </div>
      </div>
      <div class="mt-6">
        <div
          class="flex items-start xl:items-center justify-between justify-between flex-col xl:flex-row gap-4 bg-[#e5e7eb] rounded-lg p-4 sm:p-6 mb-4"
        >
          <h4 class="text-lg sm:text-xl md:text-2xl font-bold text-[#161616]">
            {{ 'WORK_SHIFTS.SHIFTS_LIST' | translate }}
          </h4>
          <div class="actions flex items-center gap-4 ms-auto">
            <button (click)="exportExcel('work-shifts.xlsx')" class="table-head-action-btn">
              <img alt="" src="assets/icons/excel.svg"/>
            </button>
            <button (click)="addOrEditModel()" class="btn green-btn flex items-center">
              <img alt="" src="assets/icons/plus.svg"/>
              <span>{{ 'WORK_SHIFTS.ADD_NEW_SHIFT' | translate }}</span>
            </button>
          </div>
        </div>
        <p-table [value]="list">
          <ng-template #header>
            <tr>
              <th>{{ 'WORK_SHIFTS.SHIFT_NAME_AR' | translate }}</th>
              <th>{{ 'WORK_SHIFTS.SHIFT_NAME_EN' | translate }}</th>
              <th>{{ 'WORK_SHIFTS.MAX_ATTENDANCE_TIME' | translate }}</th>
              <th>{{ 'WORK_SHIFTS.MAX_LEAVE_TIME' | translate }}</th>
              <th>{{ 'WORK_SHIFTS.TIME_FROM_TO' | translate }}</th>
              <th>{{ 'COMMON.ACTION' | translate }}</th>
            </tr>
          </ng-template>
          <ng-template #body let-shift>
            <tr>
              <td>{{ shift.nameAr }}</td>
              <td>{{ shift.nameEn }}</td>
              <td>{{ shift.attendanceBuffer }}</td>
              <td>{{ shift.leaveBuffer }}</td>
              <td>{{ shift.timeFrom }} - {{ shift.timeTo }}</td>
              <td>
                <div class="actions flex gap-2">
                  <button (click)="addOrEditModel(shift)" class="table-action-gray-btn">
                    <img [alt]="'COMMON.EDIT' | translate" src="assets/icons/edit-action.svg"/>
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <p-paginator
          (onPageChange)="onPageChange($event)"
          [first]="first"
          [rowsPerPageOptions]="[10, 20, 30]"
          [rows]="rows"
          [showCurrentPageReport]="false"
          [totalRecords]="paginationInfo.totalItems"
          class="mt-6"
        />
        <div></div>
      </div>
    </div>
  </div>
</div>
