<div [dir]="direction">
  <div class="p-6">
    <button (click)="close()" class="block ms-auto">
      <i class="pi pi-times"></i>
    </button>
    <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">
      {{
        (isCreateMode ? 'EMPLOYEES_PAGE.ADD_NEW_EMPLOYEE' : 'EMPLOYEES_PAGE.EDIT_EMPLOYEE')
          | translate
      }}
    </h3>

    <form [formGroup]="form">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div>
          <label class="label" for="department">{{
            'EMPLOYEES_PAGE.DEPARTMENT' | translate
          }}</label>
          <div class="relative">
            <p-select
              [optionLabel]="langOptionLabel"
              [options]="departments"
              class="w-full peer"
              formControlName="fkDepartmentId"
              id="department"
              name="selectedDepartment"
              optionValue="id"
              placeholder="{{ 'EMPLOYEES_PAGE.DEPARTMENT' | translate }}"
            ></p-select>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <!-- @if (departmentControl.touched && departmentControl.errors?.['required']) {
            <span class="validation-message">{{ 'COMMON.REQUIRED_FIELD' | translate }}</span>
          } -->
        </div>

        <div>
          <label class="label" for="employeeNameAr">{{
            'EMPLOYEES_PAGE.EMPLOYEE_NAME_ARABIC' | translate
          }}</label>
          <div class="relative">
            <input
              class="peer"
              fluid="true"
              formControlName="fullNameAr"
              id="employeeNameAr"
              pInputText
              placeholder="{{ 'EMPLOYEES_PAGE.EMPLOYEE_NAME_ARABIC' | translate }}"
              type="text"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="fullNameArControl"></app-validation-messages>
        </div>

        <div>
          <label class="label" for="employeeNameEn">{{
            'EMPLOYEES_PAGE.EMPLOYEE_NAME_ENGLISH' | translate
          }}</label>
          <div class="relative">
            <input
              class="peer"
              fluid="true"
              formControlName="fullNameEn"
              id="employeeNameEn"
              pInputText
              placeholder="{{ 'EMPLOYEES_PAGE.EMPLOYEE_NAME_ENGLISH' | translate }}"
              type="text"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="fullNameEnControl"></app-validation-messages>
        </div>

        <div>
          <label class="label" for="region">{{ 'EMPLOYEES_PAGE.REGION' | translate }}</label>
          <div class="relative">
            <p-select
              [optionLabel]="langOptionLabel"
              [options]="regions"
              class="w-full peer"
              formControlName="fkRegionId"
              id="region"
              name="region"
              optionValue="id"
              placeholder="{{ 'EMPLOYEES_PAGE.REGION' | translate }}"
            ></p-select>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="regionControl"></app-validation-messages>
        </div>

        <div>
          <label class="label" for="city">{{ 'EMPLOYEES_PAGE.CITY' | translate }}</label>
          <div class="relative">
            <p-select
              [optionLabel]="langOptionLabel"
              [options]="filteredCities"
              class="w-full peer"
              formControlName="fkCityId"
              id="city"
              name="city"
              optionValue="id"
              placeholder="{{ 'EMPLOYEES_PAGE.CITY' | translate }}"
            ></p-select>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="cityControl"></app-validation-messages>
        </div>
        <div>
          <label class="label" for="mobile">{{ 'EMPLOYEES_PAGE.PHONE_NUMBER' | translate }}</label>
          <div class="relative">
            <input
              class="peer"
              fluid="true"
              formControlName="phoneNumber"
              id="mobile"
              pInputText
              placeholder="{{ 'EMPLOYEES_PAGE.PHONE_NUMBER' | translate }}"
              type="text"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="phoneNumberControl"></app-validation-messages>
        </div>

        <div>
          <label class="label" for="jobAr">{{
            'EMPLOYEES_PAGE.JOB_TITLE_ARABIC' | translate
          }}</label>
          <div class="relative">
            <input
              class="peer"
              fluid="true"
              formControlName="jobTitleAr"
              id="jobAr"
              pInputText
              placeholder="{{ 'EMPLOYEES_PAGE.JOB_TITLE_ARABIC' | translate }}"
              type="text"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="jobTitleArControl"></app-validation-messages>
        </div>

        <div>
          <label class="label" for="jobEn">{{
            'EMPLOYEES_PAGE.JOB_TITLE_ENGLISH' | translate
          }}</label>
          <div class="relative">
            <input
              class="peer"
              fluid="true"
              formControlName="jobTitleEn"
              id="jobEn"
              pInputText
              placeholder="{{ 'EMPLOYEES_PAGE.JOB_TITLE_ENGLISH' | translate }}"
              type="text"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="jobTitleEnControl"></app-validation-messages>
        </div>

        <div>
          <label class="label" for="email">{{ 'EMPLOYEES_PAGE.EMAIL' | translate }}</label>
          <div class="relative">
            <input
              class="peer"
              fluid="true"
              formControlName="email"
              id="email"
              pInputText
              placeholder="{{ 'EMPLOYEES_PAGE.EMAIL' | translate }}"
              type="text"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="emailControl"></app-validation-messages>
        </div>

        <div>
          <label class="label" for="workType">{{ 'EMPLOYEES_PAGE.SHIFT_TYPE' | translate }}</label>
          <div class="relative">
            <p-select
              [options]="[]"
              class="w-full peer"
              id="workType"
              name="workType"
              optionLabel="nameAr"
              optionValue="id"
              placeholder="{{ 'EMPLOYEES_PAGE.SHIFT_TYPE' | translate }}"
            ></p-select>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
        </div>

        <div>
          <label class="label" for="joinDate">{{ 'EMPLOYEES_PAGE.JOIN_DATE' | translate }}</label>
          <div class="relative">
            <p-datepicker
              [iconDisplay]="'input'"
              [showIcon]="true"
              class="peer block w-full"
              formControlName="joinDate"
              id="joinDate"
              inputId="joinDate"
              name="joinDate"
              placeholder="{{ 'EMPLOYEES_PAGE.JOIN_DATE' | translate }}"
            >
              <ng-template pTemplate="inputicon">
                <img alt="" src="/assets/icons/calender-icon.svg" />
              </ng-template>
            </p-datepicker>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="joinDateControl"></app-validation-messages>
        </div>

        <div>
          <label class="label" for="accountStatus">{{
            'EMPLOYEES_PAGE.ACCOUNT_STATUS' | translate
          }}</label>
          <div class="relative">
            <p-select
              [options]="accountStatusOptions"
              class="w-full peer"
              formControlName="isActive"
              id="accountStatus"
              name="accountStatus"
              optionLabel="nameAr"
              optionValue="id"
              placeholder="{{ 'EMPLOYEES_PAGE.ACCOUNT_STATUS' | translate }}"
            ></p-select>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="accountStatusControl"></app-validation-messages>
        </div>

        <div>
          <label class="label" for="joinDate">{{ 'EMPLOYEES_PAGE.JOIN_DATE' | translate }}</label>
          <div class="relative">
            <p-datepicker
              [iconDisplay]="'input'"
              [showIcon]="true"
              class="peer block w-full"
              formControlName="joinDate"
              id="joinDate"
              inputId="joinDate"
              name="joinDate"
              placeholder="{{ 'EMPLOYEES_PAGE.JOIN_DATE' | translate }}"
            >
              <ng-template pTemplate="inputicon">
                <img alt="" src="/assets/icons/calender-icon.svg" />
              </ng-template>
            </p-datepicker>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="joinDateControl"></app-validation-messages>
        </div>

        <div>
          <label class="label" for="nationalId">{{
            'EMPLOYEES_PAGE.NATIONAL_ID' | translate
          }}</label>
          <div class="relative">
            <input
              class="peer"
              fluid="true"
              formControlName="nationalId"
              id="nationalId"
              pInputText
              placeholder="{{ 'EMPLOYEES_PAGE.NATIONAL_ID' | translate }}"
              type="text"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="nationalIdControl"></app-validation-messages>
        </div>
        @if (isCreateMode) {
          <div>
            <label for="password" class="label">{{ 'EMPLOYEES_PAGE.PASSWORD' | translate }}</label>
            <div class="relative">
              <input
                autocomplete="new-password"
                id="password"
                placeholder="{{ 'EMPLOYEES_PAGE.PASSWORD' | translate }}"
                formControlName="password"
                type="password"
                pInputText
                class="peer"
                fluid="true"
              />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
            <app-validation-messages [control]="passwordControl"></app-validation-messages>
          </div>
        }
      </div>

      <fieldset [disabled]="true">
        <div class="mt-6 pt-6 border-t border-[#d2d6db]">
          <h3 class="text-[#1f2a37] font-[600] text-sm sm:text-base">
            {{ 'EMPLOYEES_PAGE.PERMISSIONS' | translate }}
          </h3>
          <div class="flex flex-wrap gap-8 mt-3 rounded p-6 dimmed-form">
            <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
              <input
                checked
                class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
                disabled
                type="checkbox"
              />
              <svg
                class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="3"
                viewBox="0 0 24 24"
              >
                <polyline points="20 6 9 17 4 12" />
              </svg>
              <span class="text-base font-medium text-[#1f2a37]">{{
                'EMPLOYEES_PAGE.ROLE_EMPLOYEE' | translate
              }}</span>
            </label>
            <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
              <input
                [checked]="roleStates.isSysAdmin"
                class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
                type="checkbox"
              />
              <svg
                class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="3"
                viewBox="0 0 24 24"
              >
                <polyline points="20 6 9 17 4 12" />
              </svg>
              <span class="text-base font-medium text-[#1f2a37]">{{
                'EMPLOYEES_PAGE.ROLE_SYS_ADMIN' | translate
              }}</span>
            </label>
            <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
              <input
                [checked]="roleStates.isDeptManager"
                class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
                type="checkbox"
              />
              <svg
                class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="3"
                viewBox="0 0 24 24"
              >
                <polyline points="20 6 9 17 4 12" />
              </svg>
              <span class="text-base font-medium text-[#1f2a37]">{{
                'EMPLOYEES_PAGE.ROLE_DEPT_MANAGER' | translate
              }}</span>
            </label>
            <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
              <input
                [checked]="roleStates.isFollowUp"
                class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
                type="checkbox"
              />
              <svg
                class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="3"
                viewBox="0 0 24 24"
              >
                <polyline points="20 6 9 17 4 12" />
              </svg>
              <span class="text-base font-medium text-[#1f2a37]">{{
                'EMPLOYEES_PAGE.ROLE_FOLLOW_UP' | translate
              }}</span>
            </label>
            <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
              <input
                [checked]="roleStates.isHR"
                class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
                type="checkbox"
              />
              <svg
                class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="3"
                viewBox="0 0 24 24"
              >
                <polyline points="20 6 9 17 4 12" />
              </svg>
              <span class="text-base font-medium text-[#1f2a37]">{{
                'EMPLOYEES_PAGE.ROLE_HR' | translate
              }}</span>
            </label>
            <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
              <input
                [checked]="roleStates.isSecurityMember"
                class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
                type="checkbox"
              />
              <svg
                class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="3"
                viewBox="0 0 24 24"
              >
                <polyline points="20 6 9 17 4 12" />
              </svg>
              <span class="text-base font-medium text-[#1f2a37]">{{
                'EMPLOYEES_PAGE.ROLE_MP_MEMBER' | translate
              }}</span>
            </label>
            <label class="flex items-center space-x-2 cursor-pointer relative">
              <input
                [checked]="roleStates.isSecurityLeader"
                class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
                type="checkbox"
              />
              <svg
                class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="3"
                viewBox="0 0 24 24"
              >
                <polyline points="20 6 9 17 4 12" />
              </svg>
              <span class="text-base font-medium text-[#1f2a37]">{{
                'EMPLOYEES_PAGE.ROLE_MP_LEADER' | translate
              }}</span>
            </label>
          </div>
        </div>
      </fieldset>

      <div class="mt-6 pt-6 border-t border-[#d2d6db]">
        <div class="flex flex-wrap gap-8">
          <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
            <input
              class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
              formControlName="canLeaveWithoutFingerPrint"
              type="checkbox"
            />
            <svg
              class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              viewBox="0 0 24 24"
            >
              <polyline points="20 6 9 17 4 12" />
            </svg>
            <span class="text-base font-medium text-[#1f2a37]">{{
              'EMPLOYEES_PAGE.FINGERPRINT_EXEMPTION' | translate
            }}</span>
          </label>
        </div>
      </div>

      <div class="actions mt-6 flex items-center justify-end gap-4">
        <button (click)="close()" class="btn gray-btn">{{ 'COMMON.CANCEL' | translate }}</button>
        <button (click)="save$.next()" class="btn green-btn">
          {{ (model.id ? 'COMMON.SAVE' : 'COMMON.ADD') | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
