<div [dir]="direction">
  <div class="p-6">
    <button class="block ms-auto" (click)="close()">
      <i class="pi pi-times"></i>
    </button>
    <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">
      {{
        (isCreateMode ? 'EMPLOYEES_PAGE.ADD_NEW_EMPLOYEE' : 'EMPLOYEES_PAGE.EDIT_EMPLOYEE')
          | translate
      }}
    </h3>

    <form [formGroup]="form">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div>
          <label for="department" class="label">{{
            'EMPLOYEES_PAGE.DEPARTMENT' | translate
          }}</label>
          <div class="relative">
            <p-select
              name="selectedDepartment"
              formControlName="fkDepartmentId"
              [options]="departments"
              [optionLabel]="langOptionLabel"
              optionValue="id"
              placeholder="{{ 'EMPLOYEES_PAGE.DEPARTMENT' | translate }}"
              class="w-full peer"
              id="department"
            ></p-select>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <!-- @if (departmentControl.touched && departmentControl.errors?.['required']) {
            <span class="validation-message">{{ 'COMMON.REQUIRED_FIELD' | translate }}</span>
          } -->
        </div>

        <div>
          <label for="employeeNameAr" class="label">{{
            'EMPLOYEES_PAGE.EMPLOYEE_NAME_ARABIC' | translate
          }}</label>
          <div class="relative">
            <input
              id="employeeNameAr"
              placeholder="{{ 'EMPLOYEES_PAGE.EMPLOYEE_NAME_ARABIC' | translate }}"
              formControlName="fullNameAr"
              type="text"
              pInputText
              class="peer"
              fluid="true"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="fullNameArControl"></app-validation-messages>
        </div>

        <div>
          <label for="employeeNameEn" class="label">{{
            'EMPLOYEES_PAGE.EMPLOYEE_NAME_ENGLISH' | translate
          }}</label>
          <div class="relative">
            <input
              id="employeeNameEn"
              placeholder="{{ 'EMPLOYEES_PAGE.EMPLOYEE_NAME_ENGLISH' | translate }}"
              formControlName="fullNameEn"
              type="text"
              pInputText
              class="peer"
              fluid="true"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="fullNameEnControl"></app-validation-messages>
        </div>

        <div>
          <label for="region" class="label">{{ 'EMPLOYEES_PAGE.REGION' | translate }}</label>
          <div class="relative">
            <p-select
              name="region"
              formControlName="fkRegionId"
              [options]="regions"
              [optionLabel]="langOptionLabel"
              optionValue="id"
              placeholder="{{ 'EMPLOYEES_PAGE.REGION' | translate }}"
              class="w-full peer"
              id="region"
            ></p-select>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="regionControl"></app-validation-messages>
        </div>

        <div>
          <label for="city" class="label">{{ 'EMPLOYEES_PAGE.CITY' | translate }}</label>
          <div class="relative">
            <p-select
              name="city"
              formControlName="fkCityId"
              [options]="filteredCities"
              [optionLabel]="langOptionLabel"
              optionValue="id"
              placeholder="{{ 'EMPLOYEES_PAGE.CITY' | translate }}"
              class="w-full peer"
              id="city"
            ></p-select>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="cityControl"></app-validation-messages>
        </div>
        <div>
          <label for="mobile" class="label">{{ 'EMPLOYEES_PAGE.PHONE_NUMBER' | translate }}</label>
          <div class="relative">
            <input
              id="mobile"
              placeholder="{{ 'EMPLOYEES_PAGE.PHONE_NUMBER' | translate }}"
              formControlName="phoneNumber"
              type="text"
              pInputText
              class="peer"
              fluid="true"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="phoneNumberControl"></app-validation-messages>
        </div>

        <div>
          <label for="jobAr" class="label">{{
            'EMPLOYEES_PAGE.JOB_TITLE_ARABIC' | translate
          }}</label>
          <div class="relative">
            <input
              id="jobAr"
              placeholder="{{ 'EMPLOYEES_PAGE.JOB_TITLE_ARABIC' | translate }}"
              formControlName="jobTitleAr"
              type="text"
              pInputText
              class="peer"
              fluid="true"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="jobTitleArControl"></app-validation-messages>
        </div>

        <div>
          <label for="jobEn" class="label">{{
            'EMPLOYEES_PAGE.JOB_TITLE_ENGLISH' | translate
          }}</label>
          <div class="relative">
            <input
              id="jobEn"
              placeholder="{{ 'EMPLOYEES_PAGE.JOB_TITLE_ENGLISH' | translate }}"
              formControlName="jobTitleEn"
              type="text"
              pInputText
              class="peer"
              fluid="true"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="jobTitleEnControl"></app-validation-messages>
        </div>

        <div>
          <label for="email" class="label">{{ 'EMPLOYEES_PAGE.EMAIL' | translate }}</label>
          <div class="relative">
            <input
              id="email"
              placeholder="{{ 'EMPLOYEES_PAGE.EMAIL' | translate }}"
              formControlName="email"
              type="text"
              pInputText
              class="peer"
              fluid="true"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="emailControl"></app-validation-messages>
        </div>

        <div>
          <label for="workType" class="label">{{ 'EMPLOYEES_PAGE.SHIFT_TYPE' | translate }}</label>
          <div class="relative">
            <p-select
              name="workType"
              [options]="[]"
              optionLabel="nameAr"
              optionValue="id"
              placeholder="{{ 'EMPLOYEES_PAGE.SHIFT_TYPE' | translate }}"
              class="w-full peer"
              id="workType"
            ></p-select>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
        </div>

        <div>
          <label for="joinDate" class="label">{{ 'EMPLOYEES_PAGE.JOIN_DATE' | translate }}</label>
          <div class="relative">
            <p-datepicker
              name="joinDate"
              formControlName="joinDate"
              [iconDisplay]="'input'"
              [showIcon]="true"
              placeholder="{{ 'EMPLOYEES_PAGE.JOIN_DATE' | translate }}"
              class="peer block w-full"
              inputId="joinDate"
              id="joinDate"
            >
              <ng-template pTemplate="inputicon">
                <img alt="" src="/assets/icons/calender-icon.svg" />
              </ng-template>
            </p-datepicker>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="joinDateControl"></app-validation-messages>
        </div>

        <div>
          <label for="accountStatus" class="label">{{
            'EMPLOYEES_PAGE.ACCOUNT_STATUS' | translate
          }}</label>
          <div class="relative">
            <p-select
              name="accountStatus"
              [options]="accountStatusOptions"
              optionLabel="nameAr"
              optionValue="id"
              formControlName="isActive"
              placeholder="{{ 'EMPLOYEES_PAGE.ACCOUNT_STATUS' | translate }}"
              class="w-full peer"
              id="accountStatus"
            ></p-select>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="accountStatusControl"></app-validation-messages>
        </div>

        <div>
          <label for="nationalId" class="label">{{
            'EMPLOYEES_PAGE.NATIONAL_ID' | translate
          }}</label>
          <div class="relative">
            <input
              id="nationalId"
              placeholder="{{ 'EMPLOYEES_PAGE.NATIONAL_ID' | translate }}"
              formControlName="nationalId"
              type="text"
              pInputText
              class="peer"
              fluid="true"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="nationalIdControl"></app-validation-messages>
        </div>
        @if (isCreateMode) {
          <div>
            <label for="password" class="label">{{ 'EMPLOYEES_PAGE.PASSWORD' | translate }}</label>
            <div class="relative">
              <input
                id="password"
                placeholder="{{ 'EMPLOYEES_PAGE.PASSWORD' | translate }}"
                formControlName="password"
                type="password"
                pInputText
                class="peer"
                fluid="true"
              />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
            <app-validation-messages [control]="passwordControl"></app-validation-messages>
          </div>
        }
      </div>

      <div class="mt-6 pt-6 border-t border-[#d2d6db]">
        <h3 class="text-[#1f2a37 font-[600] mb-6 text-sm sm:text-base">
          {{ 'EMPLOYEES_PAGE.PERMISSIONS' | translate }}
        </h3>
        <div class="flex flex-wrap gap-8">
          <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
            <input
              checked
              class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
              disabled
              type="checkbox"
            />
            <svg
              class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              viewBox="0 0 24 24"
            >
              <polyline points="20 6 9 17 4 12" />
            </svg>
            <span class="text-base font-medium text-[#1f2a37]">{{
              'EMPLOYEES_PAGE.ROLE_EMPLOYEE' | translate
            }}</span>
          </label>
          <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
            <input
              class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
              type="checkbox"
            />
            <svg
              class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              viewBox="0 0 24 24"
            >
              <polyline points="20 6 9 17 4 12" />
            </svg>
            <span class="text-base font-medium text-[#1f2a37]">{{
              'EMPLOYEES_PAGE.ROLE_SYS_ADMIN' | translate
            }}</span>
          </label>
          <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
            <input
              class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
              type="checkbox"
            />
            <svg
              class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              viewBox="0 0 24 24"
            >
              <polyline points="20 6 9 17 4 12" />
            </svg>
            <span class="text-base font-medium text-[#1f2a37]">{{
              'EMPLOYEES_PAGE.ROLE_DEPT_MANAGER' | translate
            }}</span>
          </label>
          <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
            <input
              class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
              type="checkbox"
            />
            <svg
              class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              viewBox="0 0 24 24"
            >
              <polyline points="20 6 9 17 4 12" />
            </svg>
            <span class="text-base font-medium text-[#1f2a37]">{{
              'EMPLOYEES_PAGE.ROLE_FOLLOW_UP' | translate
            }}</span>
          </label>
          <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
            <input
              class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
              type="checkbox"
            />
            <svg
              class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              viewBox="0 0 24 24"
            >
              <polyline points="20 6 9 17 4 12" />
            </svg>
            <span class="text-base font-medium text-[#1f2a37]">{{
              'EMPLOYEES_PAGE.ROLE_HR' | translate
            }}</span>
          </label>
          <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
            <input
              class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
              type="checkbox"
            />
            <svg
              class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              viewBox="0 0 24 24"
            >
              <polyline points="20 6 9 17 4 12" />
            </svg>
            <span class="text-base font-medium text-[#1f2a37]">{{
              'EMPLOYEES_PAGE.ROLE_MP_MEMBER' | translate
            }}</span>
          </label>
          <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
            <input
              class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
              type="checkbox"
            />
            <svg
              class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
              viewBox="0 0 24 24"
            >
              <polyline points="20 6 9 17 4 12" />
            </svg>
            <span class="text-base font-medium text-[#1f2a37]">{{
              'EMPLOYEES_PAGE.ROLE_MP_LEADER' | translate
            }}</span>
          </label>
        </div>
      </div>

      <div class="mt-6 pt-6 border-t border-[#d2d6db]">
        <div class="flex flex-wrap gap-8">
          <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
            <input
              type="checkbox"
              formControlName="canLeaveWithoutFingerPrint"
              class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
            />
            <svg
              class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polyline points="20 6 9 17 4 12" />
            </svg>
            <span class="text-base font-medium text-[#1f2a37]">{{
              'EMPLOYEES_PAGE.FINGERPRINT_EXEMPTION' | translate
            }}</span>
          </label>
        </div>
      </div>

      <div class="actions mt-6 flex items-center justify-end gap-4">
        <button class="btn gray-btn" (click)="close()">{{ 'COMMON.CANCEL' | translate }}</button>
        <button class="btn green-btn" (click)="save$.next()">
          {{ (model.id ? 'COMMON.SAVE' : 'COMMON.ADD') | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
