<div class="bg-white rounded-2xl p-4 sm:p-8 border border-[#d2d6db]">
  <div class="p-6 sm:p-8 rounded-2xl bg-[#f3f4f6]">
    <div class="flex items-center justify-between">
      <h5 class="text-base sm:text-lg md:text-xl font-bold text-[#161616]">
        {{ 'SHIFTS_VIEW_PAGE.FILTER_SECTION_TITLE' | translate }}
      </h5>
    </div>

    <div class="pt-6">
      <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-8">
        <div class="relative">
          <label class="label" for="myShiftsViewNameAr">
            {{ 'SHIFTS_VIEW_PAGE.SHIFT_NAME_AR' | translate }}
          </label>
          <input
            [(ngModel)]="filterOptions.shiftNameAr"
            [placeholder]="'SHIFTS_VIEW_PAGE.SHIFT_NAME_AR' | translate"
            class="peer"
            fluid="true"
            id="myShiftsViewNameAr"
            pInputText
            type="text"
          />
          <span
            class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
          ></span>
        </div>

        <div class="relative">
          <label class="label" for="myShiftsViewNameEn">
            {{ 'SHIFTS_VIEW_PAGE.SHIFT_NAME_EN' | translate }}
          </label>
          <input
            [(ngModel)]="filterOptions.shiftNameEn"
            [placeholder]="'SHIFTS_VIEW_PAGE.SHIFT_NAME_EN' | translate"
            class="peer"
            fluid="true"
            id="myShiftsViewNameEn"
            pInputText
            type="text"
          />
          <span
            class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
          ></span>
        </div>

        <div class="relative">
          <label class="label" for="myShiftsViewDateFrom">
            {{ 'SHIFTS_VIEW_PAGE.DATE_FROM' | translate }}
          </label>
          <p-datepicker
            [(ngModel)]="filterOptions.dateFrom"
            [iconDisplay]="'input'"
            [maxDate]="dateTo"
            [placeholder]="'SHIFTS_VIEW_PAGE.DATE_FROM' | translate"
            [showClear]="true"
            [showIcon]="true"
            class="peer block w-full"
            inputId="myShiftsViewDateFrom"
          >
            <ng-template pTemplate="inputicon">
              <img alt="" src="assets/icons/calender-icon.svg" />
            </ng-template>
          </p-datepicker>
          <span
            class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
          ></span>
        </div>

        <div class="relative">
          <label class="label" for="myShiftsViewDateTo">
            {{ 'SHIFTS_VIEW_PAGE.DATE_TO' | translate }}
          </label>
          <p-datepicker
            [(ngModel)]="filterOptions.dateTo"
            [iconDisplay]="'input'"
            [minDate]="dateFrom"
            [placeholder]="'SHIFTS_VIEW_PAGE.DATE_TO' | translate"
            [showClear]="true"
            [showIcon]="true"
            class="peer block w-full"
            inputId="myShiftsViewDateTo"
          >
            <ng-template pTemplate="inputicon">
              <img alt="" src="assets/icons/calender-icon.svg" />
            </ng-template>
          </p-datepicker>
          <span
            class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
          ></span>
        </div>
      </div>

      <div class="actions flex items-center justify-start gap-4 pt-6">
        <button class="btn gray-btn border border-[#d2d6db]" (click)="resetSearch()">
          {{ 'COMMON.RESET_SEARCH' | translate }}
        </button>
        <button class="btn black-btn" (click)="search()">
          {{ 'COMMON.SEARCH' | translate }}
        </button>
      </div>
    </div>
  </div>

  <div class="mt-6">
    <div
      class="flex items-start xl:items-center justify-between flex-col xl:flex-row gap-4 bg-[#e5e7eb] rounded-lg p-4 sm:p-6 mb-4"
    >
      <h4 class="text-lg sm:text-xl md:text-2xl font-bold text-[#161616]">
        {{ 'MY_SHIFTS.SHIFT_DAYS' | translate }}
      </h4>
      <div class="actions flex items-center gap-4 ms-auto">
        <button
          class="table-head-action-btn min-w-[40px]"
          (click)="exportExcel(getTranslatedFileName('MY_SHIFTS.SHIFT_DAYS', 'xlsx'))"
        >
          <img alt="" src="assets/icons/excel.svg" />
        </button>
      </div>
    </div>

    @if (list && list.length > 0) {
      <p-table [value]="list" [styleClass]="'p-datatable-striped'">
        <ng-template #header>
          <tr>
            <th class="text-start">{{ 'SHIFTS_VIEW_PAGE.DATE_TIME' | translate }}</th>
            <th class="text-start">{{ 'SHIFTS_VIEW_PAGE.SHIFT_NAME' | translate }}</th>
            <th class="text-start">{{ 'SHIFTS_VIEW_PAGE.SHIFT_TYPE' | translate }}</th>
            <th class="text-start">{{ 'SHIFTS_VIEW_PAGE.IS_REST_DAY' | translate }}</th>
          </tr>
        </ng-template>
        <ng-template #body let-item>
          <tr>
            <td class="text-start">
              <div class="font-bold">{{ getFormattedDate(item.businessDate) }}</div>
              <div class="text-sm text-[#64748b] font-medium">
                {{ item.formattedTimeRange }}
              </div>
            </td>
            <td class="text-start font-medium">{{ getShiftName(item) }}</td>
            <td class="text-start font-medium">{{ getShiftTypeName(item.shiftAssignmentType) }}</td>
            <td class="text-start font-medium">
              @if (item.isRestDay) {
                <img src="assets/icons/right-icon.svg" alt="" />
              } @else {
                <img src="assets/icons/wrong-icon.svg" alt="" />
              }
            </td>
          </tr>
        </ng-template>
      </p-table>
    } @else {
      <div class="flex items-center justify-center h-64">
        <p class="text-gray-500">{{ 'COMMON.NO_DATA_TO_SHOW' | translate }}</p>
      </div>
    }

    @if (paginationInfo) {
      <p-paginator
        (onPageChange)="onPageChange($event, false)"
        [first]="first"
        [rowsPerPageOptions]="[10, 20, 30]"
        [rows]="rows"
        [showCurrentPageReport]="false"
        [totalRecords]="paginationInfo.totalItems"
        class="mt-6"
      />
    }
  </div>
</div>
