<div class="bg-white">
    <div class="bg-[#f9fafb] p-3 sm:p-6">
        <div class="header bg-white rounded-2xl p-4 sm:p-6 mb-6">
            <p-breadcrumb [home]="home" [model]="breadcrumbs" class="max-w-full">
                <ng-template let-item pTemplate="item">
                    <a [routerLink]="item.url" class="cursor-pointer">
                        <span>{{ item.label }}</span>
                    </a>
                </ng-template>
            </p-breadcrumb>
            <h3 class="text-xl sm:text-2xl md:text-3xl font-bold text-[#161616]">
                اسناد ورديات العمل المسندة للموظفين
            </h3>
        </div>

        <div class="bg-white rounded-2xl p-4 sm:p-8 border border-[#d2d6db]">
            <!-- Search Filters -->
            <div class="p-6 sm:p-8 rounded-2xl bg-[#f3f4f6]">
                <div class="flex items-center justify-between">
                    <h5 class="text-base sm:text-lg md:text-xl font-bold text-[#161616]">
                        تصفية البحث
                    </h5>
                </div>

                <div class="pt-6">
                    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6">
                        <div class="relative">
                            <label class="label" for="assignmentId">معرف الاسناد</label>
                            <input class="peer w-full" [(ngModel)]="filterOptions.assignmentId" id="assignmentId"
                                pInputText placeholder="معرف الاسناد" type="text" />
                        </div>

                        <div class="relative">
                            <label class="label">التاريخ (من)</label>
                            <p-datepicker [(ngModel)]="filterOptions.startDate" [iconDisplay]="'input'"
                                [showIcon]="true" class="peer block w-full" placeholder="التاريخ (من)"
                                [showClear]="true">
                                <ng-template pTemplate="inputicon">
                                    <img alt="" src="assets/icons/calender-icon.svg" />
                                </ng-template>
                            </p-datepicker>
                        </div>

                        <div class="relative">
                            <label class="label">التاريخ (إلى)</label>
                            <p-datepicker [(ngModel)]="filterOptions.endDate" [iconDisplay]="'input'" [showIcon]="true"
                                class="peer block w-full" placeholder="التاريخ (إلى)" [showClear]="true">
                                <ng-template pTemplate="inputicon">
                                    <img alt="" src="assets/icons/calender-icon.svg" />
                                </ng-template>
                            </p-datepicker>
                        </div>

                        <div class="relative">
                            <label class="label">الادارة</label>
                            <p-select [(ngModel)]="filterOptions.fkDepartmentId" [options]="departments"
                                class="w-full peer" [optionLabel]="optionLabel" optionValue="id" placeholder="الادارة"
                                [showClear]="true"></p-select>
                        </div>

                        <div class="relative">
                            <label class="label">اسم الموظف</label>
                            <p-select [options]="usersProfiles" [(ngModel)]="filterOptions.fkAssignedUserId"
                                class="w-full peer" [optionLabel]="optionLabel" optionValue="id"
                                placeholder="اسم الموظف" [showClear]="true"></p-select>
                        </div>
                    </div>

                    <div class="actions flex items-center justify-start gap-4 pt-6">
                        <button class="btn black-btn" (click)="search()">بحث</button>
                        <button class="btn gray-btn border border-[#d2d6db]" (click)="resetSearch()">
                            إعادة تعيين
                        </button>
                    </div>
                </div>
            </div>

            <!-- Table Section -->
            <div class="mt-6">
                <div
                    class="flex items-start xl:items-center justify-between flex-col xl:flex-row gap-4 bg-[#f9fafb] rounded-lg p-4 sm:p-6 mb-4 border border-[#d2d6db]">
                    <h4 class="text-lg sm:text-xl md:text-2xl font-bold text-[#161616]">
                        قائمة ورديات العمل المسندة للموظفين
                    </h4>
                    <div class="actions flex items-center gap-4 ms-auto">
                        <button class="table-head-action-btn min-w-[40px]"
                            (click)="exportExcel('users-work-shifts.xlsx')">
                            <img alt="" src="assets/icons/excel.svg" />
                        </button>
                        <button (click)="addOrEditModel()" class="btn green-btn flex items-center">
                            <img alt="" src="assets/icons/plus.svg" />
                            <span>اسناد وردية تناوب لموظف</span>
                        </button>
                    </div>
                </div>

                <p-table [value]="list" class="custom-table">
                    <ng-template #header>
                        <tr>
                            <th>معرف الاسناد</th>
                            <th>اسم الوردية</th>
                            <th>التاريخ (من)</th>
                            <th>التاريخ (إلى)</th>
                            <th>اجراء</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-shiftData>
                        <tr>
                            <td>{{ shiftData.assignmentId }}</td>
                            <td>
                                <div class="flex gap-2 overflow-hidden">
                                    @for (tag of shiftData.shifts; track $index) {
                                    <span
                                        class="bg-[#f3f4f6] text-[#4b5563] text-xs px-2 py-1 rounded-md border border-[#d2d6db] truncate max-w-[120px] shrink-0"
                                        [title]="tag">
                                        {{ tag }}
                                    </span>
                                    }
                                </div>
                            </td>
                            <td>{{ shiftData.startDate }}</td>
                            <td>{{ shiftData.endDate }}</td>
                            <td>
                                <div class="actions flex gap-2">
                                    <button (click)="addOrEditModel(shiftData)" class="table-action-gray-btn">
                                        <img src="assets/icons/edit-action.svg" alt="تعديل" />
                                    </button>
                                    <button (click)="deleteUserShiftAssignment(shiftData.id)"
                                        class="table-action-red-btn">
                                        <img src="assets/icons/delete-action.svg" alt="حذف" />
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

                <p-paginator (onPageChange)="onPageChange($event, false)" [first]="first" [rows]="rows"
                    [totalRecords]="paginationInfo.totalItems" class="mt-6" />
            </div>
        </div>
    </div>
</div>