<div [dir]="direction">
  <div class="p-6">
    <button class="block ms-auto" (click)="close()">
      <i class="pi pi-times"></i>
    </button>
    <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">إضافة سبب جديد</h3>
    <form class="mt-6">
      <div class="grid sm:grid-cols-8">
        <div class="sm:col-span-6">
          <label for="permission-popup" class="label">سبب الأذن</label>
          <div class="relative">
            <input
              id="permission-popup"
              placeholder="سبب الأذن"
              type="text"
              pInputText
              class="peer"
              fluid="true"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <span class="validation-message">هذا الحقل مطلوب</span>
        </div>
      </div>
      <div class="actions mt-6 flex items-center justify-end gap-4">
        <button class="btn gray-btn" (click)="close()">الغاء</button>
        <button class="btn green-btn">إضافة</button>
      </div>
    </form>
  </div>
</div>
