<div [dir]="direction">
  <div class="p-6">
    <button class="block ms-auto" (click)="close()">
      <i class="pi pi-times close-popup"></i>
    </button>
    <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">إضافة وردية للموظف</h3>

    <form class="">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div>
          <label for="shiftName" class="label">اسم الوردية</label>
          <div class="relative">
            <p-select
              name="shiftName"
              [options]="adminstrations"
              [(ngModel)]="selectedAdminstration"
              optionLabel="type"
              placeholder="اسم الوردية"
              class="w-full peer"
              id="shiftName"
            ></p-select>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <span class="validation-message">هذا الحقل مطلوب</span>
        </div>
        <div>
          <label for="startDate" class="label">التاريخ (من)</label>
          <div class="relative">
            <p-datepicker
              name="startDate"
              [(ngModel)]="date2"
              [iconDisplay]="'input'"
              [showIcon]="true"
              placeholder="التاريخ (من)"
              class="peer block w-full"
              inputId="startDate"
              id="startDate"
            >
              <ng-template pTemplate="inputicon">
                <img src="/assets/icons/calender-icon.svg" alt="" />
              </ng-template>
            </p-datepicker>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <span class="validation-message">هذا الحقل مطلوب</span>
        </div>
        <div>
          <label for="endDate" class="label">التاريخ (الى)</label>
          <div class="relative">
            <p-datepicker
              name="endDate"
              [(ngModel)]="date2"
              [iconDisplay]="'input'"
              [showIcon]="true"
              placeholder="التاريخ (الى)"
              class="peer block w-full"
              inputId="endDate"
              id="endDate"
            >
              <ng-template pTemplate="inputicon">
                <img src="/assets/icons/calender-icon.svg" alt="" />
              </ng-template>
            </p-datepicker>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <span class="validation-message">هذا الحقل مطلوب</span>
        </div>
      </div>
      <div class="actions mt-6 flex items-center justify-end gap-4">
        <button class="btn gray-btn" (click)="close()">الغاء</button>
        <button class="btn green-btn">اضافة</button>
      </div>
    </form>
  </div>
</div>
