<div dir="rtl">
  <div class="p-6">
    <button class="block ms-auto">
      <i class="pi pi-times close-popup"></i>
    </button>
    <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">استيراد سجل حركات جديد</h3>
    <form class="mt-6">
      <div>
        <h4 class="text-[#161616] text-base">رفع الملف</h4>
        <p class="text-[#64748b] text-xs my-4">
          الحد الأقصى لحجم الملف المسموح به هو 2 ميجابايت، وتشمل الصيغ المدعومة.xlsx
        </p>
        <label for="file" class="btn black-btn w-fit">رفع الملف</label>
        <input type="file" hidden id="file" name="file" />
      </div>
      <div class="actions mt-6 flex items-center justify-end gap-4">
        <button class="btn gray-btn" type="button">الغاء</button>
        <button class="btn green-btn" type="button">استيراد بيانات السجل</button>
      </div>
    </form>
  </div>
</div>
