<div class="bg-white rounded-2xl p-4 sm:p-8 border border-[#d2d6db]">
    <!-- Search Filter Section -->
    <div class="p-6 sm:p-8 rounded-2xl bg-[#f3f4f6]">
        <div class="flex items-center justify-between">
            <h5 class="text-base sm:text-lg md:text-xl font-bold text-[#161616]">تصفية البحث</h5>
        </div>
        <div class="pt-6">
            <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-6">
                <!-- Leave Type -->
                <div class="relative">
                    <label class="label" for="leaveType">نوع الاجازة</label>
                    <p-select id="leaveType" [options]="leaveTypes" optionLabel="name" placeholder="نوع الاجازة"
                        class="w-full peer" />
                    <span
                        class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"></span>
                </div>

                <!-- Date From -->
                <div class="relative">
                    <label class="label" for="dateFrom">التاريخ (من)</label>
                    <p-datepicker [iconDisplay]="'input'" [showIcon]="true" class="peer block w-full" inputId="dateFrom"
                        placeholder="التاريخ (من)">
                        <ng-template pTemplate="inputicon">
                            <img alt="" src="assets/icons/calender-icon.svg" />
                        </ng-template>
                    </p-datepicker>
                    <span
                        class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"></span>
                </div>

                <!-- Date To -->
                <div class="relative">
                    <label class="label" for="dateTo">التاريخ (الى)</label>
                    <p-datepicker [iconDisplay]="'input'" [showIcon]="true" class="peer block w-full" inputId="dateTo"
                        placeholder="التاريخ (الى)">
                        <ng-template pTemplate="inputicon">
                            <img alt="" src="assets/icons/calender-icon.svg" />
                        </ng-template>
                    </p-datepicker>
                    <span
                        class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"></span>
                </div>

                <!-- Request Status -->
                <div class="relative">
                    <label class="label" for="requestStatus">حالة الطلب</label>
                    <p-select id="requestStatus" [options]="requestStatuses" optionLabel="name" placeholder="حالة الطلب"
                        class="w-full peer" />
                    <span
                        class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"></span>
                </div>
            </div>

            <!-- Search Actions -->
            <div class="actions flex items-center gap-4 pt-6">
                <button class="btn black-btn">بحث</button>
                <button class="btn gray-btn border border-[#d2d6db]">إعادة تعيين</button>
            </div>
        </div>
    </div>

    <!-- Table Section -->
    <div class="mt-6">
        <!-- Table Header -->
        <div
            class="flex items-start xl:items-center justify-between flex-col xl:flex-row gap-4 bg-[#e5e7eb] rounded-lg p-4 sm:p-6 mb-4">
            <h4 class="text-lg sm:text-xl md:text-2xl font-bold text-[#161616]">قائمة اجازاتي</h4>
            <div class="actions flex items-center gap-4 ms-auto">
                <button class="table-head-action-btn min-w-[40px]">
                    <img alt="" src="assets/icons/excel.svg" />
                </button>
                <button class="table-head-action-btn min-w-[40px]">
                    <img alt="" src="assets/icons/pdf.svg" />
                </button>
            </div>
        </div>

        <p-table [value]="leaves">
            <ng-template #header>
                <tr>
                    <th>رقم الهوية</th>
                    <th>الادارة</th>
                    <th>اسم الموظف</th>
                    <th>نوع الاجازة</th>
                    <th>التاريخ ( من )</th>
                    <th>التاريخ ( الى )</th>
                    <th>حالة الطلب</th>
                    <th class="w-[36px]">اجراء</th>
                </tr>
            </ng-template>
            <ng-template #body let-leave>
                <tr>
                    <td>{{ leave.nationalId }}</td>
                    <td>{{ leave.department }}</td>
                    <td>{{ leave.employeeName }}</td>
                    <td>{{ leave.leaveType }}</td>
                    <td>{{ leave.dateFrom }}</td>
                    <td>{{ leave.dateTo }}</td>
                    <td>
                        @if (leave.status === 'new') {
                        <span
                            class="text-[14px] text-[#1849a9] min-h-[24px] inline-flex justify-center items-center gap-2 px-2 rounded-full bg-[#eff8ff] font-medium">
                            <span class="w-[10px] h-[10px] bg-[#1849a9] rounded-full"></span>
                            جديد
                        </span>
                        } @else if (leave.status === 'approved') {
                        <span
                            class="text-[14px] text-[#085d3a]  min-h-[24px] inline-flex justify-center items-center gap-2 px-2 rounded-full bg-[#ecfdf3] font-medium">
                            <span class="w-[10px] h-[10px] bg-[#085d3a] rounded-full"></span>
                            موافقة
                        </span>
                        } @else if (leave.status === 'rejected') {
                        <span
                            class="text-[14px] text-[#912018] min-h-[24px] inline-flex justify-center items-center gap-2 px-2 rounded-full bg-[#fef3f2] font-medium">
                            <span class="w-[10px] h-[10px] bg-[#912018] rounded-full"></span>
                            رفض
                        </span>
                        }
                    </td>
                    <td>
                        <div class="actions flex items-center gap-2">
                            <button class="table-action-gray-btn" (click)="openDialog(leave)">
                                <img alt="" src="assets/icons/view.svg" />
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <p-paginator class="mt-6" (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
            [totalRecords]="120" [rowsPerPageOptions]="[10, 20, 30]" />
    </div>
</div>