<div class="bg-white rounded-2xl p-4 sm:p-8 border border-[#d2d6db]">
  <!-- Search Filter Section -->
  <div class="p-6 sm:p-8 rounded-2xl bg-[#f3f4f6]">
    <div class="flex items-center justify-between">
      <h5 class="text-base sm:text-lg md:text-xl font-bold text-[#161616]">
        {{ 'COMMON.SEARCH_FILTERS' | translate }}
      </h5>
    </div>
    <div class="pt-6">
      <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-6">
        <!-- Leave Type -->
        <div class="relative">
          <label class="label" for="leaveType">{{ 'LEAVES_PAGE.LEAVE_TYPE' | translate }}</label>
          <p-select
            [(ngModel)]="filterModel.fkLeaveTypeId"
            [options]="leaveTypes"
            [optionLabel]="optionLabel"
            optionValue="id"
            [showClear]="true"
            [filter]="true"
            [placeholder]="'LEAVES_PAGE.LEAVE_TYPE' | translate"
            class="w-full peer"
            id="leaveType"
          />
          <span
            class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
          ></span>
        </div>

        <!-- Date From -->
        <div class="relative">
          <label class="label" for="dateFrom">{{ 'LEAVES_PAGE.DATE_FROM' | translate }}</label>
          <p-datepicker
            [(ngModel)]="filterModel.dateFrom"
            [iconDisplay]="'input'"
            [showIcon]="true"
            [showClear]="true"
            class="peer block w-full"
            inputId="dateFrom"
            [placeholder]="'LEAVES_PAGE.DATE_FROM' | translate"
          >
            <ng-template pTemplate="inputicon">
              <img alt="" src="assets/icons/calender-icon.svg" />
            </ng-template>
          </p-datepicker>
          <span
            class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
          ></span>
        </div>

        <!-- Date To -->
        <div class="relative">
          <label class="label" for="dateTo">{{ 'LEAVES_PAGE.DATE_TO' | translate }}</label>
          <p-datepicker
            [(ngModel)]="filterModel.dateTo"
            [iconDisplay]="'input'"
            [showIcon]="true"
            [showClear]="true"
            [minDate]="filterModel.dateFrom"
            class="peer block w-full"
            inputId="dateTo"
            [placeholder]="'LEAVES_PAGE.DATE_TO' | translate"
          >
            <ng-template pTemplate="inputicon">
              <img alt="" src="assets/icons/calender-icon.svg" />
            </ng-template>
          </p-datepicker>
          <span
            class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
          ></span>
        </div>

        <!-- Request Status -->
        <div class="relative">
          <label class="label" for="requestStatus">{{
            'LEAVES_PAGE.REQUEST_STATUS' | translate
          }}</label>
          <p-select
            [(ngModel)]="filterModel.status"
            [options]="requestStatuses"
            optionLabel="label"
            optionValue="id"
            [showClear]="true"
            [placeholder]="'LEAVES_PAGE.REQUEST_STATUS' | translate"
            class="w-full peer"
            id="requestStatus"
          />
          <span
            class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
          ></span>
        </div>
      </div>

      <!-- Search Actions -->
      <div class="actions flex items-center gap-4 pt-6">
        <button (click)="search()" class="btn black-btn">{{ 'COMMON.SEARCH' | translate }}</button>
        <button (click)="resetSearch()" class="btn gray-btn border border-[#d2d6db]">
          {{ 'COMMON.RESET_SEARCH' | translate }}
        </button>
      </div>
    </div>
  </div>

  <!-- Table Section -->
  <div class="mt-6">
    <!-- Table Header -->
    <div
      class="flex items-start xl:items-center justify-between flex-col xl:flex-row gap-4 bg-[#e5e7eb] rounded-lg p-4 sm:p-6 mb-4"
    >
      <h4 class="text-lg sm:text-xl md:text-2xl font-bold text-[#161616]">
        {{ 'LEAVES_PAGE.MY_LEAVES_LIST' | translate }}
      </h4>
      <div class="actions flex items-center gap-4 ms-auto">
        <button
          (click)="exportExcel(getTranslatedFileName('LEAVES_PAGE.MY_LEAVES_LIST', 'xlsx'))"
          class="table-head-action-btn min-w-[40px]"
        >
          <img alt="" src="assets/icons/excel.svg" />
        </button>
        <button
          (click)="exportPdf(getTranslatedFileName('LEAVES_PAGE.MY_LEAVES_LIST'))"
          class="table-head-action-btn min-w-[40px]"
        >
          <img alt="" src="assets/icons/pdf.svg" />
        </button>
      </div>
    </div>

    @if (list && list.length > 0) {
      <p-table [value]="list">
        <ng-template pTemplate="header">
          <tr>
            <th>{{ 'LEAVES_PAGE.LEAVE_TYPE' | translate }}</th>
            <th>{{ 'LEAVES_PAGE.DATE_FROM' | translate }}</th>
            <th>{{ 'LEAVES_PAGE.DATE_TO' | translate }}</th>
            <th>{{ 'LEAVES_PAGE.REQUEST_STATUS' | translate }}</th>
            <th class="w-[36px]">{{ 'LEAVES_PAGE.ACTIONS' | translate }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-leave>
          <tr>
            <td>{{ leaveTypeName(leave) }}</td>
            <td>{{ leave.dateFrom | date: 'dd/MM/yyyy' }}</td>
            <td>{{ leave.dateTo | date: 'dd/MM/yyyy' }}</td>
            <td>
              <span [class]="getStatusBadgeClass(leave.status)">
                <span [class]="getStatusBadgeDotClass(leave.status)"></span>
                {{ getStatusText(leave.status) }}
              </span>
            </td>
            <td>
              <div class="actions flex items-center gap-2">
                <button (click)="openDialog(leave)" class="table-action-gray-btn">
                  <img alt="" src="assets/icons/view.svg" />
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    } @else {
      <div class="flex items-center justify-center h-64">
        <p class="text-gray-500">{{ 'LEAVES_PAGE.NO_DATA_TO_SHOW' | translate }}</p>
      </div>
    }

    @if (paginationInfo) {
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rowsPerPageOptions]="[10, 20, 30]"
        [rows]="rows"
        [showCurrentPageReport]="false"
        [totalRecords]="paginationInfo.totalItems"
        class="mt-6"
      />
    }
  </div>
</div>
