<div class="bg-white rounded-2xl p-4 sm:p-8 border border-[#d2d6db]">
  <div class="p-6 sm:p-8 rounded-2xl bg-[#f3f4f6]">
    <div class="flex items-center justify-between">
      <h5 class="text-base sm:text-lg md:text-xl font-bold text-[#161616]">تصفية البحث</h5>
    </div>
    <div class="pt-6">
      <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8">
        <div class="relative">
          <label class="label" for="nationalityAr">رقم الهوية</label>
          <input
            placeholder="رقم الهوية"
            class="peer"
            fluid="true"
            id="nationalityAr"
            pInputText
            type="text"
          />
          <span
            class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
          ></span>
        </div>
        <div class="relative">
          <label class="label" for="nationalityAr">اسم الزائر</label>
          <input
            placeholder="اسم الزائر"
            class="peer"
            fluid="true"
            id="nationalityAr"
            pInputText
            type="text"
          />
          <span
            class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
          ></span>
        </div>
        <div class="relative">
          <label class="label" for="department">الادارة المستهدفة</label>
          <p-select placeholder="الادارة المستهدفة" class="w-full peer" id="department"></p-select>
          <span
            class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
          ></span>
        </div>
        <div class="relative">
          <label class="label" for="joinDate">التاريخ (من)</label>
          <p-datepicker
            [iconDisplay]="'input'"
            placeholder="التاريخ (من)"
            [showIcon]="true"
            class="peer block w-full"
          >
            <ng-template pTemplate="inputicon">
              <img alt="" src="assets/icons/calender-icon.svg" />
            </ng-template>
          </p-datepicker>
          <span
            class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
          ></span>
        </div>
        <div class="relative">
          <label class="label" for="joinDate">التاريخ (الي)</label>
          <p-datepicker
            [iconDisplay]="'input'"
            placeholder="التاريخ (الي)"
            [showIcon]="true"
            class="peer block w-full"
          >
            <ng-template pTemplate="inputicon">
              <img alt="" src="assets/icons/calender-icon.svg" />
            </ng-template>
          </p-datepicker>
          <span
            class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
          ></span>
        </div>
        <div class="relative">
          <label class="label" for="department">حالة الزيارة</label>
          <p-select placeholder="حالة الزيارة" class="w-full peer" id="department"></p-select>
          <span
            class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
          ></span>
        </div>
      </div>
      <div class="actions flex items-center gap-4 pt-6">
        <button class="btn black-btn">بحث</button>
        <button class="btn gray-btn border border-[#d2d6db]">إعادة تعيين</button>
      </div>
    </div>
  </div>
  <div class="mt-6">
    <div
      class="flex items-start xl:items-center justify-between justify-between flex-col xl:flex-row gap-4 bg-[#e5e7eb] rounded-lg p-4 sm:p-6 mb-4"
    >
      <h4 class="text-lg sm:text-xl md:text-2xl font-bold text-[#161616]">قائمة طلبات الزيارة</h4>
      <div class="actions flex items-center gap-4 ms-auto">
        <button class="table-head-action-btn">
          <img src="assets/icons/excel.svg" alt="" />
        </button>
        <button (click)="openDialog()" class="btn green-btn">
          <img src="assets/icons/plus.svg" alt="" />
          <span>إضافة زائر جديدة</span>
        </button>
      </div>
    </div>
    <p-table [value]="nationalities">
      <ng-template #header>
        <tr>
          <th>رقم الهوية</th>
          <th>اسم الزائر</th>
          <th>رقم الجوال</th>
          <th>الجهة التابع لها الزائر</th>
          <th>الادارة المستهدفة</th>
          <th>حالة الزيارة</th>
          <th>دخول</th>
          <th>خروج</th>
          <th>اجراء</th>
        </tr>
      </ng-template>
      <ng-template #body let-nationality>
        <tr>
          <td>142563</td>
          <td>محمد أحمد طه</td>
          <td>142563</td>
          <td>اسم الجهة</td>
          <td>ادارة الموارد البشرية</td>
          <td>
            <span
              class="text-[14px] text-[#1849a9] px-2 py-1 w-fit inline-flex justify-center items-center gap-2 px-2 rounded-full bg-[#eff8ff] font-medium"
            >
              <span class="w-[10px] h-[10px] bg-[#1849a9] rounded-full"></span>
              جديد
            </span>
            <span
              class="text-[14px] text-[#912018] min-w-[101px] min-h-[24px] inline-flex justify-center items-center gap-2 px-2 rounded-full bg-[#fef3f2] font-medium"
            >
              <span class="w-[10px] h-[10px] bg-[#912018] rounded-full"></span>
              مرفوض
            </span>
            <span
              class="text-[14px] text-[#085d3a] min-w-[101px] min-h-[24px] inline-flex justify-center items-center gap-2 px-2 rounded-full bg-[#ecfdf3] font-medium"
            >
              <span class="w-[10px] h-[10px] bg-[#085d3a] rounded-full"></span>
              مقبول
            </span>
          </td>
          <td>08:00 ص</td>
          <td>08:00 ص</td>
          <td>
            <div class="actions flex gap-2">
              <button class="table-action-gray-btn" (click)="openViewDialog()">
                <img alt="" src="assets/icons/view.svg" />
              </button>
              <button class="black-table-btn-action">
                <img alt="" src="assets/icons/small-edit.svg" />
                <span>اجراء</span>
              </button>
              <button class="table-action-gray-btn">
                <img alt="" src="assets/icons/edit-action.svg" />
              </button>
              <button class="table-action-red-btn">
                <img alt="" src="assets/icons/delete-action.svg" />
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-paginator
      class="mt-6"
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="120"
      [rowsPerPageOptions]="[10, 20, 30]"
    />
    <div></div>
  </div>
</div>
