<div class="bg-white" [ngClass]="{ 'bg-transparent': embedded }">
  <div class="bg-[#f9fafb] p-3 sm:p-6" [ngClass]="{ '!bg-transparent !p-0': embedded }">
    <!-- Breadcrumb & Page Title -->
    @if (!embedded) {
      <div class="header bg-white rounded-2xl p-4 sm:p-6 mb-6">
        <p-breadcrumb [home]="home" [model]="breadcrumbs" class="max-w-full">
          <ng-template let-item pTemplate="item">
            <a [routerLink]="item.url" class="cursor-pointer">
              <span class="text-gray-500 font-medium">{{ item.label | translate }}</span>
            </a>
          </ng-template>
        </p-breadcrumb>
        <h3 class="text-xl sm:text-2xl md:text-3xl font-bold text-[#161616] mt-4">
          {{ 'SHIFTS_VIEW_PAGE.TITLE' | translate }}
        </h3>
      </div>
    }

    <!-- Search Filters -->
    <div class="bg-white rounded-2xl p-4 sm:p-8 border border-[#d2d6db]">
      <div class="p-6 sm:p-8 rounded-2xl bg-[#f3f4f6]">
        <div class="flex items-center justify-between">
          <h5 class="text-base sm:text-lg md:text-xl font-bold text-[#161616]">
            {{ 'SHIFTS_VIEW_PAGE.FILTER_SECTION_TITLE' | translate }}
          </h5>
        </div>

        <div class="pt-6">
          <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-8">
            <!-- Department -->
            <div class="relative xl:col-span-2">
              <label class="label" for="shiftsViewDepartment">
                {{ 'SHIFTS_VIEW_PAGE.DEPARTMENT' | translate }}
              </label>
              <p-multiselect
                [(ngModel)]="filterOptions.fkDepartmentIds"
                [options]="departments"
                [optionLabel]="optionLabel"
                [placeholder]="'SHIFTS_VIEW_PAGE.DEPARTMENT' | translate"
                [showClear]="true"
                [filter]="true"
                [showToggleAll]="true"
                class="w-full peer"
                inputId="shiftsViewDepartment"
                optionValue="id"
                (onChange)="onDepartmentChange()"
              />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>

            <!-- Employee Name -->
            <div class="relative xl:col-span-2">
              <label class="label" for="shiftsViewEmployee">
                {{ 'SHIFTS_VIEW_PAGE.EMPLOYEE_NAME' | translate }}
              </label>
              <p-multiselect
                [(ngModel)]="filterOptions.fkUserProfileIds"
                [options]="filteredUsersProfiles"
                [optionLabel]="optionLabel"
                [placeholder]="'SHIFTS_VIEW_PAGE.EMPLOYEE_NAME' | translate"
                [showClear]="true"
                [virtualScroll]="true"
                [virtualScrollItemSize]="38"
                [filter]="true"
                [showToggleAll]="true"
                class="w-full peer"
                inputId="shiftsViewEmployee"
                optionValue="id"
              />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>

            <!-- Shift Name AR -->
            <div class="relative">
              <label class="label" for="shiftsViewNameAr">
                {{ 'SHIFTS_VIEW_PAGE.SHIFT_NAME_AR' | translate }}
              </label>
              <input
                [(ngModel)]="filterOptions.shiftNameAr"
                [placeholder]="'SHIFTS_VIEW_PAGE.SHIFT_NAME_AR' | translate"
                class="peer"
                fluid="true"
                id="shiftsViewNameAr"
                pInputText
                type="text"
              />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>

            <!-- Shift Name EN -->
            <div class="relative">
              <label class="label" for="shiftsViewNameEn">
                {{ 'SHIFTS_VIEW_PAGE.SHIFT_NAME_EN' | translate }}
              </label>
              <input
                [(ngModel)]="filterOptions.shiftNameEn"
                [placeholder]="'SHIFTS_VIEW_PAGE.SHIFT_NAME_EN' | translate"
                class="peer"
                fluid="true"
                id="shiftsViewNameEn"
                pInputText
                type="text"
              />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>

            <!-- Date From -->
            <div class="relative">
              <label class="label" for="shiftsViewDateFrom">
                {{ 'SHIFTS_VIEW_PAGE.DATE_FROM' | translate }}
              </label>
              <p-datepicker
                [(ngModel)]="filterOptions.dateFrom"
                [iconDisplay]="'input'"
                [maxDate]="dateTo"
                [placeholder]="'SHIFTS_VIEW_PAGE.DATE_FROM' | translate"
                [showClear]="true"
                [showIcon]="true"
                class="peer block w-full"
                inputId="shiftsViewDateFrom"
              >
                <ng-template pTemplate="inputicon">
                  <img alt="" src="assets/icons/calender-icon.svg" />
                </ng-template>
              </p-datepicker>
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>

            <!-- Date To -->
            <div class="relative">
              <label class="label" for="shiftsViewDateTo">
                {{ 'SHIFTS_VIEW_PAGE.DATE_TO' | translate }}
              </label>
              <p-datepicker
                [(ngModel)]="filterOptions.dateTo"
                [iconDisplay]="'input'"
                [minDate]="dateFrom"
                [placeholder]="'SHIFTS_VIEW_PAGE.DATE_TO' | translate"
                [showClear]="true"
                [showIcon]="true"
                class="peer block w-full"
                inputId="shiftsViewDateTo"
              >
                <ng-template pTemplate="inputicon">
                  <img alt="" src="assets/icons/calender-icon.svg" />
                </ng-template>
              </p-datepicker>
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
              ></span>
            </div>
          </div>

          <!-- Actions -->
          <div class="actions flex items-center justify-start gap-4 pt-6">
            <button class="btn gray-btn border border-[#d2d6db]" (click)="resetSearch()">
              {{ 'COMMON.RESET_SEARCH' | translate }}
            </button>
            <button class="btn black-btn" (click)="search()">
              {{ 'COMMON.SEARCH' | translate }}
            </button>
          </div>
        </div>
      </div>

      <!-- Table Section -->
      <div class="mt-6">
        <div
          class="flex items-start xl:items-center justify-between flex-col xl:flex-row gap-4 bg-[#e5e7eb] rounded-lg p-4 sm:p-6 mb-4"
        >
          <h4 class="text-lg sm:text-xl md:text-2xl font-bold text-[#161616]">
            {{ 'SHIFTS_VIEW_PAGE.LIST_TITLE' | translate }}
          </h4>
          <div class="actions flex items-center gap-4 ms-auto">
            <button
              class="table-head-action-btn min-w-[40px]"
              (click)="exportExcel(getTranslatedFileName('SHIFTS_VIEW_PAGE.LIST_TITLE', 'xlsx'))"
            >
              <img alt="" src="assets/icons/excel.svg" />
            </button>
            <button
              class="table-head-action-btn"
              (click)="exportPdf(getTranslatedFileName('SHIFTS_VIEW_PAGE.LIST_TITLE'))"
            >
              <img alt="" src="assets/icons/pdf.svg" />
            </button>
          </div>
        </div>

        @if (list && list.length > 0) {
          <p-table [value]="list" [styleClass]="'p-datatable-striped'">
            <ng-template #header>
              <tr>
                <th class="text-start">{{ 'SHIFTS_VIEW_PAGE.EMPLOYEE_NAME' | translate }}</th>
                <th class="text-start">{{ 'SHIFTS_VIEW_PAGE.DATE_TIME' | translate }}</th>
                <th class="text-start">{{ 'SHIFTS_VIEW_PAGE.SHIFT_NAME' | translate }}</th>
                <th class="text-start">{{ 'SHIFTS_VIEW_PAGE.SHIFT_TYPE' | translate }}</th>
                <th class="text-start">{{ 'SHIFTS_VIEW_PAGE.IS_REST_DAY' | translate }}</th>
              </tr>
            </ng-template>
            <ng-template #body let-item>
              <tr>
                <td class="text-start font-medium">{{ getEmployeeName(item) }}</td>
                <td class="text-start">
                  <div class="font-medium">
                    {{ getFormattedDateRange(item.dateFrom, item.dateTo) }}
                  </div>
                  <div class="text-sm text-[#64748b] font-medium">
                    {{ item.formattedTimeRange }}
                  </div>
                </td>
                <td class="text-start font-medium">{{ getShiftName(item) }}</td>
                <td class="text-start font-medium">
                  {{ getShiftTypeName(item.shiftAssignmentType) }}
                </td>
                <td class="text-start font-medium">
                  @if (item.isRestDay) {
                    <img src="assets/icons/right-icon.svg" alt="" />
                  } @else {
                    <img src="assets/icons/wrong-icon.svg" alt="" />
                  }
                </td>
              </tr>
            </ng-template>
          </p-table>
        } @else {
          <div class="flex items-center justify-center h-64">
            <p class="text-gray-500">{{ 'COMMON.NO_DATA_TO_SHOW' | translate }}</p>
          </div>
        }

        @if (paginationInfo) {
          <p-paginator
            (onPageChange)="onPageChange($event, false)"
            [first]="first"
            [rowsPerPageOptions]="[10, 20, 30]"
            [rows]="rows"
            [showCurrentPageReport]="false"
            [totalRecords]="paginationInfo.totalItems"
            class="mt-6"
          />
        }
      </div>
    </div>
  </div>
</div>
