<div [dir]="direction">
  <div class="p-6">
    <button class="block ms-auto" (click)="close()">
      <i class="pi pi-times"></i>
    </button>
    <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">تعديل صلاحيات الموظف</h3>
    <div class="bg-[#074d31] p-6 rounded-2xl">
      <div class="flex flex-col sm:flex-row justify-between pb-4">
        <div class="flex gap-2 items-center">
          <span class="text-sm text-white">اسم الموظف:</span>
          <span class="font-semibold text-white">محمد أحمد محمود</span>
        </div>
        <div class="flex gap-2 items-center">
          <span class="text-sm text-[#fae996]">معرف الموظف:</span>
          <span class="font-semibold text-[#fae996]">1234</span>
        </div>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 pt-6">
        <div class="flex flex-col gap-2">
          <span class="text-sm text-white">الادارة</span>
          <span class="font-semibold text-white">ادارة الموارد البشرية</span>
        </div>
        <div class="flex flex-col gap-2">
          <span class="text-sm text-white">نوع الدوام</span>
          <span class="font-semibold text-white">دوام كلي</span>
        </div>
      </div>
    </div>
    <div class="mt-6 pt-6 border-t border-[#d2d6db]">
      <h3 class="text-[#1f2a37 font-[600] mb-6 text-sm sm:text-base">الصلاحيات</h3>
      <form>
        <div class="flex flex-wrap gap-8">
          <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
            <input
              type="checkbox"
              class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
            />
            <svg
              class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polyline points="20 6 9 17 4 12" />
            </svg>
            <span class="text-base font-medium text-[#1f2a37]">موظف</span>
          </label>
          <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
            <input
              type="checkbox"
              class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
            />
            <svg
              class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polyline points="20 6 9 17 4 12" />
            </svg>
            <span class="text-base font-medium text-[#1f2a37]">مسؤول النظام</span>
          </label>
          <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
            <input
              type="checkbox"
              class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
            />
            <svg
              class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polyline points="20 6 9 17 4 12" />
            </svg>
            <span class="text-base font-medium text-[#1f2a37]">مدير ادارة</span>
          </label>
          <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
            <input
              type="checkbox"
              class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
            />
            <svg
              class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polyline points="20 6 9 17 4 12" />
            </svg>
            <span class="text-base font-medium text-[#1f2a37]">مسؤول قسم المتابعة</span>
          </label>
          <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
            <input
              type="checkbox"
              class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
            />
            <svg
              class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polyline points="20 6 9 17 4 12" />
            </svg>
            <span class="text-base font-medium text-[#1f2a37]">مسؤول HR</span>
          </label>
          <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
            <input
              type="checkbox"
              class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
            />
            <svg
              class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polyline points="20 6 9 17 4 12" />
            </svg>
            <span class="text-base font-medium text-[#1f2a37]">فرد شرطة عسكرية</span>
          </label>
          <label class="flex items-center space-x-2 mb-4 cursor-pointer relative">
            <input
              type="checkbox"
              class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
            />
            <svg
              class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polyline points="20 6 9 17 4 12" />
            </svg>
            <span class="text-base font-medium text-[#1f2a37]">قائد شطة عسكرية</span>
          </label>
        </div>
        <div class="actions mt-6 flex items-center justify-end gap-4">
          <button class="btn gray-btn" (click)="close()">الغاء</button>
          <button class="btn green-btn">تعديل</button>
        </div>
      </form>
    </div>
  </div>
</div>
