<div [dir]="direction">
  <div class="p-6">
    <button class="block ms-auto" (click)="close()">
      <i class="pi pi-times"></i>
    </button>
    <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl flex flex-col items-center gap-[10px]">
      <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 20C0 8.954 8.954 0 20 0s20 8.954 20 20-8.954 20-20 20S0 31.046 0 20z" fill="#F3FCF6" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M20 16.875a2.292 2.292 0 0 0-.625 4.497v1.961a.625.625 0 1 0 1.25 0v-1.96A2.293 2.293 0 0 0 20 16.874zm-1.041 2.292a1.042 1.042 0 1 1 2.083 0 1.042 1.042 0 0 1-2.083 0z"
          fill="#067647" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M20 11.042a8.958 8.958 0 1 0 0 17.916 8.958 8.958 0 0 0 0-17.916zM12.292 20a7.708 7.708 0 1 1 15.417 0 7.708 7.708 0 0 1-15.417 0z"
          fill="#067647" />
        <path clip-rule="evenodd"
          d="M20 16.875a2.292 2.292 0 0 0-.625 4.497v1.961a.625.625 0 1 0 1.25 0v-1.96A2.293 2.293 0 0 0 20 16.874zm-1.041 2.292a1.042 1.042 0 1 1 2.083 0 1.042 1.042 0 0 1-2.083 0z"
          stroke="#9DA4AE" />
        <path clip-rule="evenodd"
          d="M20 11.042a8.958 8.958 0 1 0 0 17.916 8.958 8.958 0 0 0 0-17.916zM12.292 20a7.708 7.708 0 1 1 15.417 0 7.708 7.708 0 0 1-15.417 0z"
          stroke="#9DA4AE" />
      </svg>
      <div class="p-6">
        <button class="block ms-auto" (click)="close()">
          <i class="pi pi-times"></i>
        </button>
        <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl flex flex-col items-center gap-[10px]">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 20C0 8.954 8.954 0 20 0s20 8.954 20 20-8.954 20-20 20S0 31.046 0 20z" fill="#F3FCF6" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M20 16.875a2.292 2.292 0 0 0-.625 4.497v1.961a.625.625 0 1 0 1.25 0v-1.96A2.293 2.293 0 0 0 20 16.874zm-1.041 2.292a1.042 1.042 0 1 1 2.083 0 1.042 1.042 0 0 1-2.083 0z"
              fill="#067647" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M20 11.042a8.958 8.958 0 1 0 0 17.916 8.958 8.958 0 0 0 0-17.916zM12.292 20a7.708 7.708 0 1 1 15.417 0 7.708 7.708 0 0 1-15.417 0z"
              fill="#067647" />
            <path clip-rule="evenodd"
              d="M20 16.875a2.292 2.292 0 0 0-.625 4.497v1.961a.625.625 0 1 0 1.25 0v-1.96A2.293 2.293 0 0 0 20 16.874zm-1.041 2.292a1.042 1.042 0 1 1 2.083 0 1.042 1.042 0 0 1-2.083 0z"
              stroke="#9DA4AE" />
            <path clip-rule="evenodd"
              d="M20 11.042a8.958 8.958 0 1 0 0 17.916 8.958 8.958 0 0 0 0-17.916zM12.292 20a7.708 7.708 0 1 1 15.417 0 7.708 7.708 0 0 1-15.417 0z"
              stroke="#9DA4AE" />
          </svg>

          تغيير كلمة المرور
        </h3>
        <form class="mt-6">
          <div class="mb-6">
            <label class="label">كلمة المرور القديمة</label>
            <div class="relative">
              <p-password formControlName="password" [toggleMask]="true" class="peer" id="password" type="password"
                placeholder="كلمة المرور القديمة" fluid="true" [feedback]="false" />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"></span>
            </div>
          </div>
          <div class="mb-6">
            <label class="label">كلمة المرور الجديدة</label>
            <div class="relative">
              <p-password formControlName="password" [toggleMask]="true" class="peer" id="password" type="password"
                placeholder="كلمة المرور الجديدة" fluid="true" [feedback]="false" />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"></span>
            </div>
          </div>
          <div class="mb-6">
            <label class="label">تأكيد كلمة المرور الجديدة</label>
            <div class="relative">
              <p-password formControlName="password" [toggleMask]="true" class="peer" id="password" type="password"
                placeholder="تأكيد كلمة المرور الجديدة" fluid="true" [feedback]="false" />
              <span
                class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"></span>
            </div>
          </div>
          <div class="actions mt-6 flex items-center gap-4 mt-10">
            <button
              class="inline-flex items-center justify-center min-h-[40px] px-3 rounded text-[14px] font-medium hover:bg-[#f1f1f1] transition border border-[#d2d6db]"
              (click)="close()">
              الغاء
            </button>
            <button class="btn green-btn">تغيير كلمة المرور</button>
          </div>
        </form>
      </div>
  </div>