<div [dir]="direction">
  <div class="p-6">
    <button class="block ms-auto" (click)="close()">
      <i class="pi pi-times"></i>
    </button>
    <div class="p-6">
      <h3 class="text-[#1f2a37 font-[600] text-lg sm:text-xl flex flex-col">
        {{ 'PROFILE_PAGE.CHANGE_PASSWORD' | translate }}
      </h3>
      <form [formGroup]="form" class="mt-4">
        <div class="mb-6">
          <label class="label" for="oldPassword">{{
            'PROFILE_PAGE.OLD_PASSWORD' | translate
          }}</label>
          <div class="relative">
            <p-password
              formControlName="oldPassword"
              [toggleMask]="true"
              class="peer"
              id="oldPassword"
              [placeholder]="'PROFILE_PAGE.OLD_PASSWORD' | translate"
              fluid="true"
              [feedback]="false"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="oldPasswordControl"></app-validation-messages>
        </div>

        <div class="mb-6">
          <label class="label" for="newPassword">{{
            'PROFILE_PAGE.NEW_PASSWORD' | translate
          }}</label>
          <div class="relative">
            <p-password
              formControlName="newPassword"
              [toggleMask]="true"
              class="peer"
              id="newPassword"
              [placeholder]="'PROFILE_PAGE.NEW_PASSWORD' | translate"
              fluid="true"
              [feedback]="false"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="newPasswordControl"></app-validation-messages>
        </div>

        <div class="mb-6">
          <label class="label" for="confirmPassword">{{
            'PROFILE_PAGE.CONFIRM_NEW_PASSWORD' | translate
          }}</label>
          <div class="relative">
            <p-password
              formControlName="confirmPassword"
              [toggleMask]="true"
              class="peer"
              id="confirmPassword"
              [placeholder]="'PROFILE_PAGE.CONFIRM_NEW_PASSWORD' | translate"
              fluid="true"
              [feedback]="false"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="confirmPasswordControl"></app-validation-messages>

          <!-- Password mismatch error -->
          @if (form.errors?.['passwordMismatch'] && confirmPasswordControl.touched) {
            <span class="validation-message">
              {{ 'PROFILE_PAGE.PASSWORD_MISMATCH' | translate }}
            </span>
          }
        </div>

        <div class="actions mt-6 flex items-center gap-4 mt-10">
          <button
            type="button"
            class="inline-flex items-center justify-center min-h-[40px] px-3 rounded text-[14px] font-medium hover:bg-[#f1f1f1] transition border border-[#d2d6db]"
            (click)="close()"
          >
            {{ 'COMMON.CANCEL' | translate }}
          </button>
          <button type="button" class="btn green-btn" (click)="save$.next()">
            {{ 'PROFILE_PAGE.CHANGE_PASSWORD' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
