div[dir='rtl'] {
  // Arabic Sidebar
  .p-drawer-left {
    left: unset !important;
    right: 0;
  }

  // Arabic Sidebar
  .p-datepicker-time-picker > div {
    order: unset !important;
  }
  .p-datepicker-timeonly .p-datepicker-time-picker {
    direction: ltr !important;
  }
}

[dir='rtl'] ~ .p-drawer-left {
  left: unset !important;
  right: 0;
}
