/* You can add global styles to this file, and also import other style files */
@use "tailwindcss" as *;
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
@import 'primeicons/primeicons.css';

body {
    font-family: "IBM Plex Sans Arabic", sans-serif;
}

:root {
    --p-inputtext-background: #fff !important;
    --p-inputtext-color: #334155 !important;
    // Select
    --p-select-border-color: #9da4ae !important;
    --p-select-focus-border-color: #9da4ae !important;
    --p-select-padding-x: 16px !important;
    --p-select-background: #fff !important;
    // Inputs
    --p-inputtext-border-color: #9da4ae !important;
    --p-inputtext-focus-border-color: #9da4ae !important;
    --p-inputtext-padding-x: 16px !important;
    // Date Picker
    --p-datepicker-today-background: #fff !important;
    --p-datepicker-date-selected-background: #1b8354 !important;
    --p-datepicker-today-color: #1b8354;
    --p-datepicker-date-width: 40px !important;
    --p-datepicker-date-height: 40px !important;
    --p-datepicker-date-hover-background: #e5e7eb !important;
    // Carousel
    --p-carousel-indicator-width: 12px !important;
    --p-carousel-indicator-height: 12px !important;
    --p-carousel-indicator-background: #e5e7eb !important;
    --p-carousel-indicator-list-padding: 0 !important;
    // Rating
    --p-rating-icon-active-color: #dba102 !important;
    --p-rating-focus-ring-color: #dba102 !important;
    --p-rating-icon-hover-color: #dba102 !important;
    //table
    --p-datatable-column-title-font-weight: 600 !important;
    --p-datatable-header-cell-color: #384250 !important;
    --p-datatable-header-cell-border-color: #d2d6db !important;
    --p-datatable-header-cell-background: #f3f4f6 !important;
    --p-datatable-header-cell-padding: 16px !important;
    --p-datatable-body-cell-padding: 16px !important;

    .p-datatable-thead>tr>th:not(:first-child) {
        border-inline-start-width: 1px !important;
        border-inline-end-width: 0 !important;
        border-top-width: 0 !important;
        border-bottom-width: 1px !important;
    }

    .p-datatable-tbody>tr>td {
        background-color: #fff;
    }

    //pagination
    --p-paginator-nav-button-selected-color: #161616;
    --p-paginator-nav-button-selected-background: #fff !important;
    --p-paginator-nav-button-border-radius: 4px;
    --p-paginator-nav-button-selected-background: #fff;
    --p-paginator-padding: 24px 0 0 !important;
}

//pagination
.p-paginator-page.p-paginator-page-selected {
    border-bottom: 3px solid #1b8354;
    border-radius: 0;
}

//breadcrumb
.p-breadcrumb-list {
    flex-wrap: wrap !important;
}

//table

.p-datatable-thead>tr>th {
    &:not(:first-child) {
        border-width: 0 1px 1px 0 !important;
    }

    font-size: 12px;
}

.p-datatable-table {
    border: 1px solid #d2d6db !important;
    border-radius: 8px !important;
    overflow: hidden;
}

.p-datatable-tbody>tr>td {
    color: #161616;
    text-wrap: nowrap;
}

// Date Picker
.p-datepicker {
    width: 100%;
    height: 100%;
}

.p-datepicker-today>.p-datepicker-day {
    border-color: #1b8354;
}

.custom-container {
    @apply px-4 sm:px-6 md:px-8 lg:px-[80px];
}

.label {
    @apply block text-[#161616] text-sm font-normal mb-2;
}

.btn {
    @apply text-sm md:text-base gap-2 text-white px-2 py-1 md:py-2 md:px-4 rounded cursor-pointer font-[500];
}

.green-btn {
    @apply bg-[#1b8354] hover:bg-[#166a45];
}

.black-btn {
    @apply bg-[#0d121c] hover:bg-[#1f2a37];
}

.gray-btn {
    @apply text-[#161616] bg-[#f3f4f6] hover:bg-[#e5e7eb];
}



// Start SideMenu
.p-drawer-header {
    display: none !important;
}

.sidebar-header {
    background: #14573a !important;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;
}

.p-drawer-content {
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.p-drawer-left,
.p-drawer {

    border: unset !important;

    @media(min-width: 768px) {
        width: 256px !important;
    }
}

.menu-list {
    font-size: 14px;
    font-weight: 600;
    color: #161616;

    &>li {
        margin-top: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid #d2d6db;

        &:last-child {
            border: unset;
        }

        .menu-item {
            padding: 8px 16px;
            border-radius: 4px;
            background-color: #fff;
            font-weight: 600;
            position: relative;
            transition: 0.2s;

            &:hover,
            &.active {
                background-color: #e5e7eb;

                &::before {
                    background-color: #1b8354;
                }
            }

            &::before {
                position: absolute;
                top: 50%;
                inset-inline-start: 0;
                width: 6px;
                height: 80%;
                background-color: #fff;
                border-radius: 10px;
                transition: 0.2s;
                transform: translateY(-50%);
                content: "";
            }
        }
    }

    .sub-links {
        border: unset;
        padding: 8px 16px;
        border-radius: 4px;
        background-color: #fff;
        margin-top: 8px;
        font-weight: 600;
        position: relative;
        transition: 0.2s;

        &:hover,
        &.active {
            background-color: #e5e7eb;

            &::before {
                background-color: #1b8354;
            }
        }

        &::before {
            position: absolute;
            top: 50%;
            inset-inline-start: 0;
            width: 6px;
            height: 80%;
            background-color: #fff;
            border-radius: 10px;
            transition: 0.2s;
            transform: translateY(-50%);
            content: "";
        }
    }
}

.p-drawer-right .p-drawer {
    align-self: baseline !important;
    transform: unset !important;
}

.p-drawer-mask {
    position: static !important;
}

// End SideMenu