/* You can add global styles to this file, and also import other style files */
@use "tailwindcss" as *;
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
@import 'primeicons/primeicons.css';

body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

:root {
  --p-inputtext-background: #fff !important;
  --p-inputtext-color: #334155 !important;
  // Select
  --p-select-border-color: #9da4ae !important;
  --p-select-focus-border-color: #9da4ae !important;
  // Inputs
  --p-inputtext-border-color: #9da4ae !important;
  --p-inputtext-focus-border-color: #9da4ae !important;
  // Date Picker
  --p-datepicker-today-background: #fff !important;
  --p-datepicker-date-selected-background: #1b8354 !important;
  --p-datepicker-today-color: #1b8354;
  --p-datepicker-date-width: 40px !important;
  --p-datepicker-date-height: 40px !important;
  --p-datepicker-date-hover-background: #e5e7eb !important;
  // Carousel
  --p-carousel-indicator-width: 12px !important;
  --p-carousel-indicator-height: 12px !important;
  --p-carousel-indicator-background: #e5e7eb !important;
  --p-carousel-indicator-list-padding: 0 !important;
  // Rating
  --p-rating-icon-active-color: #dba102 !important;
  --p-rating-focus-ring-color: #dba102 !important;
  --p-rating-icon-hover-color: #dba102 !important;
}


// Date Picker
.p-datepicker {
  width: 100%;
  height: 100%;
}

.p-datepicker-today>.p-datepicker-day {
  border-color: #1b8354;
}


.custom-container {
  @apply px-4 sm:px-6 md:px-8 lg:px-[80px];
}

.label {
  @apply block text-[#161616] text-sm font-normal mb-2;
}

.btn {
  @apply text-white px-4 py-2 rounded cursor-pointer font-[500];
}

.green-btn {
  @apply bg-[#1b8354] hover:bg-[#166a45];
}

.black-btn {
  @apply bg-[#0d121c] hover:bg-[#1f2a37];
}

.gray-btn {
  @apply text-[#161616] bg-[#f3f4f6] hover:bg-[#e5e7eb];
}


// Start SideMenu
.p-drawer-header {
  display: none !important;
}

.sidebar-header {
  background: #14573a !important;
}

.p-drawer-content {
  padding: 0 !important;
}

.p-drawer-left,
.p-drawer {
  width: 256px !important;
  border: unset !important;
}

// End SideMenu