<div [dir]="direction">
  <div class="p-6">
    <button (click)="close()" class="block ms-auto">
      <i class="pi pi-times close-popup"></i>
    </button>
    @if (isCreateMode) {
      <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">
        {{ 'WORK_MISSIONS.ADD_NEW_MISSION' | translate }}
      </h3>
    } @else {
      <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">
        {{ 'WORK_MISSIONS.EDIT_MISSION' | translate }}
      </h3>
    }
    <!-- MUJ-554 : the following section is hidden as per this card till we implement processing -->
    <!-- <div
      class="relative flex items-center gap-4 px-6 py-4 rounded-lg bg-white mb-6 border border-[#fedf89] border-s-[6px] border-s-[#dc6803]">
      <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 20C0 8.954 8.954 0 20 0s20 8.954 20 20-8.954 20-20 20S0 31.046 0 20z" fill="#FEF3F2" />
        <path
          d="M19.16 23.333c0-.46.374-.833.834-.833H20a.833.833 0 0 1 0 1.667h-.007a.833.833 0 0 1-.834-.834zM19.375 20.833a.625.625 0 0 0 1.25 0V17.5a.625.625 0 1 0-1.25 0v3.333z"
          fill="#D92D20" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M18.635 11.68a4.328 4.328 0 0 1 2.73 0c.884.292 1.577.988 2.274 1.965.695.974 1.462 2.332 2.451 4.082l.039.069c.99 1.75 1.757 3.108 2.235 4.21.48 1.106.72 2.061.529 2.979a4.507 4.507 0 0 1-1.357 2.4c-.689.633-1.627.9-2.808 1.029-1.174.128-2.71.128-4.687.128h-.081c-1.977 0-3.513 0-4.688-.128-1.18-.129-2.119-.396-2.807-1.03a4.507 4.507 0 0 1-1.357-2.399c-.191-.918.048-1.873.529-2.98.478-1.1 1.245-2.459 2.235-4.21l.039-.068c.989-1.75 1.756-3.108 2.45-4.082.697-.977 1.39-1.673 2.274-1.966zm2.336 1.185a3.08 3.08 0 0 0-1.942 0c-.497.165-.996.589-1.65 1.506-.651.913-1.387 2.213-2.4 4.005-1.012 1.793-1.747 3.093-2.196 4.127-.45 1.036-.562 1.695-.451 2.227.14.672.483 1.278.979 1.735.39.358.996.587 2.096.706 1.1.12 2.567.12 4.593.12s3.494 0 4.593-.12c1.1-.12 1.707-.348 2.097-.706.496-.457.84-1.063.98-1.735.11-.532-.003-1.191-.453-2.227-.448-1.034-1.183-2.334-2.195-4.127-1.013-1.792-1.749-3.092-2.4-4.005-.654-.917-1.154-1.34-1.65-1.506z"
          fill="#D92D20" />
      </svg>
      <div>
        <h4 class="text-[16px] font-semibold text-[#b54708] mb-2">
          {{ 'WORK_MISSIONS.ACTION_MAY_REQUIRE_REPROCESS' | translate }}
        </h4>
        <p class="text-sm text-[#384250]">
          {{ 'WORK_MISSIONS.ADD_EDIT_ACTION_MAY_REQUIRE_REPROCESS' | translate }}
        </p>
      </div>
    </div> -->
    <form [formGroup]="form" class="">
      <div class="grid grid-cols-1 lg:grid-cols-4 gap-6">
        <div class="lg:col-span-2">
          <label class="label" for="missionAr">{{
            'WORK_MISSIONS.MISSION_NAME_AR' | translate
          }}</label>
          <div class="relative">
            <input
              class="peer"
              fluid="true"
              id="missionAr"
              name="missionAr"
              pInputText
              [placeholder]="'WORK_MISSIONS.MISSION_NAME_AR' | translate"
              type="text"
              formControlName="nameAr"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="nameArControl"></app-validation-messages>
        </div>
        <div class="lg:col-span-2">
          <label class="label" for="missionEn">{{
            'WORK_MISSIONS.MISSION_NAME_EN' | translate
          }}</label>
          <div class="relative">
            <input
              class="peer"
              fluid="true"
              id="missionEn"
              name="missionEn"
              pInputText
              [placeholder]="'WORK_MISSIONS.MISSION_NAME_EN' | translate"
              type="text"
              formControlName="nameEn"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="nameEnControl"></app-validation-messages>
        </div>
        <!-- Start Date -->
        <div class="lg:col-span-2">
          <label class="label" for="startDate">{{ 'WORK_MISSIONS.START_DATE' | translate }}</label>
          <div class="relative">
            <p-datepicker
              [iconDisplay]="'input'"
              [showIcon]="true"
              class="peer block w-full"
              id="startDate"
              inputId="startDate"
              name="startDate"
              [placeholder]="'WORK_MISSIONS.START_DATE' | translate"
              formControlName="startDate"
              [maxDate]="form.get('endDate')?.value"
            >
              <ng-template pTemplate="inputicon">
                <img alt="" src="assets/icons/calender-icon.svg" />
              </ng-template>
            </p-datepicker>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="startDateControl"></app-validation-messages>
        </div>

        <!-- End Date -->
        <div class="lg:col-span-2">
          <label class="label" for="endDate">{{ 'WORK_MISSIONS.END_DATE' | translate }}</label>
          <div class="relative">
            <p-datepicker
              [iconDisplay]="'input'"
              [showIcon]="true"
              class="peer block w-full"
              id="endDate"
              inputId="endDate"
              name="endDate"
              [placeholder]="'WORK_MISSIONS.END_DATE' | translate"
              formControlName="endDate"
              [minDate]="form.get('startDate')?.value"
            >
              <ng-template pTemplate="inputicon">
                <img alt="" src="assets/icons/calender-icon.svg" />
              </ng-template>
            </p-datepicker>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="endDateControl"></app-validation-messages>
        </div>

        <div class="lg:col-span-4">
          <label class="label" for="description">{{
            'WORK_MISSIONS.DESCRIPTION' | translate
          }}</label>
          <div class="relative w-full">
            <textarea
              class="h-24 block overflow-auto mt-4 w-full rounded border border-[#9da4ae] px-4 py-2 px-4 py-3 focus:outline-none resize-none peer"
              cols="30"
              pTextarea
              [placeholder]="'WORK_MISSIONS.DESCRIPTION' | translate"
              rows="5"
              id="description"
              name="description"
              formControlName="description"
            ></textarea>

            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus:left-0 peer-focus:w-full"
            ></span>
          </div>
          <app-validation-messages [control]="descriptionControl"></app-validation-messages>
        </div>
      </div>
      <div class="actions mt-6 flex items-center justify-between gap-4">
        <button (click)="close()" class="btn gray-btn">{{ 'COMMON.CANCEL' | translate }}</button>
        <button (click)="save$.next()" class="btn green-btn flex items-center">
          {{ 'COMMON.SAVE' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
