<div dir="rtl">
  <div class="p-6">
    <button (click)="close()" class="block ms-auto">
      <i class="pi pi-times close-popup"></i>
    </button>
    <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">إضافة مهمة جديدة</h3>
    <div
      class="relative flex items-center gap-4 px-6 py-4 rounded-lg bg-white mb-6 border border-[#fedf89] border-s-[6px] border-s-[#dc6803]"
    >
      <img src="assets/icons/warning-yellow.svg" alt="" />
      <div>
        <h4 class="text-[16px] font-semibold text-[#b54708] mb-2">
          قد يتطلب الأمر إعادة معالجة هذه البيانات بعد الحفظ
        </h4>
        <p class="text-sm text-[#384250]">
          تعديل مهمة العمل الحالية قد يؤثر على بيانات الحضور والانصراف الخاصة بالموظفين المسندين
          إليها
        </p>
      </div>
    </div>
    <form class="">
      <div class="grid grid-cols-1 lg:grid-cols-4 gap-6">
        <div class="lg:col-span-2">
          <label class="label" for="shiftName">اسم المهمة</label>
          <div class="relative">
            <input
              class="peer"
              fluid="true"
              id="nationalityAr"
              pInputText
              placeholder="اسم المهمة"
              type="text"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <span class="validation-message">هذا الحقل مطلوب</span>
        </div>
        <div class="lg:col-span-2">
          <label class="label" for="shiftName">اسم المهمة</label>
          <div class="relative">
            <input
              class="peer"
              fluid="true"
              id="nationalityAr"
              pInputText
              placeholder="اسم المهمة"
              type="text"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <span class="validation-message">هذا الحقل مطلوب</span>
        </div>
        <div class="lg:col-span-2">
          <label class="label" for="startDate">تاريخ البداية</label>
          <div class="relative">
            <p-datepicker
              [(ngModel)]="date2"
              [iconDisplay]="'input'"
              [showIcon]="true"
              class="peer block w-full"
              id="startDate"
              inputId="startDate"
              name="startDate"
              placeholder="تاريخ البداية"
            >
              <ng-template pTemplate="inputicon">
                <img alt="" src="assets/icons/calender-icon.svg" />
              </ng-template>
            </p-datepicker>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <span class="validation-message">هذا الحقل مطلوب</span>
        </div>
        <div class="lg:col-span-2">
          <label class="label" for="endDate">تاريخ النهاية</label>
          <div class="relative">
            <p-datepicker
              [(ngModel)]="date2"
              [iconDisplay]="'input'"
              [showIcon]="true"
              class="peer block w-full"
              id="endDate"
              inputId="endDate"
              name="endDate"
              placeholder="تاريخ النهاية"
            >
              <ng-template pTemplate="inputicon">
                <img alt="" src="assets/icons/calender-icon.svg" />
              </ng-template>
            </p-datepicker>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
          <span class="validation-message">هذا الحقل مطلوب</span>
        </div>
        <div class="lg:col-span-4">
          <label class="label" for="">وصف المهمة</label>
          <div class="relative w-full">
            <textarea
              class="h-24 block overflow-auto mt-4 w-full rounded border border-[#9da4ae] px-4 py-2 px-4 py-3 focus:outline-none resize-none peer"
              cols="30"
              pTextarea
              placeholder="وصف المهمة"
              rows="5"
            ></textarea>

            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus:left-0 peer-focus:w-full"
            ></span>
          </div>
          <span class="validation-message">هذا الحقل مطلوب</span>
        </div>
      </div>
      <div class="actions mt-6 flex items-center justify-between gap-4">
        <button (click)="close()" class="btn gray-btn">الغاء</button>
        <button class="btn green-btn flex items-center">
          <span>التالي</span>
          <img alt="" class="ltr:rotate-180" src="assets/icons/left-arrow.svg" />
        </button>
      </div>
    </form>
  </div>
</div>
