<div class="px-6 bg-white">
  <div class="flex justify-between gap-2">
    <div>
      <button (click)="toggleSideMenu()" class="menu-button md:hidden h-full">
        <i class="pi pi-bars"></i>
      </button>
    </div>
    <div class="flex actions">
      <div>
        <button
          class="py-3 px-2 font-medium cursor-pointer flex items-center gap-2 text-sm sm:text-base text-[#384250]"
        >
          <img alt="" src="assets/icons/user.svg" />
          <span class="flex flex-col justify-start items-start">
            <strong> {{ getLoggedInUserName() }} </strong>
            <span class="font-normal"> {{ getLoggedInUserDepartment() }} </span>
          </span>
        </button>
      </div>
      <div>
        <button
          (click)="changeLanguage()"
          class="py-3 text-[#161616] font-medium cursor-pointer text-sm sm:text-base"
        >
          {{ getLanguageButtonText() }}
        </button>
      </div>
    </div>
  </div>
</div>
