<div [dir]="direction">
  <div class="p-6">
    <button class="block ms-auto" (click)="close()">
      <i class="pi pi-times"></i>
    </button>
    <h3 class="text-[#1f2a37 font-[600] mb-4 text-lg sm:text-xl">اسناد الموظفين للمسائلة</h3>

    <div class="pt-6">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 items-end">
        <div>
          <label class="label">الإدارة</label>
          <div class="relative">
            <p-select
              [options]="departments"
              [(ngModel)]="filterModel.fkDepartmentId"
              [optionLabel]="getPropertyName()"
              [showClear]="true"
              [filter]="true"
              class="w-full peer"
              id="department"
              optionLabel="type"
              optionValue="id"
              placeholder="الادارة"
            ></p-select>
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
        </div>
        <div>
          <label class="label"> {{ 'EMPLOYEES_PAGE.EMPLOYEE_NAME_ARABIC' | translate }}</label>
          <div class="relative">
            <input
              [(ngModel)]="filterModel.fullNameAr"
              pInputText
              type="text"
              placeholder=" {{ 'EMPLOYEES_PAGE.EMPLOYEE_NAME_ARABIC' | translate }}"
              class="peer w-full"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
        </div>
        <div>
          <label class="label"> {{ 'EMPLOYEES_PAGE.EMPLOYEE_NAME_ENGLISH' | translate }}</label>
          <div class="relative">
            <input
              pInputText
              type="text"
              [(ngModel)]="filterModel.fullNameEn"
              placeholder=" {{ 'EMPLOYEES_PAGE.EMPLOYEE_NAME_ENGLISH' | translate }}"
              class="peer w-full"
            />
            <span
              class="absolute bottom-0 left-1/2 w-0 h-0.5 bg-black transition-all duration-500 peer-focus-within:left-0 peer-focus-within:w-full"
            ></span>
          </div>
        </div>
        <div class="lg:col-span-3 md:col-span-2">
          <div class="actions flex items-center gap-4 pt-6">
            <button (click)="search()" class="btn black-btn">
              {{ 'COMMON.SEARCH' | translate }}
            </button>
            <button (click)="resetSearch()" class="btn gray-btn border border-[#d2d6db]">
              {{ 'COMMON.RESET_SEARCH' | translate }}
            </button>
          </div>
        </div>
      </div>
      @if (availableUsers && availableUsers.length > 0) {
        <p-table [value]="availableUsers">
          <ng-template #header>
            <tr>
              <th>
                <label class="flex items-center space-x-2 cursor-pointer relative">
                  <input
                    class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
                    type="checkbox"
                    (change)="toggleAll($any($event.target).checked)"
                  />
                  <svg
                    class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="3"
                    viewBox="0 0 24 24"
                  >
                    <polyline points="20 6 9 17 4 12" />
                  </svg>
                </label>
              </th>
              <th>معرف الموظف</th>
              <th>اسم الموظف بالعربية</th>
              <th>اسم الموظف بالانجليزية</th>
              <th>الادارة</th>
            </tr>
          </ng-template>
          <ng-template #body let-user>
            <tr>
              <td>
                <label class="flex items-center space-x-2 cursor-pointer relative">
                  <input
                    type="checkbox"
                    [checked]="isUserSelected(user.id)"
                    (change)="toggleUserSelection(user.id, $event)"
                    class="appearance-none w-6 h-6 border border-[#6c737f] rounded-[2px] checked:bg-[#1b8354] checked:border-transparent focus:outline-none peer"
                  />
                  <svg
                    class="absolute start-1 top-1 w-4 h-4 text-white pointer-events-none scale-0 peer-checked:scale-100 transition-transform"
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="3"
                    viewBox="0 0 24 24"
                  >
                    <polyline points="20 6 9 17 4 12" />
                  </svg>
                </label>
              </td>
              <td>
                <span class="font-medium text-[#1b8354]"> {{ user.id }} </span>
              </td>
              <td>{{ user.fullNameAr }}</td>
              <td>
                <div class="text-end">{{ user.fullNameEn }}</div>
              </td>
              <td>{{ getDepartmentName(user.fkDepartmentId) }}</td>
            </tr>
          </ng-template>
        </p-table>
      } @else {
        <div class="flex items-center justify-center h-64">
          <p class="text-gray-500">
            {{ 'COMMON.NO_DATA_TO_SHOW' | translate }}
          </p>
        </div>
      }
      @if (paginationInfo) {
        <p-paginator
          (onPageChange)="onPageChange($event)"
          [first]="first"
          [rowsPerPageOptions]="[10, 20, 30]"
          [rows]="rows"
          [showCurrentPageReport]="false"
          [totalRecords]="paginationInfo.totalItems"
          class="mt-6"
        />
      }
      <section class="border-t border-[#d2d6db] pt-8 mt-8">
        <h3 class="text-[14px] font-normal text-[#6c737f] mb-6">{{ 'INQUIRIES_PAGE.ASSIGNED_USERS' | translate }}</h3>
        <ul class="flex flex-wrap gap-4">
          <li
            *ngFor="let user of selectedUsers"
            class="min-w-[142px] min-h-[21px] flex flex-row justify-center items-center gap-1 px-3 py-1 rounded-full bg-[#f3f4f6] text-[#161616] font-medium"
          >
            <span>{{ user.fullNameAr }}</span>
            <button type="button" (click)="toggleUserSelection(user.id)">
              <svg
                width="18"
                height="18"
                viewBox="0 0 18 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M3.352 3.352c.22-.22.576-.22.796 0L9 8.205l4.852-4.853a.562.562 0 1 1 .796.796L9.795 9l4.853 4.852a.562.562 0 1 1-.796.796L9 9.795l-4.852 4.853a.562.562 0 1 1-.796-.796L8.205 9 3.351 4.148a.563.563 0 0 1 0-.796z"
                  fill="#161616"
                />
              </svg>
            </button>
          </li>
        </ul>
      </section>

      <div class="actions mt-6 flex items-center justify-end gap-4">
        <button class="btn gray-btn" (click)="close()">{{ 'COMMON.CANCEL' | translate }}</button>
        <button class="btn green-btn" (click)="saveAssignments()">
          {{ 'COMMON.SAVE' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
